@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States

<div class="giz-user-time-products-properties-header-tooltip-wrapper"
     id="@Id"
     @ref="@Ref">
    <div class="giz-user-time-products-properties-header-tooltip">
        <div class="giz-user-time-products-properties-header-tooltip-close-btn">
            <IconButton SVGIcon="Icons.Close_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="Close" />
        </div>

        <div class="giz-user-time-products-properties-header-tooltip-item">
            <div class="giz-user-time-products-properties-header-tooltip-item__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.14583 13.7708L12.5 11.625C12.7361 11.4792 12.8542 11.2726 12.8542 11.0052C12.8542 10.7378 12.7361 10.5278 12.5 10.375L9.14583 8.22917C8.89583 8.07639 8.64236 8.07292 8.38542 8.21875C8.12847 8.36458 8 8.58333 8 8.875V13.125C8 13.4167 8.12847 13.6354 8.38542 13.7812C8.64236 13.9271 8.89583 13.9236 9.14583 13.7708ZM3.5 17C3.0875 17 2.73438 16.8531 2.44063 16.5594C2.14688 16.2656 2 15.9125 2 15.5V5.75C2 5.5375 2.07187 5.35937 2.21562 5.21562C2.35937 5.07187 2.5375 5 2.75 5H7V3.49558C7 3.08186 7.14706 2.72917 7.44117 2.4375C7.73528 2.14583 8.08883 2 8.50183 2H11.5055C11.9185 2 12.2708 2.14688 12.5625 2.44063C12.8542 2.73438 13 3.0875 13 3.5V5H17.25C17.4625 5 17.6406 5.07187 17.7844 5.21562C17.9281 5.35937 18 5.5375 18 5.75V15.5C18 15.9125 17.8531 16.2656 17.5594 16.5594C17.2656 16.8531 16.9125 17 16.5 17H3.5ZM8.5 5H11.5V3.5H8.5V5Z" fill="white" fill-opacity="0.75" />
                </svg>
            </div>
            <div class="giz-user-time-products-properties-header-tooltip-item__description">
                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_AFTER_FIRST_USE_DESCRIPTION")
            </div>
        </div>

        <div class="giz-user-time-products-properties-header-tooltip-item">
            <div class="giz-user-time-products-properties-header-tooltip-item__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5833 16.6042L16.5417 15.3125C16.6528 15.2381 16.7083 15.1327 16.7083 14.9963C16.7083 14.8599 16.6528 14.7569 16.5417 14.6875L14.5874 13.3923C14.4597 13.3113 14.3299 13.3057 14.1979 13.3755C14.066 13.4452 14 13.5562 14 13.7083V16.2917C14 16.4387 14.0659 16.5484 14.1976 16.6207C14.3293 16.693 14.4579 16.6875 14.5833 16.6042ZM13.25 8C13.4625 8 13.6406 7.92855 13.7844 7.78565C13.9281 7.64273 14 7.46565 14 7.2544C14 7.04313 13.9281 6.86458 13.7844 6.71875C13.6406 6.57292 13.4625 6.5 13.25 6.5H6.75C6.5375 6.5 6.35938 6.57145 6.21563 6.71435C6.07188 6.85727 6 7.03435 6 7.2456C6 7.45687 6.07188 7.63542 6.21563 7.78125C6.35938 7.92708 6.5375 8 6.75 8H13.25ZM14.9953 19C13.8873 19 12.9444 18.6095 12.1667 17.8286C11.3889 17.0477 11 16.1033 11 14.9953C11 13.8873 11.3905 12.9444 12.1714 12.1667C12.9523 11.3889 13.8967 11 15.0047 11C16.1127 11 17.0556 11.3905 17.8333 12.1714C18.6111 12.9523 19 13.8967 19 15.0047C19 16.1127 18.6095 17.0556 17.8286 17.8333C17.0477 18.6111 16.1033 19 14.9953 19ZM4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V9.89583C16.6824 9.76621 16.3506 9.6713 16.0047 9.6111C15.6587 9.55092 15.31 9.52083 14.9583 9.52083V9.25H6.74652C6.53501 9.25 6.35771 9.32145 6.21463 9.46435C6.07154 9.60727 6 9.78435 6 9.9956C6 10.2069 6.07188 10.3854 6.21563 10.5312C6.35938 10.6771 6.5375 10.75 6.75 10.75H11.5C11.2793 10.9281 11.0748 11.122 10.8865 11.3315C10.6983 11.5411 10.5278 11.7639 10.375 12H6.75C6.5375 12 6.35938 12.0715 6.21563 12.2144C6.07188 12.3573 6 12.5344 6 12.7456C6 12.9569 6.07188 13.1354 6.21563 13.2812C6.35938 13.4271 6.5375 13.5 6.75 13.5H9.6875C9.61806 13.7361 9.56597 13.9792 9.53125 14.2292C9.49653 14.4792 9.47917 14.7361 9.47917 15C9.47917 15.4861 9.54514 15.9688 9.67708 16.4479C9.80903 16.9271 10 17.3819 10.25 17.8125L10.125 17.8958C10.0556 17.8958 9.99306 17.8889 9.9375 17.875C9.88194 17.8611 9.82485 17.8318 9.76621 17.787L9.0625 17.25C8.99811 17.1944 8.92299 17.1667 8.83713 17.1667C8.75126 17.1667 8.67361 17.1944 8.60417 17.25L7.89583 17.8125C7.83144 17.8681 7.75632 17.8958 7.67046 17.8958C7.5846 17.8958 7.50694 17.8681 7.4375 17.8125L6.72917 17.25C6.66478 17.1944 6.58965 17.1667 6.50379 17.1667C6.41793 17.1667 6.34028 17.1944 6.27083 17.25L5.5625 17.8125C5.49811 17.8681 5.42299 17.8958 5.33713 17.8958C5.25126 17.8958 5.17361 17.8681 5.10417 17.8125L4.39583 17.25C4.33144 17.1944 4.25632 17.1667 4.17046 17.1667C4.0846 17.1667 4.00694 17.1944 3.9375 17.25L3.20833 17.8125L3 17.8958V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3Z" fill="white" fill-opacity="0.75"/>
                </svg>
            </div>
            <div class="giz-user-time-products-properties-header-tooltip-item__description">
                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_AFTER_PURCHASE_DESCRIPTION")
            </div>
        </div>

        @*<div class="giz-user-time-products-properties-header-tooltip-item">
            <div class="giz-user-time-products-properties-header-tooltip-item__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.7544 11.5C6.54313 11.5 6.36458 11.4285 6.21875 11.2856C6.07292 11.1427 6 10.9656 6 10.7544C6 10.5431 6.07145 10.3646 6.21435 10.2188C6.35727 10.0729 6.53435 10 6.7456 10C6.95687 10 7.13542 10.0715 7.28125 10.2144C7.42708 10.3573 7.5 10.5344 7.5 10.7456C7.5 10.9569 7.42855 11.1354 7.28565 11.2812C7.14273 11.4271 6.96565 11.5 6.7544 11.5ZM10.0044 11.5C9.79313 11.5 9.61458 11.4285 9.46875 11.2856C9.32292 11.1427 9.25 10.9656 9.25 10.7544C9.25 10.5431 9.32145 10.3646 9.46435 10.2188C9.60727 10.0729 9.78435 10 9.9956 10C10.2069 10 10.3854 10.0715 10.5312 10.2144C10.6771 10.3573 10.75 10.5344 10.75 10.7456C10.75 10.9569 10.6785 11.1354 10.5356 11.2812C10.3927 11.4271 10.2156 11.5 10.0044 11.5ZM13.2544 11.5C13.0431 11.5 12.8646 11.4285 12.7188 11.2856C12.5729 11.1427 12.5 10.9656 12.5 10.7544C12.5 10.5431 12.5715 10.3646 12.7144 10.2188C12.8573 10.0729 13.0344 10 13.2456 10C13.4569 10 13.6354 10.0715 13.7812 10.2144C13.9271 10.3573 14 10.5344 14 10.7456C14 10.9569 13.9285 11.1354 13.7856 11.2812C13.6427 11.4271 13.4656 11.5 13.2544 11.5ZM4.5 18C4.0875 18 3.73437 17.8507 3.44062 17.5521C3.14687 17.2535 3 16.9028 3 16.5V5.5C3 5.09722 3.14687 4.74653 3.44062 4.44792C3.73437 4.14931 4.0875 4 4.5 4H6V2.75C6 2.5375 6.07145 2.35937 6.21435 2.21562C6.35727 2.07187 6.53435 2 6.7456 2C6.95687 2 7.13542 2.07187 7.28125 2.21562C7.42708 2.35937 7.5 2.5375 7.5 2.75V4H12.5V2.75C12.5 2.5375 12.5715 2.35937 12.7144 2.21562C12.8573 2.07187 13.0344 2 13.2456 2C13.4569 2 13.6354 2.07187 13.7812 2.21562C13.9271 2.35937 14 2.5375 14 2.75V4H15.5C15.9125 4 16.2656 4.14931 16.5594 4.44792C16.8531 4.74653 17 5.09722 17 5.5V16.5C17 16.9028 16.8531 17.2535 16.5594 17.5521C16.2656 17.8507 15.9125 18 15.5 18H4.5ZM4.5 16.5H15.5V9H4.5V16.5Z" fill="white" fill-opacity="0.75" />
                </svg>
            </div>
            <div class="giz-user-time-products-properties-header-tooltip-item__description">
                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_AFTER_DATE_TIME_DESCRIPTION")
            </div>
        </div>*@

        <div class="giz-user-time-products-properties-header-tooltip-item">
            <div class="giz-user-time-products-properties-header-tooltip-item__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.625 10.75H7.75C7.5375 10.75 7.35938 10.6785 7.21563 10.5356C7.07188 10.3927 7 10.2156 7 10.0044C7 9.79313 7.07188 9.61458 7.21563 9.46875C7.35938 9.32292 7.5375 9.25 7.75 9.25H16.625L15.9629 8.58785C15.8071 8.43206 15.7292 8.25347 15.7292 8.05208C15.7292 7.85069 15.8022 7.67361 15.9484 7.52083C16.1078 7.36806 16.2882 7.29167 16.4896 7.29167C16.691 7.29167 16.8678 7.36778 17.02 7.52002L18.98 9.47998C19.1322 9.63222 19.2083 9.80682 19.2083 10.0038C19.2083 10.2008 19.1319 10.3731 18.9792 10.5208L17.0199 12.4801C16.8678 12.6322 16.6944 12.7049 16.5 12.6979C16.3056 12.691 16.1286 12.6111 15.9692 12.4583C15.8231 12.3056 15.75 12.1285 15.75 11.9271C15.75 11.7257 15.8261 11.5489 15.9783 11.3967L16.625 10.75ZM12.5 7V4.5H4.5V15.5H12.5V13C12.5 12.7875 12.5715 12.6094 12.7144 12.4656C12.8573 12.3219 13.0344 12.25 13.2456 12.25C13.4569 12.25 13.6354 12.3219 13.7812 12.4656C13.9271 12.6094 14 12.7875 14 13V15.5C14 15.9125 13.8531 16.2656 13.5594 16.5594C13.2656 16.8531 12.9125 17 12.5 17H4.5C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H12.5C12.9125 3 13.2656 3.14688 13.5594 3.44063C13.8531 3.73438 14 4.0875 14 4.5V7C14 7.2125 13.9285 7.39063 13.7856 7.53438C13.6427 7.67813 13.4656 7.75 13.2544 7.75C13.0431 7.75 12.8646 7.67813 12.7188 7.53438C12.5729 7.39063 12.5 7.2125 12.5 7Z" fill="white" fill-opacity="0.75"/>
                </svg>
            </div>
            <div class="giz-user-time-products-properties-header-tooltip-item__description">
                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_AFTER_LOGOUT_DESCRIPTION")
            </div>
        </div>

        <div class="giz-user-time-products-properties-header-tooltip-indicator">
            <div class="giz-user-time-products-properties-header-tooltip-indicator__active"></div>
            <div class="giz-user-time-products-properties-header-tooltip-indicator__description">
                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_EXPIRATION_COUNTDOWN_STARTED_DESCRIPTION")
            </div>
        </div>
    </div>
</div>