@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States

@if (_userProductViewState.ProductType == ProductType.ProductTime)
{
    <ClientTooltip>
        <ChildContent>
            <div class="giz-user-time-products-properties">
                @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAfterTime) ||
                     _userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                {
                    @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Use)
                    {
                        <div class="giz-user-time-products-property @(FirstUsageTime.HasValue ? "active" : "")">
                            <Icon SVGIcon="Icons.ExpirationFromUse_Client" />
                        </div>
                    }
                    @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Purchase)
                    {
                        <div class="giz-user-time-products-property active">
                            <Icon SVGIcon="Icons.ExpirationFromPurchase_Client" />
                        </div>
                    }
                }
                @*@if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                {
                    <div class="giz-user-time-products-property">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.7544 11.5C6.54313 11.5 6.36458 11.4285 6.21875 11.2856C6.07292 11.1427 6 10.9656 6 10.7544C6 10.5431 6.07145 10.3646 6.21435 10.2188C6.35727 10.0729 6.53435 10 6.7456 10C6.95687 10 7.13542 10.0715 7.28125 10.2144C7.42708 10.3573 7.5 10.5344 7.5 10.7456C7.5 10.9569 7.42855 11.1354 7.28565 11.2812C7.14273 11.4271 6.96565 11.5 6.7544 11.5ZM10.0044 11.5C9.79313 11.5 9.61458 11.4285 9.46875 11.2856C9.32292 11.1427 9.25 10.9656 9.25 10.7544C9.25 10.5431 9.32145 10.3646 9.46435 10.2188C9.60727 10.0729 9.78435 10 9.9956 10C10.2069 10 10.3854 10.0715 10.5312 10.2144C10.6771 10.3573 10.75 10.5344 10.75 10.7456C10.75 10.9569 10.6785 11.1354 10.5356 11.2812C10.3927 11.4271 10.2156 11.5 10.0044 11.5ZM13.2544 11.5C13.0431 11.5 12.8646 11.4285 12.7188 11.2856C12.5729 11.1427 12.5 10.9656 12.5 10.7544C12.5 10.5431 12.5715 10.3646 12.7144 10.2188C12.8573 10.0729 13.0344 10 13.2456 10C13.4569 10 13.6354 10.0715 13.7812 10.2144C13.9271 10.3573 14 10.5344 14 10.7456C14 10.9569 13.9285 11.1354 13.7856 11.2812C13.6427 11.4271 13.4656 11.5 13.2544 11.5ZM4.5 18C4.0875 18 3.73437 17.8507 3.44062 17.5521C3.14687 17.2535 3 16.9028 3 16.5V5.5C3 5.09722 3.14687 4.74653 3.44062 4.44792C3.73437 4.14931 4.0875 4 4.5 4H6V2.75C6 2.5375 6.07145 2.35937 6.21435 2.21562C6.35727 2.07187 6.53435 2 6.7456 2C6.95687 2 7.13542 2.07187 7.28125 2.21562C7.42708 2.35937 7.5 2.5375 7.5 2.75V4H12.5V2.75C12.5 2.5375 12.5715 2.35937 12.7144 2.21562C12.8573 2.07187 13.0344 2 13.2456 2C13.4569 2 13.6354 2.07187 13.7812 2.21562C13.9271 2.35937 14 2.5375 14 2.75V4H15.5C15.9125 4 16.2656 4.14931 16.5594 4.44792C16.8531 4.74653 17 5.09722 17 5.5V16.5C17 16.9028 16.8531 17.2535 16.5594 17.5521C16.2656 17.8507 15.9125 18 15.5 18H4.5ZM4.5 16.5H15.5V9H4.5V16.5Z" fill="white" fill-opacity="0.75" />
                        </svg>
                    </div>
                }*@
                @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpiresAtLogout))
                {
                    <div class="giz-user-time-products-property">
                        <Icon SVGIcon="Icons.ExpirationAtLogout_Client" />
                    </div>
                }
            </div>
        </ChildContent>
        <TooltipContent>
            <div class="giz-user-time-products-properties-tooltip">
                <div class="giz-user-time-products-properties-tooltip__header">
                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_TOOLTIP_HEADER")
                </div>
                <div class="giz-user-time-products-properties-tooltip__body">
                    @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAfterTime) ||
                         _userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                    {
                        <div class="giz-user-time-products-properties-tooltip-item @(FirstUsageTime.HasValue ? "active" : "")">
                            @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Use)
                            {
                                <div class="giz-user-time-products-properties-tooltip-item__icon">
                                    <Icon SVGIcon="Icons.ExpirationFromUse_Client" />
                                </div>
                                <div class="giz-user-time-products-properties-tooltip-item__description">
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_FROM_USE", GetTime())
                                </div>
                            }
                            @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Purchase)
                            {
                                <div class="giz-user-time-products-properties-tooltip-item__icon">
                                    <Icon SVGIcon="Icons.ExpirationFromPurchase_Client" />
                                </div>
                                <div class="giz-user-time-products-properties-tooltip-item__description">
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_FROM_PURCHASE", GetTime())
                                </div>
                            }
                        </div>
                    }
                    @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpiresAtLogout))
                    {
                        <div class="giz-user-time-products-properties-tooltip-item">
                            <div class="giz-user-time-products-properties-tooltip-item__icon">
                                <Icon SVGIcon="Icons.ExpirationAtLogout_Client" />
                            </div>
                            <div class="giz-user-time-products-properties-tooltip-item__description">
                                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_LOGOUT")
                            </div>
                        </div>
                    }
                </div>
                @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAfterTime) ||
                     _userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                {
                    @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Use)
                    {
                        @if (FirstUsageTime.HasValue)
                        {
                            <div class="giz-user-time-products-properties-tooltip__footer">@LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_ACTIVATED", @FirstUsageTime.Value.ToLocalTime().ToString())</div>
                        }
                    }
                    else
                    {
                        @if (PurchaseTime.HasValue)
                        {
                            <div class="giz-user-time-products-properties-tooltip__footer">@LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_ACTIVATED", @PurchaseTime.Value.ToLocalTime().ToString())</div>
                        }
                    }
                }
            </div>
        </TooltipContent>
    </ClientTooltip>
}