@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States

<div class="giz-profile giz-scrollbar--v">
    <div class="giz-profile__body-wrapper">
        <div class="giz-profile__body">
            <ProfileHeader />
    
            <ProfileNavigation />

            <div class="giz-user-history giz-user-time-products">
                <div class="giz-user-history__header">
                    Available time
                </div>

                <div class="giz-user-history__body">
                    <DataGrid ItemSource="@ViewState.TimeProducts.ToList()"
                              Context="timeProducts"
                              HasStickyHeader="true"
                              Class="giz-scrollbar--v">
                        <ChildContent>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.ActivationOrder))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.4167 10.5H11.75C11.5375 10.5 11.3594 10.5715 11.2156 10.7144C11.0719 10.8573 11 11.0344 11 11.2456C11 11.4569 11.0719 11.6354 11.2156 11.7812C11.3594 11.9271 11.5375 12 11.75 12H14.25C14.4625 12 14.6406 11.9281 14.7844 11.7844C14.9281 11.6406 15 11.4625 15 11.25V8.75C15 8.5375 14.9285 8.35937 14.7856 8.21562C14.6427 8.07187 14.4656 8 14.2544 8C14.0431 8 13.8646 8.07187 13.7188 8.21562C13.5729 8.35937 13.5 8.5375 13.5 8.75V9.41667C13.0972 8.86111 12.5825 8.41667 11.9557 8.08333C11.3289 7.75 10.6423 7.58333 9.89583 7.58333C8.8125 7.58333 7.86806 7.92361 7.0625 8.60417C6.25694 9.28472 5.74306 10.1319 5.52083 11.1458C5.47917 11.3681 5.52083 11.566 5.64583 11.7396C5.77083 11.9132 5.94444 12 6.16667 12C6.38889 12 6.57292 11.9201 6.71875 11.7604C6.86458 11.6007 6.97222 11.4167 7.04167 11.2083C7.23179 10.5867 7.58488 10.0772 8.10092 9.67963C8.61697 9.2821 9.21528 9.08333 9.89583 9.08333C10.4236 9.08333 10.9097 9.21528 11.3542 9.47917C11.7986 9.74306 12.1528 10.0833 12.4167 10.5ZM10.0058 18C8.90469 18 7.86806 17.7917 6.89583 17.375C5.92361 16.9583 5.07292 16.3854 4.34375 15.6562C3.61458 14.9271 3.04167 14.0767 2.625 13.105C2.20833 12.1334 2 11.0952 2 9.99046C2 8.88571 2.20833 7.85069 2.625 6.88542C3.04167 5.92014 3.61458 5.07292 4.34375 4.34375C5.07292 3.61458 5.92332 3.04167 6.89496 2.625C7.86661 2.20833 8.90481 2 10.0095 2C11.1143 2 12.1493 2.20833 13.1146 2.625C14.0799 3.04167 14.9271 3.61458 15.6562 4.34375C16.3854 5.07292 16.9583 5.92169 17.375 6.89008C17.7917 7.85849 18 8.89321 18 9.99425C18 11.0953 17.7917 12.1319 17.375 13.1042C16.9583 14.0764 16.3854 14.9271 15.6562 15.6562C14.9271 16.3854 14.0783 16.9583 13.1099 17.375C12.1415 17.7917 11.1068 18 10.0058 18Z" fill="white" fill-opacity="0.6"/>
                                    </svg>
                                </HeaderTemplate>
                                <CellTemplate>
                                    <div class="giz-user-time-products-order">
                                        @timeProduct.ActivationOrder
                                    </div>
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.TimeProductType))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    Time Product
                                </HeaderTemplate>
                                <CellTemplate>
                                    <ProductsProductType TimeProduct="@timeProduct" />
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.Source))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    Title
                                </HeaderTemplate>
                                <CellTemplate>
                                    @timeProduct.Source
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.Time))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    <div class="giz-user-time-products-time">
                                        <div>
                                            Time
                                        </div>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_7277_4132" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                                            <rect width="16" height="16" fill="#D9D9D9"/>
                                            </mask>
                                            <g mask="url(#mask0_7277_4132)">
                                            <path d="M7.9663 12.0172C8.2111 12.0172 8.4167 11.9337 8.5831 11.7668C8.75003 11.6004 8.8335 11.3951 8.8335 11.1508C8.8335 10.906 8.75003 10.7004 8.5831 10.534C8.4167 10.3671 8.2111 10.2836 7.9663 10.2836C7.72203 10.2836 7.5167 10.3671 7.3503 10.534C7.18336 10.7004 7.0999 10.906 7.0999 11.1508C7.0999 11.3951 7.18336 11.6004 7.3503 11.7668C7.5167 11.9337 7.72203 12.0172 7.9663 12.0172ZM8.0495 5.16678C8.36096 5.16678 8.61376 5.25025 8.8079 5.41718C9.00256 5.58358 9.0999 5.79452 9.0999 6.04998C9.0999 6.22812 9.03883 6.41718 8.9167 6.61718C8.79456 6.81718 8.6223 7.01158 8.3999 7.20038C8.04416 7.51132 7.78576 7.79745 7.6247 8.05878C7.46363 8.31958 7.3831 8.57798 7.3831 8.83398C7.3831 9.00038 7.43883 9.13905 7.5503 9.24998C7.66123 9.36145 7.8055 9.41718 7.9831 9.41718C8.15003 9.41718 8.29723 9.36145 8.4247 9.24998C8.5527 9.13905 8.63323 8.98918 8.6663 8.80038C8.6999 8.62278 8.7751 8.45345 8.8919 8.29238C9.00816 8.13078 9.19963 7.92225 9.4663 7.66678C9.82203 7.33345 10.0639 7.03638 10.1919 6.77558C10.3194 6.51425 10.3831 6.22812 10.3831 5.91718C10.3831 5.33905 10.1722 4.87238 9.7503 4.51718C9.3279 4.16145 8.77216 3.98358 8.0831 3.98358C7.61643 3.98358 7.20816 4.07532 6.8583 4.25878C6.50843 4.44225 6.20576 4.71718 5.9503 5.08358C5.86123 5.20572 5.83616 5.33905 5.8751 5.48358C5.91403 5.62812 5.99456 5.75025 6.1167 5.84998C6.26123 5.96145 6.42496 5.99772 6.6079 5.95878C6.79136 5.91985 6.94416 5.81692 7.0663 5.64998C7.18843 5.49478 7.3303 5.37558 7.4919 5.29238C7.65296 5.20865 7.83883 5.16678 8.0495 5.16678ZM7.9999 14.6668C7.08896 14.6668 6.2279 14.4919 5.4167 14.142C4.6055 13.7921 3.89723 13.3172 3.2919 12.7172C2.68603 12.1172 2.20816 11.4116 1.8583 10.6004C1.50843 9.78918 1.3335 8.92252 1.3335 8.00038C1.3335 7.07825 1.50843 6.21158 1.8583 5.40038C2.20816 4.58918 2.68603 3.88358 3.2919 3.28358C3.89723 2.68358 4.6055 2.20865 5.4167 1.85878C6.2279 1.50892 7.08896 1.33398 7.9999 1.33398C8.93323 1.33398 9.8055 1.50892 10.6167 1.85878C11.4279 2.20865 12.1335 2.68358 12.7335 3.28358C13.3335 3.88358 13.8058 4.58918 14.1503 5.40038C14.4943 6.21158 14.6663 7.07825 14.6663 8.00038C14.6663 8.92252 14.4943 9.78918 14.1503 10.6004C13.8058 11.4116 13.3335 12.1172 12.7335 12.7172C12.1335 13.3172 11.4279 13.7921 10.6167 14.142C9.8055 14.4919 8.93323 14.6668 7.9999 14.6668Z" fill="white" fill-opacity="0.75"/>
                                            </g>
                                        </svg>
                                    </div>
                                </HeaderTemplate>
                                <CellTemplate>
                                    @timeProduct.Time
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.PurchaseDate))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    Purchase date
                                </HeaderTemplate>
                                <CellTemplate>
                                    @timeProduct.PurchaseDate.ToString()
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.Source))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    Properties
                                </HeaderTemplate>
                                <CellTemplate>
                                    @timeProduct.Source
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.AvailableHostGroups))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    Hosts
                                </HeaderTemplate>
                                <CellTemplate>
                                    <ProductsProductHosts TimeProduct="@timeProduct" />
                                </CellTemplate>
                            </DataGridColumn>
                        </ChildContent>
                    </DataGrid>
                </div>

                @*<div class="giz-user-history__footer">
                    <Button LeftSVGIcon="Icons.ArrowLeft_Client" Variant="ButtonVariants.Text" IsDisabled="@(ViewState.PrevCursor == null)" @onclick="TimeProductsService.LoadPrevious" />
                    <Button LeftSVGIcon="Icons.ArrowRight_Client" Variant="ButtonVariants.Text" IsDisabled="@(ViewState.NextCursor == null)" @onclick="TimeProductsService.LoadNext" />
                </div>*@
            </div>

        </div>
    </div>
</div>