@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States

<div class="giz-profile giz-scrollbar--v">
    <div class="giz-profile__body-wrapper">
        <div class="giz-profile__body">
            <ProfileHeader />
    
            <ProfileNavigation />

            <div class="giz-user-history giz-user-time-products">
                <div class="giz-user-history__header">
                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_TITLE")
                </div>

                <div class="giz-user-history__body">
                    <DataGrid ItemSource="@ViewState.TimeProducts.ToList()"
                              Context="timeProducts"
                              HasStickyHeader="true"
                              Class="giz-scrollbar--v">
                        <ChildContent>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.ActivationOrder))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    <Icon SVGIcon="Icons.ActivationOrder_Client" Size="IconSizes.Small" Class="giz-user-time-products-order-icon" />
                                </HeaderTemplate>
                                <CellTemplate>
                                    <div class="giz-user-time-products-order @(timeProduct.ActivationOrder == 1 ? "giz-user-time-products-order--current" : "")">
                                        @timeProduct.ActivationOrder
                                    </div>
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.TimeProductType))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_TIME_PRODUCT")
                                </HeaderTemplate>
                                <CellTemplate>
                                    <ProductsProductType TimeProduct="@timeProduct" />
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.Source))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_SOURCE")
                                </HeaderTemplate>
                                <CellTemplate>
                                    @timeProduct.Source
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.Time))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    <div class="giz-user-time-products-time">
                                        <div>
                                            @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_TIME")
                                        </div>
                                        @*<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_7277_4132" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                                            <rect width="16" height="16" fill="#D9D9D9"/>
                                            </mask>
                                            <g mask="url(#mask0_7277_4132)">
                                            <path d="M7.9663 12.0172C8.2111 12.0172 8.4167 11.9337 8.5831 11.7668C8.75003 11.6004 8.8335 11.3951 8.8335 11.1508C8.8335 10.906 8.75003 10.7004 8.5831 10.534C8.4167 10.3671 8.2111 10.2836 7.9663 10.2836C7.72203 10.2836 7.5167 10.3671 7.3503 10.534C7.18336 10.7004 7.0999 10.906 7.0999 11.1508C7.0999 11.3951 7.18336 11.6004 7.3503 11.7668C7.5167 11.9337 7.72203 12.0172 7.9663 12.0172ZM8.0495 5.16678C8.36096 5.16678 8.61376 5.25025 8.8079 5.41718C9.00256 5.58358 9.0999 5.79452 9.0999 6.04998C9.0999 6.22812 9.03883 6.41718 8.9167 6.61718C8.79456 6.81718 8.6223 7.01158 8.3999 7.20038C8.04416 7.51132 7.78576 7.79745 7.6247 8.05878C7.46363 8.31958 7.3831 8.57798 7.3831 8.83398C7.3831 9.00038 7.43883 9.13905 7.5503 9.24998C7.66123 9.36145 7.8055 9.41718 7.9831 9.41718C8.15003 9.41718 8.29723 9.36145 8.4247 9.24998C8.5527 9.13905 8.63323 8.98918 8.6663 8.80038C8.6999 8.62278 8.7751 8.45345 8.8919 8.29238C9.00816 8.13078 9.19963 7.92225 9.4663 7.66678C9.82203 7.33345 10.0639 7.03638 10.1919 6.77558C10.3194 6.51425 10.3831 6.22812 10.3831 5.91718C10.3831 5.33905 10.1722 4.87238 9.7503 4.51718C9.3279 4.16145 8.77216 3.98358 8.0831 3.98358C7.61643 3.98358 7.20816 4.07532 6.8583 4.25878C6.50843 4.44225 6.20576 4.71718 5.9503 5.08358C5.86123 5.20572 5.83616 5.33905 5.8751 5.48358C5.91403 5.62812 5.99456 5.75025 6.1167 5.84998C6.26123 5.96145 6.42496 5.99772 6.6079 5.95878C6.79136 5.91985 6.94416 5.81692 7.0663 5.64998C7.18843 5.49478 7.3303 5.37558 7.4919 5.29238C7.65296 5.20865 7.83883 5.16678 8.0495 5.16678ZM7.9999 14.6668C7.08896 14.6668 6.2279 14.4919 5.4167 14.142C4.6055 13.7921 3.89723 13.3172 3.2919 12.7172C2.68603 12.1172 2.20816 11.4116 1.8583 10.6004C1.50843 9.78918 1.3335 8.92252 1.3335 8.00038C1.3335 7.07825 1.50843 6.21158 1.8583 5.40038C2.20816 4.58918 2.68603 3.88358 3.2919 3.28358C3.89723 2.68358 4.6055 2.20865 5.4167 1.85878C6.2279 1.50892 7.08896 1.33398 7.9999 1.33398C8.93323 1.33398 9.8055 1.50892 10.6167 1.85878C11.4279 2.20865 12.1335 2.68358 12.7335 3.28358C13.3335 3.88358 13.8058 4.58918 14.1503 5.40038C14.4943 6.21158 14.6663 7.07825 14.6663 8.00038C14.6663 8.92252 14.4943 9.78918 14.1503 10.6004C13.8058 11.4116 13.3335 12.1172 12.7335 12.7172C12.1335 13.3172 11.4279 13.7921 10.6167 14.142C9.8055 14.4919 8.93323 14.6668 7.9999 14.6668Z" fill="white" fill-opacity="0.75"/>
                                            </g>
                                        </svg>*@
                                    </div>
                                </HeaderTemplate>
                                <CellTemplate>
                                    @if (!string.IsNullOrEmpty(timeProduct.Time))
                                    {
                                        @timeProduct.Time
                                    }
                                    else
                                    {
                                        <Icon SVGIcon="Icons.Infinite" Class="giz-user-time-infinite" Color="#FFC700" />
                                    }
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.PurchaseDate))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PURCHASE_DATE")
                                </HeaderTemplate>
                                <CellTemplate>
                                    @timeProduct.PurchaseDate.ToString()
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.ExpirationDate))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_AVAILABLE")
                                </HeaderTemplate>
                                <CellTemplate>
                                    @if (timeProduct.ExpirationDate.HasValue)
                                    {
                                        @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_AVAILABLE_UNTIL", @timeProduct.ExpirationDate.ToString())
                                    }
                                </CellTemplate>
                            </DataGridColumn>
                            @*<DataGridColumn Field="@(nameof(TimeProductViewState.ProductId))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES")
                                </HeaderTemplate>
                                <CellTemplate>
                                    @if (@timeProduct.ProductId.HasValue)
                                    {
                                        <ProductsProperties ProductId="@timeProduct.ProductId.Value" />
                                    }
                                </CellTemplate>
                            </DataGridColumn>*@
                            <DataGridColumn Field="@(nameof(TimeProductViewState.AvailableHostGroups))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate>
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_HOSTS")
                                </HeaderTemplate>
                                <CellTemplate>
                                    <ProductsProductHosts TimeProduct="@timeProduct" />
                                </CellTemplate>
                            </DataGridColumn>
                            <DataGridColumn Field="@(nameof(TimeProductViewState.AvailableHostGroups))" TItemType="TimeProductViewState" Context="timeProduct">
                                <HeaderTemplate></HeaderTemplate>
                                <CellTemplate>
                                    @if (timeProduct.TimeProductType == UsageType.TimeOffer && timeProduct.ProductId.HasValue)
                                    {
                                        <IconButton Variant="ButtonVariants.Text" SVGIcon="Icons.Open_Client" Size="ButtonSizes.Small" @onclick="@(() => OpenDetails(timeProduct.ProductId.Value))" />
                                        @*TODO: AAA SIZE 20*@
                                    }
                                </CellTemplate>
                            </DataGridColumn>
                        </ChildContent>
                    </DataGrid>
                </div>

            </div>

        </div>
    </div>
</div>