@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States

@if (_userProductViewState.ProductType == ProductType.ProductTime)
{
    <ClientTooltip>
        <ChildContent>
            <div class="giz-user-time-products-properties">
                @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAfterTime) ||
                     _userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                {
                    @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Use)
                    {
                        <div class="giz-user-time-products-property @(FirstUsageTime.HasValue ? "active" : "")">
                            <Icon SVGIcon="Icons.ExpirationFromUse_Client" />
                        </div>
                    }
                    @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Purchase)
                    {
                        <div class="giz-user-time-products-property active">
                            <Icon SVGIcon="Icons.ExpirationFromPurchase_Client" />
                        </div>
                    }
                }
                @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpiresAtLogout))
                {
                    <div class="giz-user-time-products-property">
                        <Icon SVGIcon="Icons.ExpirationAtLogout_Client" />
                    </div>
                }
            </div>
        </ChildContent>
        <TooltipContent>
            <div class="giz-user-time-products-properties-tooltip">
                <div class="giz-user-time-products-properties-tooltip__header">
                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_TOOLTIP_HEADER")
                </div>
                <div class="giz-user-time-products-properties-tooltip__body">
                    @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAfterTime) ||
                         _userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                    {
                        <div class="giz-user-time-products-properties-tooltip-item @(FirstUsageTime.HasValue ? "active" : "")">
                            @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Use)
                            {
                                <div class="giz-user-time-products-properties-tooltip-item__icon">
                                    <Icon SVGIcon="Icons.ExpirationFromUse_Client" />
                                </div>
                                <div class="giz-user-time-products-properties-tooltip-item__description">
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_FROM_USE", GetTime())
                                </div>
                            }
                            @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Purchase)
                            {
                                <div class="giz-user-time-products-properties-tooltip-item__icon">
                                    <Icon SVGIcon="Icons.ExpirationFromPurchase_Client" />
                                </div>
                                <div class="giz-user-time-products-properties-tooltip-item__description">
                                    @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_FROM_PURCHASE", GetTime())
                                </div>
                            }
                        </div>
                    }
                    @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpiresAtLogout))
                    {
                        <div class="giz-user-time-products-properties-tooltip-item">
                            <div class="giz-user-time-products-properties-tooltip-item__icon">
                                <Icon SVGIcon="Icons.ExpirationAtLogout_Client" />
                            </div>
                            <div class="giz-user-time-products-properties-tooltip-item__description">
                                @LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_LOGOUT")
                            </div>
                        </div>
                    }
                </div>
                @if (_userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAfterTime) ||
                     _userProductViewState.TimeProduct.ExpirationOptions.HasFlag(ProductTimeExpirationOptionType.ExpireAtDayTime))
                {
                    @if (_userProductViewState.TimeProduct.ExpireFromOptions == ExpireFromOptionType.Use)
                    {
                        @if (FirstUsageTime.HasValue)
                        {
                            <div class="giz-user-time-products-properties-tooltip__footer">@LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_ACTIVATED", @FirstUsageTime.Value.ToLocalTime().ToString())</div>
                        }
                    }
                    else
                    {
                        @if (PurchaseTime.HasValue)
                        {
                            <div class="giz-user-time-products-properties-tooltip__footer">@LocalizationService.GetString("GIZ_USER_TIME_PRODUCTS_PROPERTIES_EXPIRES_ACTIVATED", @PurchaseTime.Value.ToLocalTime().ToString())</div>
                        }
                    }
                }
            </div>
        </TooltipContent>
    </ClientTooltip>
}