@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService 

<div class="giz-profile">
    <div class="giz-profile__body">
        <ProfileHeader />
    
        <ProfileNavigation />

        <div class="giz-profile-user-details">
            <div class="giz-profile-user-details__header">
                @localizationService.GetString("GIZ_USER_BASIC_INFORMATION")
                @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    <path d="M13.9792 3.76863L17.1111 6.97163C17.2431 7.10656 17.2431 7.32673 17.1111 7.46166L9.52778 15.217L6.30556 15.5828C5.875 15.6325 5.51042 15.2597 5.55903 14.8193L5.91667 11.524L13.5 3.76863C13.6319 3.63369 13.8472 3.63369 13.9792 3.76863ZM19.6042 2.95545L17.9097 1.22256C17.3819 0.682811 16.5243 0.682811 15.9931 1.22256L14.7639 2.47962C14.6319 2.61455 14.6319 2.83472 14.7639 2.96965L17.8958 6.17265C18.0278 6.30759 18.2431 6.30759 18.375 6.17265L19.6042 4.9156C20.1319 4.3723 20.1319 3.4952 19.6042 2.95545ZM13.3333 13.1077V16.7227H2.22222V5.35947H10.2014C10.3125 5.35947 10.4167 5.31331 10.4965 5.23519L11.8854 3.81479C12.1493 3.54491 11.9618 3.08684 11.5903 3.08684H1.66667C0.746528 3.08684 0 3.8503 0 4.79131V17.2908C0 18.2318 0.746528 18.9953 1.66667 18.9953H13.8889C14.809 18.9953 15.5556 18.2318 15.5556 17.2908V11.6874C15.5556 11.3074 15.1076 11.1192 14.8438 11.3855L13.4549 12.8059C13.3785 12.8876 13.3333 12.9941 13.3333 13.1077Z" fill="white" />
                </svg>*@
                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 22.0001C1.45 22.0001 0.979333 21.8044 0.588 21.4131C0.196 21.0211 0 20.5501 0 20.0001C0 19.4501 0.196 18.9791 0.588 18.5871C0.979333 18.1957 1.45 18.0001 2 18.0001H18C18.55 18.0001 19.021 18.1957 19.413 18.5871C19.8043 18.9791 20 19.4501 20 20.0001C20 20.5501 19.8043 21.0211 19.413 21.4131C19.021 21.8044 18.55 22.0001 18 22.0001H2ZM3 16.0001C2.71667 16.0001 2.479 15.9041 2.287 15.7121C2.09567 15.5207 2 15.2834 2 15.0001V12.6751C2 12.5417 2.025 12.4124 2.075 12.2871C2.125 12.1624 2.2 12.0501 2.3 11.9501L11.05 3.20006L14.8 6.95006L6.05 15.7001C5.95 15.8001 5.83767 15.8751 5.713 15.9251C5.58767 15.9751 5.45833 16.0001 5.325 16.0001H3ZM15.925 5.85006L12.175 2.10006L13.975 0.300058C14.1583 0.100058 14.3917 0.00405822 14.675 0.0120582C14.9583 0.0207249 15.1917 0.116725 15.375 0.300058L17.725 2.65006C17.9083 2.83339 18 3.06272 18 3.33806C18 3.61272 17.9083 3.85006 17.725 4.05006L15.925 5.85006Z" fill="#FAFAFA"/>
                </svg>
            </div>
            <div class="giz-user-information">
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_FIRST_NAME")
                </div>
                <div class="giz-user-information--text">
                    @UserService.ViewState.FirstName
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_LAST_NAME")
                </div>
                <div class="giz-user-information--text">
                    @UserService.ViewState.LastName
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_GEN_EMAIL")
                </div>
                <div class="giz-user-information--text">
                    @UserService.ViewState.Email
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_HOME_PHONE")
                </div>
                <div class="giz-user-information--text">
                    @UserService.ViewState.Phone
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_GENDER")
                </div>
                <div class="giz-user-information--text">
                    Male@*TODO: A*@
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_BIRTH_DATE")
                </div>
                <div class="giz-user-information--text">
                    @UserService.ViewState.BirthDate
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_COUNTRY_REGION")
                </div>
                <div class="giz-user-information--text">
                    <img src="https://i.postimg.cc/RVJGVJK1/Flag.png" alt="loading" />@*TODO: A*@
                    @UserService.ViewState.Country
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_ADDRESS")
                </div>
                <div class="giz-user-information--text giz-user-information--not-available">
                    @UserService.ViewState.Address
                </div>
                <div class="giz-user-information--label">
                    @localizationService.GetString("GIZ_USER_POST_CODE")
                </div>
                <div class="giz-user-information--text giz-user-information--not-available">
                    N/A@*TODO: A*@
                </div>
            </div>
        </div>
    </div>
</div>
