@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.Client.UI.View.States

<div class="giz-profile">
    <div class="giz-profile__body">
        <ProfileHeader />
    
        <ProfileNavigation />

        <div class="giz-profile-user-purchases">
            <div class="giz-profile-user-purchases__header">
                Purchase History
            </div>

            <div class="giz-table-history">
                <DataGrid ItemSource="@PurchasesService.ViewState.Purchases"
                          Context="purchases"
                          HasStickyHeader="true"
                          Class="giz-scrollbar--v">
                    <ChildContent>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.ProductName))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Order
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.ProductName
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.ProductName))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Order status
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.ProductName
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.OrderDate))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Date
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.OrderDate.ToString()
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.PaymentMethod))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Payment method
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.PaymentMethod
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.Total))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Order price
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.Total
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.Total))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Payment status
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.Total
                            </CellTemplate>
                        </DataGridColumn>
                    </ChildContent>
                </DataGrid>
            </div>
        </div>

    </div>
</div>