@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.Client.UI.View.States
@using Gizmo
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-profile">
    <div class="giz-profile__body">
        <ProfileHeader />
    
        <ProfileNavigation />

        <div class="giz-profile-user-purchases">
            <div class="giz-profile-user-purchases__header">
                Purchase History
            </div>

            <div class="giz-table-history">
                <DataGrid ItemSource="@PurchasesService.ViewState.Purchases"
                          Context="purchases"
                          HasStickyHeader="true"
                          Class="giz-scrollbar--v">
                    <DetailTemplate>
                        <div class="purchase-details">
                            <table class="purchase-details__products">
                                @if (purchases.ProductType == ProductType.ProductBundle)
                                {
                                    @foreach (var product in purchases.BundledProducts)
                                    {
                                        <tr><td class="purchase-details-name">Bundle item</td><td>quantity</td><td>price</td></tr>
                                    }
                                }
                                else
                                {
                                    <tr><td class="purchase-details-name">Bundle item</td><td>quantity</td><td>price</td></tr>
                                }
                            </table>
                            <table class="purchase-details__details">
                                <tr><td class="purchase-details-title">Order comments:</td><td>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat d...</td></tr>
                                <tr><td class="purchase-details-points">Points</td><td>???</td></tr>
                                <tr><td class="purchase-details-title">Charged:</td><td>Paid so far?</td></tr>
                                <tr><td class="purchase-details-title">Operator:</td><td>georgecht09</td></tr>@*TODO: A ???*@
                                <tr><td class="purchase-details-invoice">Invoice</td><td></td></tr>@*TODO: A ???*@
                                <tr><td><Button Color="ButtonColors.Accent" Text="Repeat order" /></td><td></td></tr>
                            </table>
                        </div>
                    </DetailTemplate>
                    <ChildContent>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.ProductName))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Order
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.ProductName
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.OrderStatus))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Order status
                            </HeaderTemplate>
                            <CellTemplate>
                                @switch (purchase.OrderStatus)
                                {
                                    case OrderStatus.OnHold:
                                        <div class="order-on-hold">@localizationService.GetString("ORDER_STATUS_ON_HOLD")</div>
                                        @*TODO: A ADD ENUM TO localizationService*@
                                        break;

                                    case OrderStatus.Completed:
                                        <div class="order-completed">@localizationService.GetString("ORDER_STATUS_COMPLETED")</div>
                                        break;

                                    case OrderStatus.Canceled:
                                        <div class="order-canceled">@localizationService.GetString("ORDER_STATUS_CANCELED")</div>
                                        break;

                                    case OrderStatus.Accepted:
                                        <div class="order-accepted">@localizationService.GetString("ORDER_STATUS_ACCEPTED")</div>
                                        break;
                                }
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.OrderDate))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Date
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.OrderDate.ToString()
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.PaymentMethod))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Payment method
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.PaymentMethod
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.Total))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Order price
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.Total
                            </CellTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@(nameof(PurchaseViewState.Total))" TItemType="PurchaseViewState" Context="purchase">
                            <HeaderTemplate>
                                Payment status
                            </HeaderTemplate>
                            <CellTemplate>
                                @purchase.Total
                            </CellTemplate>
                        </DataGridColumn>
                    </ChildContent>
                </DataGrid>
            </div>
        </div>

    </div>
</div>