@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using System.Threading;

<div class="giz-settings giz-scrollbar--v">
    <div class="giz-settings__content">
        <div class="giz-settings__content__header">
            <div class="giz-settings__content__header__icon" @onclick="OnClickChangePictureButtonHandler">
                <Icon Size="IconSizes.ExtraLarge" SVGIcon="Icons.AccountCircle_Client" />
            </div>
            <div class="giz-settings__content__header__title">@LocalizationService.GetString("GIZ_USER_SETTINGS_TITLE")</div>
            <div class="giz-settings__content__header__subtitle">@LocalizationService.GetString("GIZ_USER_ADDITIONAL_INFORMATION")</div>
        </div>
        <div class="giz-settings__content__body">
            
            <div class="giz-section">
                <div class="giz-section__header">@LocalizationService.GetString("GIZ_GEN_USERNAME")</div>
                <div class="giz-section__body">
                    <div class="giz-form-input">
                        <TextInput Value="@ViewState.Username"
                                   ValueChanged="@((string value) => UserSettingsService.SetUsername(value))"
                                   ValueExpression="@(() => ViewState.Username)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_USER_USERNAME_MESSAGE")" />
                    </div>
                </div>
            </div>
            
            <ExpansionPanel>
                <Header>@LocalizationService.GetString("GIZ_USER_PERSONAL_INFORMATION")</Header>
                <ChildContent>
                    <div class="giz-form-input giz-form-input-columns">
                        <TextInput Value="@ViewState.FirstName"
                                   ValueChanged="@((string value) => UserSettingsService.SetFirstName(value))"
                                   ValueExpression="@(() => ViewState.FirstName)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_USER_FIRST_NAME")" />
                        <TextInput Value="@ViewState.LastName"
                                   ValueChanged="@((string value) => UserSettingsService.SetLastName(value))"
                                   ValueExpression="@(() => ViewState.LastName)"
                                   Size="InputSizes.Medium" IsFullWidth="true" Label="@LocalizationService.GetString("GIZ_USER_LAST_NAME")" />
                    </div>
            
                    <div class="giz-form-input giz-form-input-columns">
                        <MaskedDateInput Value="@ViewState.BirthDate"
                                         ValueChanged="@((DateTime? value) => UserSettingsService.SetBirthDate(value))"
                                         ValueExpression="@(() => ViewState.BirthDate)"
                                         Size="InputSizes.Medium"
                                         IsFullWidth="true"
                                         Label="@LocalizationService.GetString("GIZ_USER_BIRTH_DATE")" />
                        <Select HandleSVGIcon="Icons.Select_Client"
                                Value="@ViewState.Sex"
                                ValueChanged="@((Sex value) => UserSettingsService.SetSex(value))"
                                ValueExpression="@(() => ViewState.Sex)"
                                Size="InputSizes.Medium"
                                IsFullWidth="true"
                                Label="@LocalizationService.GetString("GIZ_USER_GENDER")"
                                OpenDirection="PopupOpenDirections.Cursor"
                                PopupClass="giz-scrollbar--v">
                            <SelectItem Value="@Sex.Unspecified" Text="Unspecified" />
                            <SelectItem Value="@Sex.Male" Text="Male" />
                            <SelectItem Value="@Sex.Female" Text="Female" />
                        </Select>
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput Value="@ViewState.Country"
                                   ValueChanged="@((string value) => UserSettingsService.SetCountry(value))"
                                   ValueExpression="@(() => ViewState.Country)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_USER_COUNTRY_REGION")" />
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput Value="@ViewState.Address"
                                   ValueChanged="@((string value) => UserSettingsService.SetAddress(value))"
                                   ValueExpression="@(() => ViewState.Address)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_USER_ADDRESS")" />
                    </div>
                </ChildContent>
            </ExpansionPanel>

            <ExpansionPanel>
                <Header>@LocalizationService.GetString("GIZ_USER_MAIL_AND_PHONE_NUMBERS")</Header>
                <ChildContent>
                    <div class="giz-form-input">
                        <TextInput Value="@ViewState.Email"
                                   ValueChanged="@((string value) => UserSettingsService.SetEmail(value))"
                                   ValueExpression="@(() => ViewState.Email)"
                                   IsReadOnly="@(UserPasswordRecoveryMethodViewState.Method == View.UserPasswordRecoveryMethod.Email)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_GEN_EMAIL_ADDRESS")">
                            <RightContent>
                                @if (UserPasswordRecoveryMethodViewState.Method == View.UserPasswordRecoveryMethod.Email)
                                {
                                    <div class="giz-settings-update-button" @onclick="OnClickUpdateEmailButtonHandler">@LocalizationService.GetString("GIZ_GEN_UPDATE")</div>
                                }
                            </RightContent>
                        </TextInput>
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput Value="@ViewState.MobilePhone" 
                                   ValueChanged="@((string value) => UserSettingsService.SetMobilePhone(value))"
                                   ValueExpression="@(() => ViewState.MobilePhone)"
                                   IsReadOnly="@(UserPasswordRecoveryMethodViewState.Method == View.UserPasswordRecoveryMethod.MobilePhone)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_GEN_MOBILE_PHONE")">
                            <RightContent>
                                @if (UserPasswordRecoveryMethodViewState.Method == View.UserPasswordRecoveryMethod.MobilePhone)
                                {
                                    <div class="giz-settings-update-button" @onclick="OnClickUpdateMobileButtonHandler">@LocalizationService.GetString("GIZ_GEN_UPDATE")</div>
                                }
                            </RightContent>
                        </TextInput>
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput Value="@ViewState.Phone" 
                                   ValueChanged="@((string value) => UserSettingsService.SetPhone(value))"
                                   ValueExpression="@(() => ViewState.Phone)"
                                   Size="InputSizes.Medium"
                                   IsFullWidth="true"
                                   Label="@LocalizationService.GetString("GIZ_USER_HOME_PHONE")" />
                    </div>
                </ChildContent>
            </ExpansionPanel>
                        
            <ExpansionPanel>
                <Header>@LocalizationService.GetString("GIZ_GEN_PASSWORD")</Header>
                <ChildContent>
                    <div class="giz-settings-change-password" @onclick="OnClickChangePasswordButtonHandler">
                        @LocalizationService.GetString("GIZ_USER_CHANGE_PASSWORD")
                    </div>
                </ChildContent>
            </ExpansionPanel>

            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@(() => UserSettingsService.SubmitAsync())">@LocalizationService.GetString("GIZ_GEN_SAVE_CHANGES")</Button>
            </div>

        </div>
    </div>
    @*<div class="giz-settings__notifications">
        <Toast CanClose="true" OnCloseButtonClick="OnCloseButtonClickHandler" AlertType="AlertTypes.Success" Text="Test" />
    </div>*@
</div>
