@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-settings giz-scrollbar--v">
    <div class="giz-settings__content">
        <div class="giz-settings__content__header">
            <div class="giz-settings__content__header__icon" @onclick="OnClickChangePictureButtonHandler">
                <Icon Size="IconSizes.ExtraLarge" SVGIcon="Icons.AccountCircle_Client" />
            </div>
            <div class="giz-settings__content__header__title">@localizationService.GetString("GIZ_USER_SETTINGS_TITLE")</div>
            <div class="giz-settings__content__header__subtitle">@localizationService.GetString("GIZ_USER_ADDITIONAL_INFORMATION")</div>
        </div>
        <div class="giz-settings__content__body">
            
            <div class="giz-section">
                <div class="giz-section__header">@localizationService.GetString("GIZ_GEN_USERNAME")</div>
                <div class="giz-section__body">
                    <div class="giz-form-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Username" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_USERNAME_MESSAGE")" />
                    </div>
                </div>
            </div>
            
            <ExpansionPanel>
                <Header>@localizationService.GetString("GIZ_USER_PERSONAL_INFORMATION")</Header>
                <ChildContent>
                    <div class="giz-form-input giz-form-input-columns">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.FirstName" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_FIRST_NAME")" />
                        <TextInput @bind-Value="@UserSettingsService.ViewState.LastName" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_LAST_NAME")" />
                    </div>
            
                    <div class="giz-form-input giz-form-input-columns">
                        <MaskedDateInput @bind-Value="@UserSettingsService.ViewState.BirthDate" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_BIRTH_DATE")" />
                        <Select HandleSVGIcon="Icons.Select_Client" @bind-Value="@UserSettingsService.ViewState.Sex" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_GENDER")" OpenDirection="PopupOpenDirections.Cursor" PopupClass="giz-scrollbar--v">
                            <SelectItem Value="@Sex.Unspecified" Text="Unspecified" />
                            <SelectItem Value="@Sex.Male" Text="Male" />
                            <SelectItem Value="@Sex.Female" Text="Female" />
                        </Select>
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Country" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_COUNTRY_REGION")" />
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Address" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_ADDRESS")" />
                    </div>
                </ChildContent>
            </ExpansionPanel>

            <ExpansionPanel>
                <Header>@localizationService.GetString("GIZ_USER_MAIL_AND_PHONE_NUMBERS")</Header>
                <ChildContent>
                    <div class="giz-form-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Email" IsReadOnly="@(UserPasswordRecoveryMethodService.ViewState.Method == View.UserPasswordRecoveryMethod.Email)" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_EMAIL_ADDRESS")">
                            <RightContent>
                                @if (UserPasswordRecoveryMethodService.ViewState.Method == View.UserPasswordRecoveryMethod.Email)
                                {
                                    <div class="giz-settings-update-button" @onclick="OnClickUpdateEmailButtonHandler">@localizationService.GetString("GIZ_GEN_UPDATE")</div>
                                }
                            </RightContent>
                        </TextInput>
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.MobilePhone" IsReadOnly="@(UserPasswordRecoveryMethodService.ViewState.Method == View.UserPasswordRecoveryMethod.MobilePhone)" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_MOBILE_PHONE")">
                            <RightContent>
                                @if (UserPasswordRecoveryMethodService.ViewState.Method == View.UserPasswordRecoveryMethod.MobilePhone)
                                {
                                    <div class="giz-settings-update-button" @onclick="OnClickUpdateMobileButtonHandler">@localizationService.GetString("GIZ_GEN_UPDATE")</div>
                                }
                            </RightContent>
                        </TextInput>
                    </div>
            
                    <div class="giz-form-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Phone" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_HOME_PHONE")" />
                    </div>
                </ChildContent>
            </ExpansionPanel>
                        
            <ExpansionPanel>
                <Header>@localizationService.GetString("GIZ_GEN_PASSWORD")</Header>
                <ChildContent>
                    <div class="giz-settings-change-password" @onclick="OnClickChangePasswordButtonHandler">
                        @localizationService.GetString("GIZ_USER_CHANGE_PASSWORD")
                    </div>
                </ChildContent>
            </ExpansionPanel>

            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@(() => UserSettingsService.SubmitAsync())">@localizationService.GetString("GIZ_GEN_SAVE_CHANGES")</Button>
            </div>

        </div>
    </div>
</div>
