@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-settings giz-scrollbar--v">
    <div class="giz-settings__content">
        <div class="giz-settings__content__header">
            <div class="giz-settings__content__header__icon">
                <svg width="112" height="112" viewBox="0 0 112 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.4418 86.5183C25.9476 82.7865 31.5934 79.9406 37.3793 77.9807C43.1673 76.0207 49.3742 75.0407 56 75.0407C62.6258 75.0407 68.8551 76.0207 74.688 77.9807C80.523 79.9406 86.1935 82.7865 91.6993 86.5183C95.5251 81.8524 98.3016 76.9996 100.029 71.9597C101.756 66.9198 102.619 61.5999 102.619 56C102.619 42.8403 98.1392 31.7805 89.1793 22.8207C80.2195 13.8608 69.1597 9.38093 56 9.38093C42.8403 9.38093 31.7805 13.8608 22.8207 22.8207C13.8608 31.7805 9.38093 42.8403 9.38093 56C9.38093 61.5999 10.268 66.9198 12.042 71.9597C13.8138 76.9996 16.6137 81.8524 20.4418 86.5183ZM56 60.6199C50.586 60.6199 46.0132 58.7529 42.2814 55.0189C38.5474 51.2871 36.6804 46.7143 36.6804 41.3003C36.6804 35.8863 38.5474 31.3135 42.2814 27.5817C46.0132 23.8477 50.586 21.9807 56 21.9807C61.414 21.9807 65.9868 23.8477 69.7186 27.5817C73.4526 31.3135 75.3196 35.8863 75.3196 41.3003C75.3196 46.8061 73.4526 51.4025 69.7186 55.0895C65.9868 58.7764 61.414 60.6199 56 60.6199ZM56 112C48.2542 112 40.9509 110.529 34.0899 107.588C27.2311 104.65 21.2818 100.637 16.2419 95.5498C11.202 90.4628 7.23506 84.5359 4.34103 77.769C1.44701 71.0021 0 63.7458 0 56C0 48.2542 1.47053 40.9744 4.41159 34.1604C7.35041 27.3465 11.3633 21.4196 16.4502 16.3797C21.5372 11.3398 27.4641 7.35041 34.231 4.41159C40.9979 1.47053 48.2542 0 56 0C63.7458 0 71.0256 1.47053 77.8396 4.41159C84.6535 7.35041 90.5804 11.3398 95.6203 16.3797C100.66 21.4196 104.65 27.3465 107.588 34.1604C110.529 40.9744 112 48.2542 112 56C112 63.7458 110.529 71.0021 107.588 77.769C104.65 84.5359 100.66 90.4628 95.6203 95.5498C90.5804 100.637 84.6535 104.65 77.8396 107.588C71.0256 110.529 63.7458 112 56 112Z" fill="#2E3D4F"/>
                </svg>
            </div>
            <div class="giz-settings__content__header__title">Edit User Settings</div>
            <div class="giz-settings__content__header__subtitle">Additional Information</div>
        </div>
        <div class="giz-settings__content__body">
            
            <ExpansionPanel>
                <Header>Username</Header>
                <ChildContent>
                    <div class="giz-login-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Username" Size="InputSizes.Normal" IsFullWidth="true" Label="Other users will see your username" />
                    </div>
                </ChildContent>
            </ExpansionPanel>
            
            <ExpansionPanel>
                <Header>Personal information</Header>
                <ChildContent>
                    <div class="giz-login-input giz-login-input-columns">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.FirstName" Size="InputSizes.Normal" IsFullWidth="true" Label="First name (optional)" />
                        <TextInput @bind-Value="@UserSettingsService.ViewState.LastName" Size="InputSizes.Normal" IsFullWidth="true" Label="Last name (optional)" />
                    </div>
            
                    <div class="giz-login-input giz-login-input-columns">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.BirthDate" Size="InputSizes.Normal" IsFullWidth="true" Label="Date of birth" />
                        <Select @bind-Value="@UserSettingsService.ViewState.Sex" Size="InputSizes.Normal" IsFullWidth="true" Label="Gender" OpenDirection="PopupOpenDirections.Cursor">
                            <SelectItem Value="@Sex.Unspecified" Text="Unspecified" />
                            <SelectItem Value="@Sex.Male" Text="Male" />
                            <SelectItem Value="@Sex.Female" Text="Female" />
                        </Select>
                    </div>
            
                    <div class="giz-login-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Country" Size="InputSizes.Normal" IsFullWidth="true" Label="Country/Region" />
                    </div>
            
                    <div class="giz-login-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Address" Size="InputSizes.Normal" IsFullWidth="true" Label="Address (optional)" />
                    </div>
                </ChildContent>
            </ExpansionPanel>

            <ExpansionPanel>
                <Header>Mail and phone numbers</Header>
                <ChildContent>
                    <div class="giz-login-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Email" Size="InputSizes.Normal" IsFullWidth="true" Label="Email address" />
                    </div>
            
                    <div class="giz-login-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.MobilePhone" Size="InputSizes.Normal" IsFullWidth="true" Label="Main number" />
                    </div>
            
                    <div class="giz-login-input">
                        <TextInput @bind-Value="@UserSettingsService.ViewState.Phone" Size="InputSizes.Normal" IsFullWidth="true" Label="Home phone (optional)" />
                    </div>
                </ChildContent>
            </ExpansionPanel>
                        
            <ExpansionPanel>
                <Header>Password</Header>
                <ChildContent>
                    <div class="giz-settings-change-password" @onclick="OnClickChangePasswordButtonHandler">
                        Change password
                    </div>
                </ChildContent>
            </ExpansionPanel>

            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@(() => UserSettingsService.SubmitAsync())">Save Changes</Button>
            </div>

        </div>
    </div>
</div>

<ChangePasswordDialog @bind-IsOpen="ChangePasswordIsOpen" />
