@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-app-details">
    <div class="giz-app-details__app">
        <NavLink href="@ClientRoutes.ApplicationsRoute" class="giz-app-details__app__navigation">
            <div class="giz-app-details__app__navigation__icon">
                <Icon SVGIcon="Icons.ArrowLeftLong_Client" />
            </div>
            <div class="giz-app-details__app__navigation__label">
                Back to Apps
            </div>
        </NavLink>
        <div class="giz-app-details__app__info">
            <div class="giz-app-details__app__info__image">
                @if (ApplicationDetailsPageService.ViewState.Application.ImageId.HasValue)
                {
                    <GizImage ImageType="Gizmo.UI.ImageType.Application" ImageId="@ApplicationDetailsPageService.ViewState.Application.ImageId.Value" />
                }
                else
                {
                    <img src="_content/Gizmo.Client.UI/img/Apex.png" alt="loading" />
                }
            </div>

            <div class="giz-app-details__app__info__details">
                
                <div class="giz-app-details__app__info__details__category">
                    Category
                </div>
                <div class="giz-app-details__app__info__details__title">
                    @ApplicationDetailsPageService.ViewState.Application?.Title
                </div>
                <div class="giz-app-details__app__info__details__description">
                    @ApplicationDetailsPageService.ViewState.Application?.Description
                </div>
                <div class="giz-app-details__app__info__details__executables">
                    @if (ApplicationDetailsPageService.ViewState.Application.Executables.Count == 1)
                    {
                        <ComboButton Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" OnClickMainButton="@OnClickMainButtonHandler">
                            <ChildContent>
                                @localizationService.GetString("GIZ_APPS_LAUNCH")
                            </ChildContent>
                            <DropDownItems>
                                <ListItem>
                                    <CheckBox Label="@localizationService.GetString("GIZ_APPS_AUTO_START")" Class="giz-app-autostart" />
                                </ListItem>
                                <ListItem SVGIcon="Icons.Restart_Client">
                                    @localizationService.GetString("GIZ_APPS_REPAIR")
                                </ListItem>
                                <ListItem SVGIcon="Icons.FolderShared_Client">
                                    <ChildContent>
                                        @localizationService.GetString("GIZ_APPS_PERSONAL_FILES")
                                    </ChildContent>
                                    <NestedList>
                                        <ListItem>
                                            -123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                        <ListItem>
                                            123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                        <ListItem>
                                            123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                    </NestedList>
                                </ListItem>
                                <ListItem SVGIcon="Icons.Terminate_Client">
                                    @localizationService.GetString("GIZ_APPS_TERMINATE")
                                </ListItem>
                            </DropDownItems>
                        </ComboButton>
                    }
                    else if (ApplicationDetailsPageService.ViewState.Application.Executables.Count > 1)
                    {
                        <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@(() => OnClickMainButtonHandler())">@localizationService.GetString("GIZ_APPS_LAUNCH")</Button>
                    }
                </div>

            </div>

            <div class="giz-app-details-card-brand-info">
                <div class="giz-app-details-card-brand-title">
                    @localizationService.GetString("GIZ_APPS_PUBLISHER")
                </div>
                <div class="giz-app-details-card-brand-text">
                    @ApplicationDetailsPageService.ViewState.Application?.Publisher
                </div>
                <div class="giz-app-details-card-brand-title">
                    @localizationService.GetString("GIZ_APPS_RELEASE_DATE")
                </div>
                <div class="giz-app-details-card-brand-text">
                    @ApplicationDetailsPageService.ViewState.Application?.ReleaseDate?.ToShortDateString()
                </div>
                <div class="giz-app-details-card-brand-title">
                    @localizationService.GetString("GIZ_APPS_DATE_ADDED")
                </div>
                <div class="giz-app-details-card-brand-text">
                    @ApplicationDetailsPageService.ViewState.Application?.DateAdded.ToShortDateString()
                </div>
                <div class="giz-app-details-card-brand-title">
                    @localizationService.GetString("GIZ_APPS_PLAYER_MODE")
                </div>
                <div class="giz-app-details-card-brand-text">
                    <div class="d-flex align-center" style="justify-content: flex-end;">
                        Single Player
                    </div>
                </div>
            </div>

            <div class="giz-app-details__app__info__additional-content">
                <div class="giz-app-details__app__info__additional-content__tags">
                    <div class="giz-app-tag">Tags</div>
                </div>
                <div class="giz-app-details__app__info__additional-content__tab">
                    <ClientTab>
                        <ClientTabItem Class="@(_selectedTabIndex == 0 ? "active" : "")">
                            <div @onclick=@(() => SelectTab(0))>
                                @localizationService.GetString("GIZ_APPS_MEDIA")
                            </div>
                        </ClientTabItem>
                        <ClientTabItem Class="@(_selectedTabIndex == 1 ? "active" : "")">
                            <div @onclick=@(() => SelectTab(1))>
                                @localizationService.GetString("GIZ_APPS_LINKS")
                            </div>
                        </ClientTabItem>
                    </ClientTab>
                </div>
                <div class="giz-app-details__app__info__additional-content__media">
                    <ClientTab ControlsPosition="TabControlsPositions.Internal">
                        @foreach (var item in ApplicationMedia)
                        {
                            <ClientTabItem>
                                <div class="giz-app-media-item">
                                    <img src="_content/Gizmo.Client.UI/img/@item" alt="loading" />
                                </div>
                            </ClientTabItem>
                        }
                    </ClientTab>
                </div>
            </div>

        </div>
    </div>
    <div class="giz-app-details__leaderboard">
        @*<Leaderboard />*@
    </div>
</div>
