@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-app-details">
    <div class="giz-app-details__app">
        <NavLink href="apps" class="giz-app-details__app__navigation">
            <div class="giz-app-details__app__navigation__icon">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.4938 7.99988L9.34743 2.42872L7.96861 0.97998L0.310587 8.26846C-0.103212 8.66229 -0.103578 9.32214 0.309783 9.71643L7.96781 17.0211L9.34824 15.5739L3.50459 9.99988L19.9999 10.0009L20.0001 8.00094L11.7469 8.00041L3.4938 7.99988Z" fill="#FAFAFA"/>
                </svg>
            </div>
            <div class="giz-app-details__app__navigation__label">
                Back to Apps
            </div>
        </NavLink>
        <div class="giz-app-details__app__info">
            <div class="giz-app-details__app__info__image"> 
                <img src="_content/Gizmo.Client.UI/img/@ApplicationDetailsPageService.ViewState.Application?.Image" alt="loading" />
            </div>

            <div class="giz-app-details__app__info__details">
                
                <div class="giz-app-details__app__info__details__category">
                    Category
                </div>
                <div class="giz-app-details__app__info__details__title">
                    @ApplicationDetailsPageService.ViewState.Application?.Title
                </div>
                <div class="giz-app-details__app__info__details__description">
                    @ApplicationDetailsPageService.ViewState.Application?.Description
                </div>
                <div class="giz-app-details__app__info__details__executables">
                    @if (ApplicationDetailsPageService.ViewState.Application.Executables.Count > 1)
                    {
                        <ComboButton Color="ButtonColors.Accent" Size="ButtonSizes.Large" OnClickMainButton="@OnClickMainButtonHandler">
                            <ChildContent>
                                LAUNCH
                            </ChildContent>
                            <DropDownItems>
                                <ListItem>
                                    Autostart
                                </ListItem>
                                <ListItem SVGIcon="Icons.Repair_Client">
                                    Repair
                                </ListItem>
                                <ListItem SVGIcon="Icons.Folder_Client">
                                    <ChildContent>
                                        Personal Files
                                    </ChildContent>
                                    <NestedList>
                                        <ListItem>
                                            -123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                        <ListItem>
                                            123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                        <ListItem>
                                            123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                    </NestedList>
                                </ListItem>
                                <ListItem SVGIcon="Icons.Close_Client">
                                    Terminate
                                </ListItem>
                            </DropDownItems>
                        </ComboButton>
                    }
                    else
                    {
                        <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" @onclick="@(() => OnClickMainButtonHandler())">LAUNCH</Button>
                    }
                </div>

            </div>

            <div class="giz-app-details-card-brand-info">
                <div class="giz-app-details-card-brand-title">
                    Publisher
                </div>
                <div class="giz-app-details-card-brand-text">
                    @ApplicationDetailsPageService.ViewState.Application?.Publisher
                </div>
                <div class="giz-app-details-card-brand-title">
                    Release Date
                </div>
                <div class="giz-app-details-card-brand-text">
                    @ApplicationDetailsPageService.ViewState.Application?.ReleaseDate?.ToShortDateString()
                </div>
                <div class="giz-app-details-card-brand-title">
                    Date Added
                </div>
                <div class="giz-app-details-card-brand-text">
                    @ApplicationDetailsPageService.ViewState.Application?.DateAdded.ToShortDateString()
                </div>
                <div class="giz-app-details-card-brand-title">
                    Player Mode
                </div>
                <div class="giz-app-details-card-brand-text">
                    <div class="d-flex align-center" style="justify-content: flex-end;">
                        Single Player
                        <Tooltip>
                            <TooltipContent>
                                <div>
                                    <div class="d-flex justify-space-between">
                                        <div>
                                            Free to Play
                                        </div>
                                        <div>
                                            <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraSmall" />
                                            8+
                                        </div>
                                    </div>
                                    <div class="d-flex justify-space-between">
                                        <div>
                                            Co-Op Online
                                        </div>
                                        <div>
                                            <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraSmall" />
                                            2
                                        </div>
                                    </div>
                                </div>
                            </TooltipContent>
                            <ChildContent>
                                <Icon SVGIcon="Icons.More_Client" Size="IconSizes.Small" Style="cursor: pointer" />
                            </ChildContent>
                        </Tooltip>
                    </div>
                </div>
            </div>

            <div class="giz-app-details__app__info__additional-content">
                <div class="giz-app-details__app__info__additional-content__tags">
                    Tags
                </div>
                <div class="giz-app-details__app__info__additional-content__tab">
                    <ClientTab>
                        <ClientTabItem Class="@(_selectedTabIndex == 0 ? "active" : "")">
                            <div @onclick=@(() => SelectTab(0))>
                                Announcements
                            </div>
                        </ClientTabItem>
                        <ClientTabItem Class="@(_selectedTabIndex == 1 ? "active" : "")">
                            <div @onclick=@(() => SelectTab(1))>
                                Media
                            </div>
                        </ClientTabItem>
                        <ClientTabItem Class="@(_selectedTabIndex == 2 ? "active" : "")">
                            <div @onclick=@(() => SelectTab(2))>
                                Links
                            </div>
                        </ClientTabItem>
                        <ClientTabItem Class="@(_selectedTabIndex == 3 ? "active" : "")">
                            <div @onclick=@(() => SelectTab(3))>
                                Tutorials
                            </div>
                        </ClientTabItem>
                    </ClientTab>
                </div>
                <div class="giz-app-details__app__info__additional-content__media">
                    Images
                </div>
            </div>

        </div>
    </div>
    <div class="giz-app-details__leaderboard">
        Leaderboard
    </div>
</div>

<ExecutableSelectorDialog @bind-IsOpen="ExecutableSelectorIsOpen" />