@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase

<div class="giz-apps-wrapper">
    <div class="giz-apps">
        <div class="giz-apps__header">
            <div class="giz-apps__header__quick-launch">
                <QuickLauncher />
            </div>
            <div class="giz-apps__header__ads">
                <NewsRotator Interval="3000">
                    <NewsRotatorItem />
                    <NewsRotatorItem />
                    <NewsRotatorItem />
                </NewsRotator>
            </div>
        </div>
        <div class="giz-apps__body giz-scrollbar--v">
            <div class="giz-apps__body__ads">
                <ExpansionPanel InitCollapsed="@(SearchService.ViewState.ShowAll)">
                    <Header>
                        @LocalizationService.GetString("GIZ_GEN_ADS")
                    </Header>
                    <ChildContent>
                        <AdsCarousel Interval="5000" />
                    </ChildContent>
                </ExpansionPanel>
            </div>
            <div class="giz-apps__body__popular">
                <div class="giz-section">
                    <div class="giz-section__header">
                        @if (SearchService.ViewState.ShowAll)
                        {
                            <div class="giz-section__header__filters">
                                <div>
                                    <div class="giz-section__header__filters__title">@LocalizationService.GetString("GIZ_GEN_RESULTS_FOR")</div>
                                    <div>
                                        <Chip CanClose="true" OnClose="@(() => SearchService.ClearResultsAsync())">@SearchService.ViewState.AppliedSearchPattern</Chip>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>@LocalizationService.GetString("GIZ_GEN_POPULAR_ITEMS")</div>
                        }
                        <div class="giz-apps-filters">
                            @if (GetNumberOfFilters() > 0)
                            {
                                <Chip CanClose="true" OnClose="@OnClearFiltersHandler">
                                    <FiltersIcon />
                                    <span>@GetNumberOfFilters()</span>
                                </Chip>
                            }
                            <Select LeftSVGIcon="Icons.Sort_Client" HandleSVGIcon="Icons.Select_Client" ValidationErrorStyle="ValidationErrorStyles.BorderOnly" Size="InputSizes.Small" @bind-Value="_selectedSortOptionId" Label="@LocalizationService.GetString("GIZ_GEN_SORT_BY")" OpenDirection="PopupOpenDirections.Bottom" MaximumHeight="20.0rem" Class="@(_selectedSortOptionId != 1 ? "app-filter--filled" : "app-filter--default")" PopupClass="giz-scrollbar--v">
                                @if (ApplicationSortOptions != null)
                                {
                                    @foreach (var sortOption in ApplicationSortOptions)
                                    {
                                        <SelectItem Value="@sortOption.Id" Text="@sortOption.Name" />
                                    }
                                }
                            </Select>
                            <Select HandleSVGIcon="Icons.Select_Client"
                                    ValidationErrorStyle="ValidationErrorStyles.BorderOnly"
                                    Placeholder="All games and apps"
                                    Size="InputSizes.Small"
                                    @bind-Value="_selectedApplicationGroupId"
                                    Label="@LocalizationService.GetString("GIZ_APPS_CATEGORY")"
                                    OpenDirection="PopupOpenDirections.Bottom"
                                    MaximumHeight="20.0rem"
                                    Class="@(_selectedApplicationGroupId.HasValue ? "app-filter--filled" : "app-filter--default")"
                                    PopupClass="giz-scrollbar--v">
                                @foreach (var appGroup in ViewState.AppCategories)
                                {
                                    <SelectItem TValue="int?" Value="@appGroup.AppCategoryId" Text="@appGroup.Name" />
                                }
                            </Select>
                            <MultiSelect HandleSVGIcon="Icons.Select_Client"
                                         ValidationErrorStyle="ValidationErrorStyles.BorderOnly"
                                         Placeholder="Select something"
                                         Size="InputSizes.Small"
                                         TValue="int"
                                         Value="@SelectedApplicationFilters"
                                         ValueChanged="@SelectedApplicationFiltersChanged"
                                         Label="@LocalizationService.GetString("GIZ_APPS_PARAMETERS")"
                                         OpenDirection="PopupOpenDirections.Bottom"
                                         CanClearValue="true"
                                         MaximumHeight="20.0rem"
                                         Class="@(SelectedApplicationFilters?.Count > 0 ? "app-filter--filled" : "app-filter--default")"
                                         PopupClass="giz-scrollbar--v">
                                @if (ApplicationFilters != null)
                                {
                                    @foreach (var filter in ApplicationFilters)
                                    {
                                        <MultiSelectItem Value="@filter.Id" Text="@filter.Name" />
                                    }
                                }
                            </MultiSelect>
                        </div>
                    </div>
                    <div class="giz-section__body">
                        @if (GetFilteredApplications().Count() > 0)
                        {
                            <div class="giz-apps__app-wrapper">
                                @foreach (var app in GetFilteredApplications())
                                {
                                    <ApplicationCard @key="app.ApplicationId" Application="@app" OnOpenExecutableSelector="@OpenExecutableSelector" />
                                }
                            </div>
                        }
                        else
                        {
                            <div class="global-search-no-results">
                                <div class="global-search-no-results__header">No match found for <span class="global-search-pattern">@SearchService.ViewState.AppliedSearchPattern</span></div>
                                <div class="global-search-no-results__body">Try formulating your request differently</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
