@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-apps">
    <div class="giz-apps__header">
        <div class="giz-apps__header__quick-launch">
            <QuickLauncher />
        </div>
        <div class="giz-apps__header__ads">
            Ads
        </div>
    </div>
    <div class="giz-apps__body giz-scrollbar--v">
        <div class="giz-apps__body__ads">
            <ExpansionPanel InitCollapsed="@(SearchService.ViewState.ShowAllLocally || SearchService.ViewState.ShowAll)">
                <Header>
                    Ads
                </Header>
                <ChildContent>
                    <AdsCarousel Advertisements="@AdvertisementsService.ViewState.Advertisements" Interval="5000" />
                </ChildContent>
            </ExpansionPanel>
        </div>
        <div class="giz-apps__body__popular">
            <div class="giz-section">
                <div class="giz-section__header">
                    @if (SearchService.ViewState.ShowAllLocally || SearchService.ViewState.ShowAll)
                    {
                        <div class="giz-section__header__filters">
                            <div>
                                <div class="giz-section__header__filters__title">@localizationService.GetString("GIZ_GEN_RESULTS_FOR")</div>
                                <div>
                                    <Chip CanClose="true" OnClose="@(() => SearchService.ClearResultsAsync())">@SearchService.ViewState.SearchPattern</Chip>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>@localizationService.GetString("GIZ_GEN_POPULAR_ITEMS")</div>
                    }
                    <div class="giz-apps-filters">
                        @if (GetNumberOfFilters() > 0)
                        {
                            <Chip CanClose="true" OnClose="@OnClearFiltersHandler">
                                <svg width="6" height="22" viewBox="0 0 6 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.28564 1.21387C4.28564 0.937725 4.06179 0.713867 3.78564 0.713867H2.49993C2.22379 0.713867 1.99993 0.937725 1.99993 1.21387V11.6424C1.99993 11.9186 1.77607 12.1424 1.49993 12.1424H0.785644C0.509502 12.1424 0.285645 12.3663 0.285645 12.6424V15.071C0.285645 15.3472 0.509502 15.571 0.785645 15.571H5.49993C5.77607 15.571 5.99993 15.3472 5.99993 15.071V12.6424C5.99993 12.3663 5.77607 12.1424 5.49993 12.1424H4.78564C4.5095 12.1424 4.28564 11.9186 4.28564 11.6424V1.21387Z" fill="#0078D2"/>
                                    <path d="M4.28564 17.7853C4.28564 17.5092 4.06179 17.2853 3.78564 17.2853H2.49993C2.22379 17.2853 1.99993 17.5092 1.99993 17.7853V20.7853C1.99993 21.0614 2.22379 21.2853 2.49993 21.2853H3.78564C4.06179 21.2853 4.28564 21.0614 4.28564 20.7853V17.7853Z" fill="#0078D2"/>
                                </svg>
                                <span>@GetNumberOfFilters()</span>
                            </Chip>
                        }
                        <Select Size="InputSizes.Small" @bind-Value="_selectedSortOptionId" Label="@localizationService.GetString("GIZ_GEN_SORT_BY")" OpenDirection="PopupOpenDirections.Bottom" MaximumHeight="200px">
                            @if (ApplicationSortOptions != null)
                            {
                                @foreach (var sortOption in ApplicationSortOptions)
                                {
                                    <SelectItem TValue="int?" Value="@sortOption.Id" Text="@sortOption.Name" />
                                }
                            }
                        </Select>
                        <Select Size="InputSizes.Small" @bind-Value="_selectedApplicationGroupId" Label="@localizationService.GetString("GIZ_APPS_CATEGORY")" OpenDirection="PopupOpenDirections.Bottom" MaximumHeight="200px">
                            @if (ApplicationsPageService.ViewState.ApplicationGroups != null)
                            {
                                @foreach (var appGroup in ApplicationsPageService.ViewState.ApplicationGroups)
                                {
                                    <SelectItem TValue="int?" Value="@appGroup.Id" Text="@appGroup.Name" />
                                }
                            }
                        </Select>
                        <MultiSelect Size="InputSizes.Small" TValue="int" Value="@SelectedApplicationFilters" ValueChanged="@SelectedApplicationFiltersChanged" Label="@localizationService.GetString("GIZ_APPS_PARAMETERS")" OpenDirection="PopupOpenDirections.Bottom" CanClearValue="true" MaximumHeight="200px">
                            @if (ApplicationFilters != null)
                            {
                                @foreach (var filter in ApplicationFilters)
                                {
                                    <MultiSelectItem Value="@filter.Id" Text="@filter.Name" />
                                }
                            }
                        </MultiSelect>
                    </div>
                </div>
                <div class="giz-section__body">
                    <div class="giz-apps__app-wrapper">
                        @foreach (var app in GetFilteredApplications())
                        {
                            <ApplicationCard Application="@app" ShowDateAdded="true" OnOpenExecutableSelector="@OpenExecutableSelector"></ApplicationCard>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ExecutableSelectorDialog @bind-IsOpen="ExecutableSelectorIsOpen" />