@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-apps">
    <div class="giz-apps__header">
        <div class="giz-apps__header__quick-launch">
            <QuickLauncher />
        </div>
        <div class="giz-apps__header__ads">
            Ads
        </div>
    </div>
    <div class="giz-apps__body giz-scrollbar--v">
        <div class="giz-apps__body__ads">
            <ExpansionPanel>
                <Header>
                    Ads
                </Header>
                <ChildContent>
                    <AdsCarousel Advertisements="@AdvertisementsService.ViewState.Advertisements" />
                </ChildContent>
            </ExpansionPanel>
        </div>
        <div class="giz-apps__body__popular">
            <div class="giz-section">
                <div class="giz-section__header">
                    @if (SearchService.ViewState.ShowAll)
                    {
                        <div class="giz-section__header__filters">
                            <Chip CanClose="true" OnClose="@(() => SearchService.ClearResultsAsync())">@SearchService.ViewState.SearchPattern</Chip>
                        </div>
                    }
                    else
                    {
                        <div>Popular items</div>
                    }
                    <div class="giz-apps-filters">
                        <Select @bind-Value="_selectedSortOptionId" Label="Sort by:" OpenDirection="PopupOpenDirections.Bottom" MaximumHeight="200px">
                            @if (ApplicationSortOptions != null)
                            {
                                @foreach (var sortOption in ApplicationSortOptions)
                                {
                                    <SelectItem TValue="int?" Value="@sortOption.Id" Text="@sortOption.Name" />
                                }
                            }
                        </Select>
                        <Select @bind-Value="_selectedApplicationGroupId" Label="Category:" OpenDirection="PopupOpenDirections.Bottom" MaximumHeight="200px">
                            @if (ApplicationsPageService.ViewState.ApplicationGroups != null)
                            {
                                @foreach (var appGroup in ApplicationsPageService.ViewState.ApplicationGroups)
                                {
                                    <SelectItem TValue="int?" Value="@appGroup.Id" Text="@appGroup.Name" />
                                }
                            }
                        </Select>
                        <MultiSelect TValue="int" Value="@SelectedApplicationFilters" ValueChanged="@SelectedApplicationFiltersChanged" Label="Parameters:" OpenDirection="PopupOpenDirections.Bottom" MaximumHeight="200px">
                            @if (ApplicationFilters != null)
                            {
                                @foreach (var filter in ApplicationFilters)
                                {
                                    <MultiSelectItem Value="@filter.Id" Text="@filter.Name" />
                                }
                            }
                        </MultiSelect>
                    </div>
                </div>
                <div class="giz-section__body">
                    <div class="giz-apps__app-wrapper">
                        @foreach (var app in GetFilteredApplications())
                        {
                            <ApplicationCard Application="@app" ShowDateAdded="true" OnOpenExecutableSelector="@OpenExecutableSelector"></ApplicationCard>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ExecutableSelectorDialog @bind-IsOpen="ExecutableSelectorIsOpen" />