@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName" @onclick="OnClickHandler">

    @if (_advertisementViewState.IsCustomTemplate)
    {
        <div class="giz-ads-carousel-item__content">
            @((MarkupString)_advertisementViewState.Body)
        </div>
    }
    else
    {
        <div class="giz-ads-carousel-item__image">
            @if (_advertisementViewState.ThumbnailUrl is not null)
            {
                <img src="@_advertisementViewState.ThumbnailUrl" alt='loading' />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/carousel_1.jpg" alt='loading' />
            }
        </div>
        
        <div class="giz-ads-carousel-item__content">
            <div class="giz-ads-carousel-item__content__body">
                @((MarkupString)_advertisementViewState.Body)
            </div>
            <div class="giz-ads-carousel-item__content__actions">
                @if(_advertisementViewState.MediaUrlType != AdvertisementMediaUrlType.None)
                {
                    <Button Size="ButtonSizes.Large" Text="WATCH" @onclick="ShowMediaSync"/>
                }
                @if (_advertisementViewState.Command is not null)
                {
                    switch (_advertisementViewState.Command.CommandType)
                    {
                        case AdvertisementCommandType.AddToCart:
                            {
                                <ProductQuantityPicker PikerSize="ButtonSizes.Large" ProductId="@_advertisementViewState.Command.PathId" />
                                break;
                            }
                        case AdvertisementCommandType.Launch:
                            {
                                break;
                            }
                        case AdvertisementCommandType.Navigate:
                            {
                                break;
                            }
                    }
                }
                else if (_advertisementViewState.Url is not null)
                {
                    <Button Size="ButtonSizes.Large" Text="@LocalizationService.GetString("GIZ_GEN_VIEW_DETAILS")" @onclick="ViewDetailsAsync" />
                }
            </div>
        </div>
    }
</div>