@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-ads-carousel">
    <CascadingValue Value="@this" IsFixed="true">
        <div class="giz-ads-carousel__body">
            @if (Advertisements != null && Advertisements.Count > 0)
            {
                @foreach (var ad in Advertisements)
                {
                    <AdsCarouselItem Advertisement="@ad" />
                }

                @if (Advertisements.Count > 2)
                {
                    @foreach (var ad in Advertisements)
                    {
                        <AdsCarouselItem Advertisement="@ad" Duplicate="true" />
                    } 
                }
            }
        </div>
        <div class="giz-ads-carousel__navigation">
            <div class="giz-ads-carousel__navigation__indicators">
                <AdsCarouselIndicator Maximum="5" Size="@(Advertisements?.Count ?? 0)" SelectedIndex="@SelectedIndex" SelectedIndexChanged="SelectedIndexChangedHandler" />
            </div>
        </div>
    </CascadingValue>
</div>