@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName" @onclick="OnClickHandler">

    @if (_advertisementViewState.IsCustomTemplate)
    {
        <div class="giz-ads-carousel-item__content">
            @((MarkupString)_advertisementViewState.Body)
        </div>
    }
    else
    {
        <div class="giz-ads-carousel-item__image">
            @if (_advertisementViewState.ThumbnailUrl is not null)
            {
                <img src="@_advertisementViewState.ThumbnailUrl" />
            }
        </div>
        
        <div class="giz-ads-carousel-item__content">
            <div class="giz-ads-carousel-item__content__body">
                @((MarkupString)_advertisementViewState.Body)
            </div>
            @*@if(_advertisementViewState.MediaUrlType != AdvertisementMediaUrlType.None)
            {
                    <IconButton
                        Class="giz-ads-carousel-item__content__media" 
                        Size="ButtonSizes.ExtraLarge" 
                        Color="ButtonColors.Info"
                        SVGIcon="Icons.Video" 
                        @onclick="ShowMediaDialogAsync"/>
            }*@
            <div class="giz-ads-carousel-item__content__actions">
                @if (_advertisementViewState.Command is not null)
                {
                    <Button Size="ButtonSizes.Large"
                            Text="@_advertisementViewState.Command.Name"
                            Class="giz-ads-command"
                            @onclick="ExecuteCommandAsync" />
                }
                else if (_advertisementViewState.Url is not null)
                {
                    <Button Size="ButtonSizes.Large"
                            Text="@LocalizationService.GetString("GIZ_GEN_VIEW_DETAILS")"
                            Class="giz-ads-command"
                            @onclick="ViewDetailsAsync" />
                }
            </div>
        </div>
    }

</div>