@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<HostedDialog>
    <div class="giz-client-dialog">
        <div class="giz-client-dialog__header">
            <div class="giz-client-dialog__header__title">@Title</div>
            @if (DisplayOptions.Closable)
            {
                <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog(AlertDialogResultButton.None)" />
            }
        </div>
        
        <div class="giz-client-alert-dialog giz-client-alert-dialog--error">
            <div class="giz-client-alert-dialog__icon">
                <Icon Size="IconSizes.Large" SVGIcon="Icons.Close_Client" />
            </div>
            <div class="giz-client-alert-dialog__body giz-scrollbar--v">
                <div class="giz-client-alert-message">@Message</div>
            </div>
            <div class="giz-client-alert-dialog__footer">
                @switch (Buttons)
                {
                    case AlertDialogButtons.OK:
                           <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.Large" @onclick="@(() => CloseDialog(AlertDialogResultButton.OK))" Text="@LocalizationService.GetString("GIZ_GEN_OK")" />
             
                        break;

                    case AlertDialogButtons.YesNo:
                            <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.Large" @onclick="@(() => CloseDialog(AlertDialogResultButton.Yes))" Text="@LocalizationService.GetString("GIZ_GEN_YES")" />
                            <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.Large" @onclick="@(() => CloseDialog(AlertDialogResultButton.No))" Text="@LocalizationService.GetString("GIZ_GEN_NO")" />
                
                        break;

                    @*TODO: AAA*@
                }
            </div>
        </div>
    </div>
</HostedDialog>
