@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-carousel">
	<div>
		<CarouselNavigation Title="@Title" OnClickPreviousButton="@OnClickPreviousButtonHandler" OnClickNextButton="@OnClickNextButtonHandler" />
	</div>
	@if (ShowIndicator)
	{
		<div>
			<CarouselIndicator Size="@_items.Count" SelectedIndex="@SelectedIndex" SelectedIndexChanged="SelectedIndexChangedHandler" />
		</div>
	}
	<div class="giz-carousel__wrapper giz-scrollbar--v">
		<CascadingValue Value="@this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</div>
</div>
