@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-news-rotator-wrapper">
    <div class="giz-news-rotator">
        @if (FeedsViewState.IsInitializing)
        {
            <Spinner />
        }
        else if (FeedsViewState.IsInitialized == true)
        {
            @if (FeedsViewState.CurrentFeed != null)
            {
                <NewsRotatorItem Image="@FeedsViewState.CurrentFeed.Image.Url" Title="@FeedsViewState.CurrentFeed.Title" Summary="@FeedsViewState.CurrentFeed.Summary" Url="@FeedsViewState.CurrentFeed.Link?.Url" ChannelImage="@FeedsViewState.CurrentFeedChannel?.Image?.Url" />
            }
        }
    </div>
</div>