@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="45rem">
    <DialogHeader>
        <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
    </DialogHeader>
    <DialogBody>
        <div class="giz-details-dialog-body giz-app-details-card">
            <div class="giz-details-card-common">
                <!--app info-->
                <div class="giz-details-card-brand">
                    <img src="_content/Gizmo.Client.UI/img/@Application?.Image" alt="loading" />
                    <div class="giz-app-details-card-brand--info">
                        <div class="giz-app-details-card-brand--title">
                            Publisher
                        </div>
                        <div class="giz-app-details-card-brand--text">
                            @Application?.Publisher
                        </div>
                    </div>
                    <div class="giz-app-details-card-brand--info">
                        <div class="giz-app-details-card-brand--title">
                            Release Date
                        </div>
                        <div class="giz-app-details-card-brand--text">
                            @Application?.ReleaseDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="giz-app-details-card-brand--info">
                        <div class="giz-app-details-card-brand--title">
                            Date Added
                        </div>
                        <div class="giz-app-details-card-brand--text">
                            @Application?.DateAdded.ToShortDateString()
                        </div>
                    </div>
                    <div class="giz-app-details-card-brand--info">
                        <div class="giz-app-details-card-brand--title">
                            Player Mode
                        </div>
                        <div class="giz-app-details-card-brand--text">
                            <div class="d-flex align-center" style="justify-content: flex-end;">
                                Single Player
                                <Tooltip>
                                    <TooltipContent>
                                        <div>
                                            <div class="d-flex justify-space-between">
                                                <div>
                                                    Free to Play
                                                </div>
                                                <div>
                                                    <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraSmall" />
                                                    8+
                                                </div>
                                            </div>
                                            <div class="d-flex justify-space-between">
                                                <div>
                                                    Co-Op Online
                                                </div>
                                                <div>
                                                    <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraSmall" />
                                                    2
                                                </div>
                                            </div>
                                        </div>
                                    </TooltipContent>
                                    <ChildContent>
                                        <Icon SVGIcon="Icons.More_Client" Size="IconSizes.Small" Style="cursor: pointer" />
                                    </ChildContent>
                                </Tooltip>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--/app info-->
                <div class="giz-details-card-content">
                    <!--heading-->
                    <div class="giz-details-card-category">
                        02. action / adventure
                    </div>
                    <!--/heading-->
                    <!--title-->
                    <div class="giz-details-card-title">
                        @Application?.Name
                    </div>
                    <!--/title-->
                    <div class="giz-details-card-rating">
                        @if (Application != null)
                        {
                            <Rating @bind-Value="Application.Rate" />
                        }
                        else
                        {
                            <Rating Value="0" IsReadOnly="true" />
                        }
                        <span>@(Application?.Ratings ?? 0) Ratings</span>
                    </div>
                    <div class="giz-apps-tags">
                        @if (Application != null && Application.Tags != null)
                        {
                            var tagsToShow = GetTagsByChars(40);
                            @foreach (var tag in Application.Tags.Take(tagsToShow))
                            {
                                <span class="giz-selected-tag">@tag.Name</span>
                            }
                            @if (tagsToShow < Application.Tags.Count)
                            {
                                <Tooltip>
                                    <TooltipContent>
                                        <div>
                                            @foreach (var tag in Application.Tags.Skip(tagsToShow))
                                            {
                                                <div>
                                                    @tag.Name
                                                </div>
                                            }
                                        </div>
                                    </TooltipContent>
                                    <ChildContent>
                                        <div class="giz-add-tags">
                                            +@(Application.Tags.Count - tagsToShow)
                                        </div>
                                    </ChildContent>
                                </Tooltip>
                            }
                        }
                    </div>
                    <div class="giz-details-card-description">
                        @Application?.Description
                    </div>
                    <!--launch btn-->
                    <div class="d-flex">
                        <Button Size="ButtonSizes.Large">launch</Button>
                        <Menu OpenDirection="PopupOpenDirections.Cursor" Class="ml-2">
                            <Activator>
                                <Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Settings_Client" Color="ButtonColors.Info"></Button>
                            </Activator>
                            <ChildContent>
                                <ListItem>
                                    Autostart
                                </ListItem>
                                <ListItem SVGIcon="Icons.Repair_Client">
                                    Repair
                                </ListItem>
                                <ListItem SVGIcon="Icons.Folder_Client">
                                    <ChildContent>
                                        Personal Files
                                    </ChildContent>
                                    <NestedList>
                                        <ListItem>
                                            123
                                        </ListItem>
                                        <ListItem>
                                            456
                                        </ListItem>
                                    </NestedList>
                                </ListItem>
                                <ListItem SVGIcon="Icons.Close_Client">
                                    Terminate
                                </ListItem>
                            </ChildContent>
                        </Menu>
                    </div>
                    <!--/launch btn-->
                </div>
            </div>
            <div class="giz-details-card-extra">
                <!--modal nav-->
                <div class="giz-modal-nav">
                    <ChipGroup Color="ButtonColors.Info">
                        <Chip IsSelected="@(_selectedTabIndex == 0)" @onclick="@(() => SelectTab(0))">executables</Chip>
                        <Chip IsSelected="@(_selectedTabIndex == 1)" @onclick="@(() => SelectTab(1))">announcements</Chip>
                        <Chip IsSelected="@(_selectedTabIndex == 2)" @onclick="@(() => SelectTab(2))">media</Chip>
                        <Chip IsSelected="@(_selectedTabIndex == 3)" IsDisabled="true" @onclick="@(() => SelectTab(3))">Links</Chip>
                        <Chip IsSelected="@(_selectedTabIndex == 4)" IsDisabled="true" @onclick="@(() => SelectTab(4))">Tutorials</Chip>
                    </ChipGroup>
                    <div class="giz-arrows">
                        <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowLeft_Client" />
                        <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowRight_Client" />
                    </div>
                </div>
                <!--/modal nav-->
                @switch (_selectedTabIndex)
                {
                    case 0:

                        <div class="giz-executable-list giz-scrollbar-v">

                            @if (Application != null && Application.Executables != null)
                            {
                                @foreach (var executable in Application.Executables)
                                {
                                    <ExecutableCard Executable="@executable" />
                                }
                            }

                        </div>

                        break;

                    case 2:

                        <div class="giz-video-wrapper giz-scrollbar-h">
                            <div class="giz-modal-video">
                                <img src="https://i.postimg.cc/kXYNPNgF/Video.png" alt="loading" />
                                <div class="giz-modal-video--title">unboxholics</div>
                                <div class="giz-modal-video--text">Κλαίμε με το νέο Season 4 Fall Guys Ultimate Knockout!!!</div>
                            </div>
                            <div class="giz-modal-video">
                                <img src="https://i.postimg.cc/d3rRY34R/trailer.png" alt="loading" />
                                <div class="giz-modal-video--title">ign</div>
                                <div class="giz-modal-video--text">Fall Guys Season 4 - Official Trailer</div>
                            </div>
                            <div class="giz-modal-video">
                                <img src="https://i.postimg.cc/d3rRY34R/trailer.png" alt="loading" />
                                <div class="giz-modal-video--title">ign</div>
                                <div class="giz-modal-video--text">Fall Guys Season 4 - Official Trailer</div>
                            </div>
                        </div>

                        break;
                }
            </div>
        </div>
    </DialogBody>
</Dialog>
