@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-executable-card">
    <div class="giz-executable-card__executable-image">
        @if (Executable.ImageId.HasValue)
        {
            <GizImage ImageType="Gizmo.UI.ImageType.Executable" ImageId="@Executable.ImageId.Value" />
        }
        else
        {
            <img src="_content/Gizmo.Client.UI/img/Chrome-icon_1.png" alt='loading' />
        }
        <div class="giz-executable-card__executable-status">
            <i class="giz-executable-card__executable-status__bullet"></i>24
        </div>
    </div>
        
    <div class="giz-executable-card__executable-title">
        @Executable.Caption
    </div>

    <div class="giz-executable-card__executable-actions">
        <ComboButton Progress="@Executable.StatePercentage" Color="@(Executable.State == 3 ? ButtonColors.Danger : ButtonColors.Accent)" Variant="@(Executable.State == 2 ? ButtonVariants.Progress : ButtonVariants.Fill)" Size="ButtonSizes.Large" IsFullWidth="true" OnClickMainButton="@OnClickMainButtonHandler" OpenDirection="PopupOpenDirections.Cursor">
            <ChildContent>
                @switch (Executable.State)
                {
                    case 0:
                        <div>@localizationService.GetString("GIZ_APPS_LAUNCH")</div>
                        break;
                            
                    case 1:
                        <GizSpinner />
                        break;

                    case 2:
                        <div>@localizationService.GetString("GIZ_APPS_LOADING")</div>
                        break;

                    case 3:
                        <div>@localizationService.GetString("GIZ_APPS_TERMINATE")</div>
                        break;
                }
            </ChildContent>
            <DropDownItems>
                <ListItem>
                    <CheckBox Label="Autostart" Class="giz-app-autostart" />
                </ListItem>
                <ListItem SVGIcon="Icons.Restart_Client">
                    Repair
                </ListItem>
                <ListItem SVGIcon="Icons.FolderShared_Client">
                    <ChildContent>
                        Personal Files
                    </ChildContent>
                    <NestedList>
                        <ListItem>
                            -123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                        <ListItem>
                            123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                        <ListItem>
                            123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                    </NestedList>
                </ListItem>
                <ListItem SVGIcon="Icons.Terminate_Client">
                    Terminate
                </ListItem>
            </DropDownItems>
        </ComboButton>
    </div>
</div>