@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<HostedDialog>
    <div class="giz-client-dialog giz-executable-selector-dialog">
        <div class="giz-client-dialog__header">
            <div class="giz-client-dialog__header__title">@LocalizationService.GetString("GIZ_APPS_SELECT_EXE")</div>
            <div class="giz-client-dialog__header__subtitle">@(AppViewStateLookupService.GetStateAsync(ApplicationId).GetAwaiter().GetResult().Title)</div>
            <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="CloseDialogAsync" />
        </div>
        <div class="giz-client-dialog__body giz-scrollbar--v">
            <div class="giz-executable-list">

                @foreach (var executable in @AppExeViewStateLookupService.GetStatesAsync().GetAwaiter().GetResult().Where(a => a.ApplicationId == ApplicationId))
                {
                    <ExecutableCard Executable="@executable" @key="@executable.ExecutableId" />
                }

            </div>
        </div>
    </div>
</HostedDialog>
