@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService 

<div class="giz-product-card bundle"
     @onclick="OpenDetails">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <div class="giz-product-card__content">
              
                <div class="giz-product-card__content__image">
                    @if (Product.ImageId.HasValue)
                    {
                        <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@Product.ImageId.Value" />
                    }
                    else
                    {
                        <img src="_content/Gizmo.Client.UI/img/Cola.png" alt='loading' />
                    }
                </div>

                <div class="giz-product-card__content__details">
                    <div class="giz-product-card__price">
                        @if (Product != null)
                        {
                            <span>@Product.UnitPrice.ToString("C")</span>

                            @if (Product.PurchaseOptions.HasFlag(PurchaseOptionType.Or))
                            {
                                <span> or @Product.UnitPointsPrice</span>
                                <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                            }
                            else
                            {
                                <span>and @Product.UnitPointsPrice</span>
                                <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                            }
                        }                        
                    </div>
                    <div class="giz-product-card__title">
                        @Product.Name
                    </div>
                </div>
                <div class="giz-product-card__content__footer">
                    <Button Class="giz-product-card-primary-button" Size="ButtonSizes.Medium" IsFullWidth="true" @onclick="AddProduct" Text="@localizationService.GetString("GIZ_SHOP_ADD_TO_CART")" />
                </div>
            </div>
        </div>
        @if (IsHoverable)
        {
            <div class="hovered-content-wrapper">
                <div class="hovered-content">
                    <div class="giz-product-card__content--hovered">
                        <div class="giz-product-card__content--hovered__header">
                           
                            <div class="giz-timeline">
                                <div class="giz-timeline-header">
                                    <HexagonIcon />
                                    <div>Bundle includes:</div>
                                </div>

                                @foreach (var bundledProduct in Product.BundledProducts)
                                {
                                    <div class="giz-timeline-item"><div class="giz-bundle-product-details"><ProductIcon />@bundledProduct.Name</div></div>
                                }
                            </div>

                            <div class="giz-product-card-b1">
                                <PointsAwardIcon />
                            </div>
                        </div>
                        <div class="giz-product-card__content--hovered__body">

                            <div class="giz-product-card__content--hovered__body__details">
                                <div class="giz-product-card__price">
                                    <span>@Product.UnitPrice.ToString("C")</span>

                                    @if (Product.PurchaseOptions.HasFlag(PurchaseOptionType.Or))
                                    {
                                        <span> or @Product.UnitPointsPrice</span>
                                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                                    }
                                    else
                                    {
                                        <span>and @Product.UnitPointsPrice</span>
                                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                                    }
                                </div>
                                <div class="giz-product-card__title">
                                    @Product.Name
                                </div>
                            </div>

                        </div>
                        <div class="giz-product-card__content--hovered__footer">
                            <Button Color="ButtonColors.Accent" Size="ButtonSizes.Medium" IsFullWidth="true" @onclick="AddProduct">@localizationService.GetString("GIZ_SHOP_ADD_TO_CART")</Button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>