@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService 

<div class="giz-product-card time"
     @onclick="OpenDetails">
    <div class="giz-product-card__content">

        <div class="giz-product-card__content__image giz-product-card__content__image--time">
            <div class="giz-product-card__content__image__hovered">
                <div class="giz-product-card__content__image__hovered__header">

                    <div>
                        <div class="giz-timeline">
                            <div class="giz-timeline-header">
                                <HexagonIcon />
                                <div>Package description:</div>
                            </div>
                            <div class="giz-timeline-item">
                                <div class="giz-time-product-details">
                                    <ProductIcon />
                                    <span>30 min</span>
                                </div>
                            </div>
                            <div class="giz-timeline-item"><div class="giz-time-product-details">Action period<span>10:00 - 12:00</span></div></div>
                            <div class="giz-timeline-item"><div class="giz-time-product-details">Product life time<span>3 hours</span></div></div>
                        </div>
                    </div>

                    <div class="giz-product-card-b1">
                        <PointsAwardIcon />
                    </div>

                </div>
            </div>
            <img src="_content/Gizmo.Client.UI/img/product_time.jpg" alt='loading' />
            <PolygonIcon />
        </div>

        <div class="giz-product-card__content__details">
            <div class="giz-product-card__price">
                <span>@Product.UnitPrice.ToString("C")</span>

                @if (Product.PurchaseOptions.HasFlag(PurchaseOptionType.Or))
                {
                    <span> or @Product.UnitPointsPrice</span>
                    <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                }
                else
                {
                    <span>and @Product.UnitPointsPrice</span>
                    <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                }
            </div>
            <div class="giz-product-card__title">
                @Product.Name
            </div>
        </div>
        <div class="giz-product-card__content__footer">
            @if (Product.CartProduct == null)
            {
                <Button Color="ButtonColors.Accent" Class="giz-product-card-primary-button" Size="ButtonSizes.Medium" IsFullWidth="true" @onclick="AddProduct" Text="@localizationService.GetString("GIZ_SHOP_ADD_TO_CART")" />
            }
            else
            {
                <QuantityPicker Size="ButtonSizes.Medium" Quantity="@Product.CartProduct.Quantity" OnAddQuantityButtonClick="@OnAddQuantityButtonClickHandler" OnRemoveQuantityButtonClick="@OnRemoveQuantityButtonClickHandler" />
            }
        </div>
    </div>
</div>