@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-product-card bundle"
     @onclick="OpenDetails">
    <div class="giz-product-card__content">
              
        <div class="giz-product-card__content__image">
            <div class="giz-product-card__content__image__hovered">
                <div class="giz-product-card__content__image__hovered__header">

                    <div>
                        <div class="giz-timeline">
                            <div class="giz-timeline-header">
                                <HexagonIcon />
                                <div>Bundle includes:</div>
                            </div>

                            @foreach (var bundledProduct in Product.BundledProducts)
                            {
                                <div class="giz-timeline-item"><div class="giz-bundle-product-details"><ProductIcon />@(UserProductViewStateLookupService.GetStateAsync(bundledProduct.Id).GetAwaiter().GetResult().Name)</div></div>
                            }
                        </div>
                    </div>

                    <div class="giz-product-card-b1">
                        <PointsAwardIcon />
                    </div>

                </div>
            </div>
            @if (Product.ImageId.HasValue)
            {
                <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@Product.ImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/Cola2.png" alt='loading' />
            }
        </div>

        <div class="giz-product-card__content__details">
            <div class="giz-product-card__price">
                @if (Product != null)
                {
                    <span>@Product.UnitPrice.ToString("C")</span>

                    @if (Product.PurchaseOptions.HasFlag(PurchaseOptionType.Or))
                    {
                        <span> or @Product.UnitPointsPrice</span>
                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                    }
                    else
                    {
                        <span>and @Product.UnitPointsPrice</span>
                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                    }
                }                        
            </div>
            <div class="giz-product-card__title">
                @Product.Name
            </div>
            <div class="giz-product-card__host-group">
                <div class="giz-product-card__host-group__content">
                    <Icon Size="IconSizes.Small" SVGIcon="Icons.Passport_Client" />
                    <div>Vip</div>
                </div>
            </div>
        </div>
        <div class="giz-product-card__content__footer">
            <ProductQuantityPicker ProductId="@Product.Id" OnClick="@Ignore" />
        </div>
    </div>
</div>