@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-product-card bundle"
     @onclick="OpenDetails">
    <div class="giz-product-card__content">
              
        <div class="giz-product-card__content__image">
            <div class="giz-product-card__content__image__hovered">
                <div class="giz-product-card__content__image__hovered__header">

                    <div>
                        <div class="giz-timeline">
                            <div class="giz-timeline-header">
                                <HexagonIcon />
                                <div>@LocalizationService.GetString("GIZ_SHOP_CARD_BUNDLE_BUNDLE_INCLUDES")</div>
                            </div>

                            @foreach (var bundledProduct in Product.BundledProducts)
                            {
                                <ProductBundleCardBundledProduct @key="bundledProduct.Id" ProductId="@bundledProduct.Id" />
                            }
                        </div>
                    </div>

                    <div class="giz-product-card-b1">
                        @if (Product.UnitPointsAward > 0)
                        {
                            <PointsAwardIcon />
                        }
                    </div>

                </div>
            </div>
            @if (Product.DefaultImageId.HasValue)
            {
                <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@Product.DefaultImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/no-product-image.png" alt='loading' />
            }
        </div>

        <div class="giz-product-card__content__details">
            <div class="giz-product-card__price">
                @if (Product != null)
                {
                    <span>@Product.UnitPrice.ToString("C")</span>

                    @if (Product.PurchaseOptions.HasFlag(PurchaseOptionType.Or))
                    {
                        <span> or @Product.UnitPointsPrice</span>
                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                    }
                    else
                    {
                        <span>and @Product.UnitPointsPrice</span>
                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                    }
                }                        
            </div>
            <div class="giz-product-card__title">
                @Product.Name
            </div>
            <div class="giz-product-card__host-group">
                @*<div class="giz-product-card__host-group__content">
                    <Icon Size="IconSizes.Small" SVGIcon="Icons.Passport_Client" />
                    <div>Vip</div>
                </div>*@
            </div>
        </div>
        <div class="giz-product-card__content__footer">
            <ProductQuantityPicker @key="Product.Id" ProductId="@Product.Id" OnClick="@Ignore" />
        </div>
    </div>
</div>