@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-product-card time"
     @onclick="OpenDetails">
    <div class="giz-product-card__content">

        <div class="giz-product-card__content__image giz-product-card__content__image--time">
            <div class="giz-product-card__content__image__hovered">
                <div class="giz-product-card__content__image__hovered__header">

                    <div>
                        <div class="giz-timeline">
                            <div class="giz-timeline-header">
                                <HexagonIcon />
                                <div>@LocalizationService.GetString("GIZ_SHOP_CARD_TIME_PRODUCT_DESCRIPTION")</div>
                            </div>
                            <ProductTimeCardHover TimeProduct="@Product.TimeProduct" />
                            <div class="giz-timeline-item"><div class="giz-time-product-details">@LocalizationService.GetString("GIZ_SHOP_CARD_TIME_PRODUCT_ACTION_PERIOD")<span>10:00 - 12:00</span></div></div>
                            <div class="giz-timeline-item"><div class="giz-time-product-details">@LocalizationService.GetString("GIZ_SHOP_CARD_TIME_PRODUCT_LIFE_TIME")<span>3 hours</span></div></div>
                        </div>
                    </div>

                    <div class="giz-product-card-b1">
                        @if (Product.UnitPointsAward > 0)
                        {
                            <PointsAwardIcon />
                        }
                    </div>

                </div>
            </div>
            <img src="_content/Gizmo.Client.UI/img/product_time.jpg" alt='loading' />
            <PolygonIcon />
        </div>

        <div class="giz-product-card__content__details">
            <div class="giz-product-card__price">
                <span>@Product.UnitPrice.ToString("C")</span>

                @if (Product.PurchaseOptions.HasFlag(PurchaseOptionType.Or))
                {
                    <span> or @Product.UnitPointsPrice</span>
                    <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                }
                else
                {
                    <span>and @Product.UnitPointsPrice</span>
                    <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                }
            </div>
            <div class="giz-product-card__title">
                @Product.Name
            </div>
            <div class="giz-product-card__host-group">
                @*<div class="giz-product-card__host-group__content">
                    <Icon Size="IconSizes.Small" SVGIcon="Icons.Passport_Client" />
                    <div>Vip</div>
                </div>*@
            </div>
        </div>
        <div class="giz-product-card__content__footer">
            <ProductQuantityPicker ProductId="@Product.Id" OnClick="@Ignore" />
        </div>
    </div>
</div>