@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<SimpleDialog @bind-IsOpen="IsOpen" IsModal="true">
    <div class="giz-client-dialog giz-top-up-dialog">
        <div class="giz-client-dialog__header">
            <div class="giz-client-dialog__header__title">Top Up</div>
            <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
        </div>
        @if (TopUpService.ViewState.PageIndex == 0)
        {
            <div class="giz-client-dialog__body">
                <div>Quick select</div>
                <div>
                    <ButtonGroup>
                        @foreach (var preset in TopUpService.ViewState.Presets)
                        {
                            <Button Size="ButtonSizes.Large" Name="@preset.ToString()" IsSelected="@(@preset == TopUpService.ViewState.Amount)" @onclick="@(() => TopUpService.SelectPreset(@preset))">@preset.ToString("C")</Button>
                        }
                    </ButtonGroup>
                </div>
                <div>
                    <TextInput Size="InputSizes.Small" IsFullWidth="true" @bind-Value="TopUpService.ViewState.Amount" Label="Or enter amount*" />
                </div>
                <div class="giz-top-up-dialog__summary">@TopUpService.ViewState.Amount.ToString("C") will be credited to your Account balance</div>
            </div>
            <div class="giz-client-dialog__footer">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@(() => TopUpService.SubmitAsync())">Place order</Button>
            </div>
        }
        else
        {
            <div class="giz-client-dialog__body">
                <div>???</div>
                <div class="giz-top-up-dialog__submitted__summary">To be paid: @TopUpService.ViewState.Amount.ToString("C")</div>
                <div class="giz-top-up-dialog__submitted__qr">
                    <div class="giz-top-up-dialog__submitted__qr__label">QR-code for payment on phone</div>
                    <div class="giz-top-up-dialog__submitted__qr__image">
                        <QRIcon />
                    </div>
                </div>
            </div>
            <div class="giz-client-dialog__footer">
                <div class="giz-top-up-dialog__submitted__action">
                    <div class="giz-top-up-dialog__submitted__action__label">Or</div>
                    <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@(() => TopUpService.PayFromPC())">Pay from PC</Button>
                </div>
            </div>
        }
    </div>
</SimpleDialog>
