@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View;

<ComboButton Progress="@_appExeExecutionViewState.Progress"
             Color="@(_appExeExecutionViewState.State == ExecutableState.Running ? ButtonColors.Danger : ButtonColors.Accent)"
             Variant="@(_appExeExecutionViewState.State == ExecutableState.Deployment ? ButtonVariants.Progress : ButtonVariants.Fill)"
             Size="@Size"
             IsFullWidth="@IsFullWidth"
             OnClickMainButton="@OnClickMainButtonHandler"
             OpenDirection="PopupOpenDirections.Cursor"
             Text="@(_appExeExecutionViewState.State == ExecutableState.None ? LocalizationService.GetString("GIZ_APPS_LAUNCH") :
                     _appExeExecutionViewState.State == ExecutableState.Deployment ? LocalizationService.GetString("GIZ_APPS_LOADING") :
                     _appExeExecutionViewState.State == ExecutableState.Running ? LocalizationService.GetString("GIZ_APPS_TERMINATE") : ""
                     )">
    <ChildContent>
        @switch (_appExeExecutionViewState.State)
        {
            case ExecutableState.None:
                <div>@LocalizationService.GetString("GIZ_APPS_LAUNCH")</div>
                break;

            case ExecutableState.Loading:
                <Spinner />
                break;

            case ExecutableState.Deployment:
                <div>@LocalizationService.GetString("GIZ_APPS_LOADING")</div>
                break;

            case ExecutableState.Running:
                <div>@LocalizationService.GetString("GIZ_APPS_TERMINATE")</div>
                break;
        }
    </ChildContent>
    <DropDownItems>
        <ListItem>
            <CheckBox Label="@LocalizationService.GetString("GIZ_APPS_AUTO_START")" Class="giz-app-autostart" />
        </ListItem>
        <ListItem SVGIcon="Icons.Restart_Client">
            @LocalizationService.GetString("GIZ_APPS_REPAIR")
        </ListItem>
        <ExecutableLaunchButtonPersonalFiles ExecutableId="@ExecutableId" @key="ExecutableId" />
        <ListItem SVGIcon="Icons.Terminate_Client">
            @LocalizationService.GetString("GIZ_APPS_TERMINATE")
        </ListItem>
    </DropDownItems>
</ComboButton>
