@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services
@using Gizmo.Client.UI.Shared

@inject ILocalizationService localizationService

<HostedDialog>
    <div class="giz-client-dialog giz-change-mobile-dialog">
        <div class="giz-client-dialog__header">
            <div class="giz-client-dialog__header__title">Update number</div>
            <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
        </div>
        @switch (UserChangeMobileService.ViewState.PageIndex)
        {
            case 0:

                <div class="giz-client-dialog__body">
                    <div class="giz-change-mobile-dialog-message">Enter the number you’d like to use. To make sure this number is yours, will send you a verification code.</div>
                    <EditForm EditContext="@UserChangeMobileService.EditContext">
                        <div class="giz-form-input">
                            <MaskedPhoneInput Mask="###.###-###!###" @bind-Value="UserChangeMobileService.ViewState.MobilePhone" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_PHONE_NUMBER")" Countries="@Countries" @bind-SelectedCountry="SelectedCountry" OpenDirection="PopupOpenDirections.Cursor" />
                        </div>
                    </EditForm>
                </div>
                <div class="giz-client-dialog__footer">
                    <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" @onclick="@(() => UserChangeMobileService.SendConfirmationCodeAsync())">
                        <ChildContent>
                            @if (UserChangeMobileService.ViewState.IsLoading)
                            {
                                <GizSpinner />
                            }
                            else
                            {
                                <div>Get Code</div>
                            }
                        </ChildContent>
                    </Button>
                </div>

                break;

            case 1:

                <div class="giz-client-dialog__body">
                    <div class="giz-change-mobile-dialog-message">We just sent you an SMS with a code. Enter it to verify your phone.</div>
                    <div class="giz-change-mobile-dialog-mobile">TODO: A...</div>
                    <EditForm EditContext="@UserChangeMobileService.EditContext">
                        <div class="giz-form-input">
                            <TextInput @bind-Value="UserChangeMobileService.ViewState.ConfirmationCode" Size="InputSizes.Medium" IsFullWidth="true" Label="Enter the code" />
                        </div>
                    </EditForm>
                </div>
                <div class="giz-client-dialog__footer">
                    <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" @onclick="@(() => UserChangeMobileService.VerifyAsync())">Verify</Button>
                    <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.Large" IsFullWidth="true" IsDisabled="@(!UserChangeMobileService.ViewState.CanResend)" @onclick="@(() => UserChangeMobileService.ResendAsync())" Class="giz-resend-button">
                        <div>
                            <div>
                                @localizationService.GetString("GIZ_GEN_RESEND")
                            </div>
                            <div class="giz-resend-button__time">@string.Format("{0:mm\\:ss}", UserChangeMobileService.ViewState.ResendTimeLeft)</div>
                        </div>
                    </Button>
                </div>

                break;
                
            case 2:
                
                <div>Well done!</div>

                break;
        }
    </div>
</HostedDialog>
