@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-profile-header">
    <div class="giz-profile-header__avatar">
        <Avatar Image="@UserService.ViewState.Picture" Size="AvatarSizes.ExtraLarge" Variant="AvatarVariants.Circle" alt="loading" />

        <div class="giz-profile-header__avatar__about">
            <div class="giz-profile-header__avatar__about__name">@UserService.ViewState.Username</div>
            <div class="giz-profile-header__avatar__about__host">PC 05</div>
        </div>
    </div>
    <div class="giz-profile-header__stats">
        <div class="giz-profile-header__stats-item">

            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 10.5C13.4333 10.5 13.7917 10.3583 14.075 10.075C14.3583 9.79167 14.5 9.43333 14.5 9C14.5 8.56667 14.3583 8.20833 14.075 7.925C13.7917 7.64167 13.4333 7.5 13 7.5C12.5667 7.5 12.2083 7.64167 11.925 7.925C11.6417 8.20833 11.5 8.56667 11.5 9C11.5 9.43333 11.6417 9.79167 11.925 10.075C12.2083 10.3583 12.5667 10.5 13 10.5ZM10 14C9.45 14 8.97933 13.8043 8.588 13.413C8.196 13.021 8 12.55 8 12V6C8 5.45 8.196 4.979 8.588 4.587C8.97933 4.19567 9.45 4 10 4H17C17.55 4 18.021 4.19567 18.413 4.587C18.8043 4.979 19 5.45 19 6V12C19 12.55 18.8043 13.021 18.413 13.413C18.021 13.8043 17.55 14 17 14H10ZM2 18C1.45 18 0.979 17.8043 0.587 17.413C0.195667 17.021 0 16.55 0 16V2C0 1.45 0.195667 0.979 0.587 0.587C0.979 0.195667 1.45 0 2 0H16C16.55 0 17.021 0.195667 17.413 0.587C17.8043 0.979 18 1.45 18 2H10C8.81667 2 7.85433 2.37067 7.113 3.112C6.371 3.854 6 4.81667 6 6V12C6 13.1833 6.371 14.1457 7.113 14.887C7.85433 15.629 8.81667 16 10 16H18C18 16.55 17.8043 17.021 17.413 17.413C17.021 17.8043 16.55 18 16 18H2Z" fill="#FAFAFA"/>
            </svg>

            <div class="giz-profile-header__stats-text"><div class="giz-title">Balance</div><div class="giz-numbers">@UserService.ViewState.Balance.ToString("C")</div></div>
        </div>
        <div class="giz-profile-header__stats-item">
            
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1764_51534)" filter="url(#filter0_dd_1764_51534)">
                <path d="M12.0004 20.0002C17.2164 20.0002 21.4448 15.7718 21.4448 10.5558C21.4448 5.33975 17.2164 1.11133 12.0004 1.11133C6.78433 1.11133 2.55591 5.33975 2.55591 10.5558C2.55591 15.7718 6.78433 20.0002 12.0004 20.0002Z" fill="url(#paint0_linear_1764_51534)"/>
                <path d="M12.0004 18.8889C17.2164 18.8889 21.4448 14.6605 21.4448 9.44445C21.4448 4.22842 17.2164 0 12.0004 0C6.78433 0 2.55591 4.22842 2.55591 9.44445C2.55591 14.6605 6.78433 18.8889 12.0004 18.8889Z" fill="#FFCC4D"/>
                <path d="M11.9999 17.7782C16.2955 17.7782 19.7777 14.296 19.7777 10.0004C19.7777 5.70489 16.2955 2.22266 11.9999 2.22266C7.7044 2.22266 4.22217 5.70489 4.22217 10.0004C4.22217 14.296 7.7044 17.7782 11.9999 17.7782Z" fill="#FFE8B6"/>
                <path d="M11.9995 17.2216C16.295 17.2216 19.7772 13.7393 19.7772 9.44379C19.7772 5.14825 16.295 1.66602 11.9995 1.66602C7.70391 1.66602 4.22168 5.14825 4.22168 9.44379C4.22168 13.7393 7.70391 17.2216 11.9995 17.2216Z" fill="url(#paint1_linear_1764_51534)"/>
                </g>
                <defs>
                <filter id="filter0_dd_1764_51534" x="0" y="0" width="24" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="1"/>
                <feGaussianBlur stdDeviation="0.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1764_51534"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="2"/>
                <feGaussianBlur stdDeviation="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
                <feBlend mode="normal" in2="effect1_dropShadow_1764_51534" result="effect2_dropShadow_1764_51534"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1764_51534" result="shape"/>
                </filter>
                <linearGradient id="paint0_linear_1764_51534" x1="2.55591" y1="10.5558" x2="21.4448" y2="10.5558" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E65C00"/>
                <stop offset="1" stop-color="#F9D423"/>
                </linearGradient>
                <linearGradient id="paint1_linear_1764_51534" x1="4.22168" y1="9.44379" x2="19.7772" y2="9.44379" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F09819"/>
                <stop offset="1" stop-color="#EDDE5D"/>
                </linearGradient>
                <clipPath id="clip0_1764_51534">
                <rect width="20" height="20" fill="white" transform="translate(2)"/>
                </clipPath>
                </defs>
            </svg>

            <div class="giz-profile-header__stats-text"><div class="giz-title">Points</div><div class="giz-numbers">@UserService.ViewState.Points</div></div>
        </div>
        <div class="giz-profile-header__stats-item">
           
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.625 14.025C12.8083 14.2083 13.0333 14.3 13.3 14.3C13.5667 14.3 13.8 14.2 14 14C14.1833 13.8167 14.275 13.5833 14.275 13.3C14.275 13.0167 14.1833 12.7833 14 12.6L11 9.6V5.975C11 5.69167 10.9043 5.45833 10.713 5.275C10.521 5.09167 10.2833 5 10 5C9.71667 5 9.47933 5.09567 9.288 5.287C9.096 5.479 9 5.71667 9 6V9.975C9 10.1083 9.025 10.2373 9.075 10.362C9.125 10.4873 9.2 10.6 9.3 10.7L12.625 14.025ZM10 20C8.61667 20 7.31667 19.7373 6.1 19.212C4.88333 18.6873 3.825 17.975 2.925 17.075C2.025 16.175 1.31267 15.1167 0.788 13.9C0.262667 12.6833 0 11.3833 0 10C0 8.61667 0.262667 7.31667 0.788 6.1C1.31267 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.31233 6.1 0.787C7.31667 0.262333 8.61667 0 10 0C11.3833 0 12.6833 0.262333 13.9 0.787C15.1167 1.31233 16.175 2.025 17.075 2.925C17.975 3.825 18.6873 4.88333 19.212 6.1C19.7373 7.31667 20 8.61667 20 10C20 11.3833 19.7373 12.6833 19.212 13.9C18.6873 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6873 13.9 19.212C12.6833 19.7373 11.3833 20 10 20Z" fill="#FAFAFA"/>
            </svg>

            <div class="giz-profile-header__stats-text"><div class="giz-title">Time</div><div class="giz-numbers">@UserService.ViewState.Time</div></div>
        </div>
    </div>
</div>