@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-password-tooltip">
    <CircularProgressBar Size="CircularProgressBarSizes.Small" Color="@GetColor()" Value="@(_rulesPassed * 25)" Class="giz-password-tooltip__icon" />
    <div class="giz-password-tooltip__body">
        <div class="giz-password-tooltip__body__title">
            @GetPasswordDescription()
        </div>
        <div class="giz-password-tooltip__body__messages">
            <div class="giz-password-tooltip-message @(_lengthRulePassed ? "passed" : "")">
                8-24 characters
            </div>
            <div class="giz-password-tooltip-message @(_lowerRulePassed ? "passed" : "")">
                At least 1 lowercace letter
            </div>
            <div class="giz-password-tooltip-message @(_upperRulePassed ? "passed" : "")">
                At least 1 uppercase letter
            </div>
            <div class="giz-password-tooltip-message @(_numberRulePassed ? "passed" : "")">
                At least 1 number
            </div>
        </div>
    </div>
</div>