@inherits LayoutComponentBase
@layout _Layout
@using Gizmo.Web.Components
@using Microsoft.Extensions.Options

@inject IOptions<ClientUIOptions> ClientUIOptions

@if (!string.IsNullOrEmpty(ClientUIOptions.Value.Skin))
{
    <HeadContent>
        <link href="css/@ClientUIOptions.Value.Skin" rel="stylesheet" />
    </HeadContent>
}

<!--wrapper 1-->
<div class="wrapper_1 border-end">
    <!--user info-->
    <section id="giz-user-info" class="pa-6">
        <div class="giz-user">
            <!--avtar-->
            <div class="giz-user--avtar">
                <Avatar Image="@User.Picture" Size="AvatarSizes.Large" Variant="AvatarVariants.Circle" alt="loading" />

                <div class="giz-about-user">
                    <div class="giz-about-user--title">user</div>
                    <div class="giz-about-user--name">@User.Username</div>
                    <div class="giz-about-user--detail">
                        User since: <span>@User.RegistrationDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>
            <!--/avtar-->
            <!--user points-->
            <div class="giz-user-stats mb-7">
                <div class="giz-user-stats-item">
                    <Icon SVGIcon="Icons.Coins_Client" Size="IconSizes.Medium" />
                    <div class="giz-user-stats--text"><div class="giz-title">BALANCE</div><div class="giz-numbers">@User.Balance.ToString("C")</div></div>
                </div>
                <div class="giz-user-stats-item">
                    <Icon SVGIcon="Icons.Clock_Client" Size="IconSizes.Medium" />
                    <div class="giz-user-stats--text"><div class="giz-title">time</div><div class="giz-numbers">@User.Time</div></div>
                </div>
                <div class="giz-user-stats-item">
                    <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.Medium" />
                    <div class="giz-user-stats--text"><div class="giz-title">points</div><div class="giz-numbers">@User.Points</div></div>
                </div>
            </div>
            <!--/user points-->
            <!--Button-->
            <div class="giz-btn-wrapper">
                <Button Size="ButtonSizes.Large" HasShadow="true" Class="refill-time-button">Refill time</Button>
                <Button Size="ButtonSizes.Large" Color="ButtonColors.Info" Class="purchase-button">purchase</Button>
            </div>
            <!--/button-->
            <!--user profile links-->
            <List CanClick="true" CanSelect="true" Class="giz-menu-list">
                <ListItem Href="profile" Match=@NavLinkMatch.All>User Details</ListItem>
                <ListItem Href="profile/history" Match=@NavLinkMatch.All>Purchase History</ListItem>
                <ListItem Href="profile/deposits" Match=@NavLinkMatch.All>Deposits</ListItem>
                <ListItem Href="profile/refills" Match=@NavLinkMatch.All>Time Refills</ListItem>
                <ListItem Href="profile/notifications" Match=@NavLinkMatch.All>Notifications</ListItem>
            </List>
            <!--/user profile links-->
        </div>
    </section>
    <!--/user info-->
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 ">
    @Body
</div>
<!--/wrapper 2-->