@inherits LayoutComponentBase
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI;
@using Microsoft.Extensions.Options

@if (!string.IsNullOrEmpty(ClientUIOptions.Value.Theme))
{
    <HeadContent>
        <link href="https://static/@(()=>ClientUIOptions.Value.Theme)" rel="stylesheet" />
    </HeadContent>
}

<main client-theme="true">
    <div class="giz-main-container">
        <div class=" @ClassName">
            @if (LoginRotatorViewState.IsEnabled)
            {
                <Layout_LoginRotator />
            }
            else
            {
                <Layout_LoginWallpaper />
            }

            <div class="giz-host-number">
                <HostNumber />
            </div>

            <div class="giz-login-warnings">
                @if ((_previousIsIdle || _slideOut) && HostReservationViewState.IsReserved)
                {
                    @if (HostReservationViewState.IsLoginBlocked)
                    {
                        <Alert AlertType="AlertTypes.Warning"
                               Title="@LocalizationService.GetString("GIZ_LOGIN_RESERVATION_WARNING_TITLE", HostReservationViewState.Time.Value.ToShortTimeString())"
                               Text="@LocalizationService.GetString("GIZ_HOST_RESERVATION_LOGIN_IS_CURRENTLY_BLOCKED")" />

                    }
                    else
                    {
                        <Alert AlertType="AlertTypes.Warning"
                               Title="@LocalizationService.GetString("GIZ_LOGIN_RESERVATION_WARNING_TITLE", HostReservationViewState.Time.Value.ToShortTimeString())"
                               Text="@LocalizationService.GetString("GIZ_HOST_RESERVATION_LOGIN_IS_CURRENTLY_UNBLOCKED")" />
                    }
                }
            </div>

            <div class="giz-client-status" @onclick="test">
                <ClientLanguageMenu />

                <div class="giz-server">
                    <Layout_LoginServerConnection />
                    <div class="giz-version">
                        <div class="giz-version__title">@LocalizationService.GetString("GIZ_SYSTEM_VERSION")</div>
                        <div class="giz-version__version">@ClientVersionViewState.Version</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="giz-login__login">
            @Body
        </div>
    </div>
    <DialogHost />
    <Layout_LoginLock />
</main>
