@inherits LayoutComponentBase
@using Gizmo.Client.UI.ViewModels
@using Microsoft.Extensions.Options
@using Gizmo.Client.UI.Components

@inject IOptions<ClientUIOptions> ClientUIOptions

@if (!string.IsNullOrEmpty(ClientUIOptions.Value.Skin))
{
    <HeadContent>
        <link href="css/@ClientUIOptions.Value.Skin" rel="stylesheet" />
    </HeadContent>
}

<main client-theme="true">
    <div class="giz-main-container">
        <div class="giz-login__adv">
            <div class="giz-login__adv__background">
                <img src="_content/Gizmo.Client.UI/img/bg-img-2.png" alt="loading">
            </div>

            <div class="giz-login__adv__header">
                <div class="giz-nav-logo">
                    @*<div>
                        <img alt="loading">
                    </div>*@
                </div>
                <div class="giz-nav-title">@HostService.ViewState.HostNumber</div>
            </div>

            <div class="giz-login__adv__body">
                <Carousel Title="Daily News" ShowIndicator="true" Interval="5000">
                    @if (NewsFeeds != null)
                    {
                        @foreach (var item in NewsFeeds)
                        {
                            <CarouselItem>
                                @if (item.Type == NewsFeedTypes.Media)
                                {
                                    var mediaFeed = (MediaFeedViewModel)item;
                                    <div class="giz-login-adv">
                                        <div class="giz-login-adv__image">
                                            <img src="@mediaFeed.Thumb" alt="Image" />
                                        </div>
                                        <div class="giz-login-adv__text">@mediaFeed.Title</div>
                                    </div>
                                }
                            </CarouselItem>
                        }
                    }
                </Carousel>
            </div>

            <div class="giz-login__adv__footer">
                <ClientLanguageMenu />
                @*<div class="giz-language-menu">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16C6.90267 16 5.868 15.7917 4.896 15.375C3.924 14.9583 3.07333 14.3853 2.344 13.656C1.61467 12.9267 1.04167 12.076 0.625 11.104C0.208333 10.132 0 9.09733 0 8C0 6.88867 0.208333 5.85033 0.625 4.885C1.04167 3.92033 1.61467 3.07333 2.344 2.344C3.07333 1.61467 3.924 1.04167 4.896 0.625C5.868 0.208333 6.90267 0 8 0C9.11133 0 10.1497 0.208333 11.115 0.625C12.0797 1.04167 12.9267 1.61467 13.656 2.344C14.3853 3.07333 14.9583 3.92033 15.375 4.885C15.7917 5.85033 16 6.88867 16 8C16 9.09733 15.7917 10.132 15.375 11.104C14.9583 12.076 14.3853 12.9267 13.656 13.656C12.9267 14.3853 12.0797 14.9583 11.115 15.375C10.1497 15.7917 9.11133 16 8 16ZM8 14.438C8.236 14.2013 8.472 13.7603 8.708 13.115C8.944 12.469 9.12467 11.764 9.25 11H6.75C6.87533 11.764 7.056 12.469 7.292 13.115C7.528 13.7603 7.764 14.2013 8 14.438ZM6.104 14.229C5.90933 13.8123 5.73933 13.3333 5.594 12.792C5.448 12.25 5.32633 11.6527 5.229 11H2.25C2.65267 11.792 3.18733 12.469 3.854 13.031C4.52067 13.5937 5.27067 13.993 6.104 14.229ZM9.896 14.229C10.7293 13.993 11.4793 13.5937 12.146 13.031C12.8127 12.469 13.3473 11.792 13.75 11H10.771C10.6737 11.6527 10.552 12.25 10.406 12.792C10.2607 13.3333 10.0907 13.8123 9.896 14.229ZM10.958 9.5H14.312C14.382 9.236 14.4307 8.98267 14.458 8.74C14.486 8.49667 14.5 8.25 14.5 8C14.5 7.75 14.486 7.5 14.458 7.25C14.4307 7 14.382 6.75 14.312 6.5H10.958C10.986 6.764 11.0033 7.02433 11.01 7.281C11.0173 7.53833 11.021 7.792 11.021 8.042C11.021 8.292 11.0173 8.53833 11.01 8.781C11.0033 9.02433 10.986 9.264 10.958 9.5ZM6.562 9.5H9.438C9.46533 9.222 9.48267 8.96167 9.49 8.719C9.49667 8.47567 9.5 8.236 9.5 8C9.5 7.764 9.49667 7.521 9.49 7.271C9.48267 7.021 9.46533 6.764 9.438 6.5H6.562C6.53467 6.764 6.51733 7.021 6.51 7.271C6.50333 7.521 6.5 7.764 6.5 8C6.5 8.236 6.50333 8.479 6.51 8.729C6.51733 8.979 6.53467 9.236 6.562 9.5ZM1.688 9.5H5.042C5.014 9.236 4.99667 8.97567 4.99 8.719C4.98267 8.46167 4.979 8.208 4.979 7.958C4.979 7.708 4.98267 7.46167 4.99 7.219C4.99667 6.97567 5.014 6.736 5.042 6.5H1.688C1.618 6.764 1.56933 7.01733 1.542 7.26C1.514 7.50333 1.5 7.75 1.5 8C1.5 8.25 1.514 8.49667 1.542 8.74C1.56933 8.98267 1.618 9.236 1.688 9.5ZM10.771 5H13.75C13.3473 4.208 12.8127 3.531 12.146 2.969C11.4793 2.40633 10.7293 2.007 9.896 1.771C10.0907 2.18767 10.2607 2.66667 10.406 3.208C10.552 3.75 10.6737 4.34733 10.771 5ZM6.75 5H9.25C9.12467 4.236 8.944 3.531 8.708 2.885C8.472 2.23967 8.236 1.79867 8 1.562C7.764 1.79867 7.528 2.23967 7.292 2.885C7.056 3.531 6.87533 4.236 6.75 5ZM2.25 5H5.229C5.32633 4.34733 5.448 3.75 5.594 3.208C5.73933 2.66667 5.90933 2.18767 6.104 1.771C5.27067 2.007 4.52067 2.40633 3.854 2.969C3.18733 3.531 2.65267 4.208 2.25 5Z" fill="white"/>
                    </svg>
                    <div>ENG</div>
                </div>*@

                <div class="giz-server">
                    <Gizmo.Web.Components.Icon SVGIcon="Web.Components.Icons.DNS" Class="@(!HostService.ViewState.IsConnected ? "giz-server__icon disconnected" : "giz-server__icon")" />
                    <div class="giz-version">
                        <div class="giz-version__title">Version</div>
                        <div class="giz-version__version">2.457.002A</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="giz-login__login">
            @Body
            @if (HostService.ViewState.IsLocked)
            {
                <div class="giz-login-overlay" @onclick="@(() => HostService.SetHostLockStateAsync(false))">
                    <div class="giz-host-locked">
                        <div class="giz-host-locked__message">
                            <svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.0663 28.3335C2.44443 28.3335 1.9167 28.1167 1.4831 27.6831C1.05003 27.25 0.833496 26.7223 0.833496 26.0999V12.0335C0.833496 11.4111 1.05003 10.8831 1.4831 10.4495C1.9167 10.0164 2.44443 9.7999 3.0663 9.7999H5.0663V6.7663C5.0663 4.9887 5.69403 3.47216 6.9495 2.2167C8.2055 0.961229 9.7223 0.333496 11.4999 0.333496C13.2775 0.333496 14.7943 0.961229 16.0503 2.2167C17.3058 3.47216 17.9335 4.9887 17.9335 6.7663V9.7999H19.9335C20.5554 9.7999 21.0831 10.0164 21.5167 10.4495C21.9498 10.8831 22.1663 11.4111 22.1663 12.0335V26.0999C22.1663 26.7223 21.9498 27.25 21.5167 27.6831C21.0831 28.1167 20.5554 28.3335 19.9335 28.3335H3.0663ZM7.2663 9.7999H15.7335V6.7663C15.7335 5.6111 15.3223 4.6223 14.4999 3.7999C13.6775 2.9775 12.6775 2.5663 11.4999 2.5663C10.3223 2.5663 9.3223 2.9775 8.4999 3.7999C7.6775 4.6223 7.2663 5.6111 7.2663 6.7663V9.7999ZM11.4999 21.6663C12.2108 21.6663 12.822 21.4164 13.3335 20.9167C13.8444 20.4164 14.0999 19.8108 14.0999 19.0999C14.0999 18.4108 13.8444 17.7996 13.3335 17.2663C12.822 16.733 12.2108 16.4663 11.4999 16.4663C10.789 16.4663 10.1778 16.733 9.6663 17.2663C9.15536 17.7996 8.8999 18.422 8.8999 19.1335C8.8999 19.822 9.15536 20.4164 9.6663 20.9167C10.1778 21.4164 10.789 21.6663 11.4999 21.6663Z" fill="#FAFAFA"/>
                            </svg>
                            <div>Locked</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <DialogHost />
</main>
