@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-global-search-result-card">
    <div class="giz-global-search-result-card__image">
        @if (Result.Type == View.SearchResultTypes.Applications)
        {
            @if (Result.ImageId.HasValue)
            {
                <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@Result.ImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/Apex.png" alt='loading' />
            }
        }
        else
        {
            @if (Result.ImageId.HasValue)
            {
                <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@Result.ImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/Cola2.png" alt='loading' />
            } 
        }
    </div>
    <div class="giz-global-search-result-card__category">Gaming</div>
    <div class="giz-global-search-result-card__title">@Result.Name</div>
    <div class="giz-global-search-result-card__action">
        <Button Variant="ButtonVariants.Outline" @onclick="OnClickActionButtonHandler">@(Result.Type == View.SearchResultTypes.Applications ? @localizationService.GetString("GIZ_GLOBAL_SEARCH_LAUNCH") : @localizationService.GetString("GIZ_GLOBAL_SEARCH_ADD_TO_CART"))</Button>
    </div>
</div>
