@namespace Gizmo.Client.UI
@inherits CustomDOMComponentBase
@using System.Globalization

@if (_hideBalance)
{
    <div class="giz-header__user-menu-item">
        <div>@LocalizationService.GetString("GIZ_MENU_BALANCE_IS_HIDDEN")</div>
    </div>
    <div class="giz-header__user-menu-item">
        <div class="user-menu-item-button" @onclick="@(() => ToggleBalanceVisibility())">
            <Icon Size="IconSizes.Small" SVGIcon="Icons.EyeOpen_Client" />
        </div>
    </div>
}
else
{
    <div class="giz-header__user-menu-item">
        <HeaderUserBalanceCurrentTimeProduct /> 
    </div>
    <div class="giz-header__user-menu-item">
        <div class="giz-header__user-menu-item__icon">
            <Icon Size="IconSizes.Small" SVGIcon="Icons.Schedule_Client" />
        </div>
        <div>@((int)UserBalanceViewState.Time.TotalHours):@UserBalanceViewState.Time.ToString("mm")</div>
    </div>
    <div class="giz-header__user-menu-item">
        <div class="giz-header__user-menu-item__icon">
            <Points2Icon />
        </div>
        <div>@UserBalanceViewState.PointsBalance</div>
    </div>
    <div class="giz-header__user-menu-item">
        <div>@UserBalanceViewState.Balance.ToString("C", CultureInfo.CurrentCulture)</div>
    </div>
    <div class="giz-header__user-menu-item">
        <div class="user-menu-item-button" @onclick="@(() => ToggleBalanceVisibility())">
            <Icon Size="IconSizes.Small" SVGIcon="Icons.EyeClose_Client" />
        </div>
    </div>
}