@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-header__global-search">
    <div class="giz-global-search @(SearchService.ViewState.OpenDropDown ? "open" : "") @(!string.IsNullOrEmpty(SearchService.ViewState.SearchPattern) ? "nonemtpy" : "")" tabindex="0" @onfocusin="OnFocusHandler">

        <Icon SVGIcon="Icons.Search_Client" />

        <input type="text"
               value="@SearchService.ViewState.SearchPattern"
               placeholder="@localizationService.GetString("GIZ_GLOBAL_SEARCH_PLACEHOLDER")"
               @ref="_inputElement"
               @onfocusin="OnFocusInHandler"
               @onfocusout="OnFocusOutHandler"
               @oninput="OnInputHandler"
               @onkeydown="OnInputKeyDownHandler">

        <IconButton SVGIcon="Icons.Close" Size="ButtonSizes.Small" Variant="ButtonVariants.Text" @onclick="@(() => Clear())"
                    Style="@CloseButtonStyleValue" Class="giz-close-button" />

        <div class="giz-global-search-dropdown @(SearchService.ViewState.OpenDropDown ? "open" : "")"
             id="@Id"
             @ref="@Ref">
            <div class="giz-dropdown-menu__content giz-global-search-dropdown__body">

                @if ((SearchService.ViewState.ApplicationResults != null && SearchService.ViewState.ApplicationResults.Count > 0) || (SearchService.ViewState.ProductResults != null && SearchService.ViewState.ProductResults.Count > 0))
                {
                    @if (SearchService.ViewState.ApplicationResults != null && SearchService.ViewState.ApplicationResults.Count > 0)
                    {
                        <div class="giz-global-search-section">
                            <div class="giz-global-search-section__header">

                                <div>@localizationService.GetString("GIZ_GLOBAL_SEARCH_GAMES_AND_APPS")</div>

                                @if (SearchService.ViewState.ApplicationResults.Count > 10)
                                {
                                    <div class="giz-global-search-section__header__more" @onclick="@(() => SearchService.ViewAllResultsAsync(Gizmo.Client.UI.View.SearchResultTypes.Applications))">@localizationService.GetString("GIZ_GLOBAL_SEARCH_SHOW_ALL")</div>
                                }
                            </div>
                            <div class="giz-global-search-section__body">

                                @foreach (var result in SearchService.ViewState.ApplicationResults.Take(10))
                                {
                                    <HeaderGlobalSearchResultCard Result="@result" />
                                }

                            </div>
                        </div>
                    }
                    @if (SearchService.ViewState.ProductResults != null && SearchService.ViewState.ProductResults.Count > 0)
                    {
                        <div class="giz-global-search-section">
                            <div class="giz-global-search-section__header">

                                <div>@localizationService.GetString("GIZ_GLOBAL_SEARCH_SHOP")</div>

                                @if (SearchService.ViewState.ProductResults.Count > 10)
                                {
                                    <div class="giz-global-search-section__header__more" @onclick="@(() => SearchService.ViewAllResultsAsync(Gizmo.Client.UI.View.SearchResultTypes.Products))">@localizationService.GetString("GIZ_GLOBAL_SEARCH_SHOW_ALL")</div>
                                }
                            </div>
                            <div class="giz-global-search-section__body">

                                @foreach (var result in SearchService.ViewState.ProductResults.Take(10))
                                {
                                    <HeaderGlobalSearchResultCard Result="@result" />
                                }

                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="giz-global-search-empty">
                        @if (SearchService.ViewState.IsLoading)
                        {
                            <div class="giz-loader">
                                <GizSpinner />
                            </div>
                        }
                        else
                        {
                            <div class="giz-empty-state">
                                <div class="giz-empty-state__title">@localizationService.GetString("GIZ_GLOBAL_SEARCH_NO_RESULTS_MESSAGE")</div>
                                <div class="giz-empty-state__text">@localizationService.GetString("GIZ_GLOBAL_SEARCH_NO_RESULTS_RETRY_MESSAGE")</div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>

    </div>
</div>