@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.ViewModels

<div class="giz-global-search-result-card" @onclick="OnClickHandler">
    <div class="giz-global-search-result-card__image">
        @if (Result.Type == View.SearchResultTypes.Applications)
        {
            @if (Result.ImageId.HasValue)
            {
                <GizImage ImageType="Gizmo.UI.ImageType.Application" ImageId="@Result.ImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/no-app-image.png" alt='loading' />
            }
        }
        else
        {
            @if (Result.ImageId.HasValue)
            {
                <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@Result.ImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/no-product-image.png" alt='loading' />
            } 
        }
    </div>
    <div class="giz-global-search-result-card__category">
        @if (Result.Type == View.SearchResultTypes.Applications)
        {
            <HeaderGlobalSearchResultCardAppCategory @key="Result" ApplicationCategoryId="@Result.CategoryId" />
        }
        else
        {
            <HeaderGlobalSearchResultCardProductGroup @key="Result" ProductGroupId="@Result.CategoryId" />
        }
    </div>
    <div class="giz-global-search-result-card__title">@Result.Name</div>
    <div class="giz-global-search-result-card__action">
        <Button Variant="ButtonVariants.Outline" @onclick="OnClickActionButtonHandler">@(Result.Type == View.SearchResultTypes.Applications ? @LocalizationService.GetString("GIZ_GLOBAL_SEARCH_LAUNCH") : @LocalizationService.GetString("GIZ_GLOBAL_SEARCH_ADD_TO_CART"))</Button>
    </div>
</div>
