@namespace Gizmo.Client.UI
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-header__user-menu">
    <HeaderUserBalance />

    <div class="giz-header__user-menu-item giz-active-apps-dropdown @(_activeAppsIsOpen ? "open" : "")">
        <button class="user-menu-item-button--box" @onclick="() => ToggleActiveApps()" @onclick:stopPropagation="true">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 8C1.45 8 0.979 7.804 0.587 7.412C0.195667 7.02067 0 6.55 0 6V2C0 1.45 0.195667 0.979 0.587 0.587C0.979 0.195667 1.45 0 2 0H6C6.55 0 7.021 0.195667 7.413 0.587C7.80433 0.979 8 1.45 8 2V6C8 6.55 7.80433 7.02067 7.413 7.412C7.021 7.804 6.55 8 6 8H2ZM2 18C1.45 18 0.979 17.8043 0.587 17.413C0.195667 17.021 0 16.55 0 16V12C0 11.45 0.195667 10.979 0.587 10.587C0.979 10.1957 1.45 10 2 10H6C6.55 10 7.021 10.1957 7.413 10.587C7.80433 10.979 8 11.45 8 12V16C8 16.55 7.80433 17.021 7.413 17.413C7.021 17.8043 6.55 18 6 18H2ZM12 8C11.45 8 10.9793 7.804 10.588 7.412C10.196 7.02067 10 6.55 10 6V2C10 1.45 10.196 0.979 10.588 0.587C10.9793 0.195667 11.45 0 12 0H16C16.55 0 17.021 0.195667 17.413 0.587C17.8043 0.979 18 1.45 18 2V6C18 6.55 17.8043 7.02067 17.413 7.412C17.021 7.804 16.55 8 16 8H12ZM12 18C11.45 18 10.9793 17.8043 10.588 17.413C10.196 17.021 10 16.55 10 16V12C10 11.45 10.196 10.979 10.588 10.587C10.9793 10.1957 11.45 10 12 10H16C16.55 10 17.021 10.1957 17.413 10.587C17.8043 10.979 18 11.45 18 12V16C18 16.55 17.8043 17.021 17.413 17.413C17.021 17.8043 16.55 18 16 18H12Z" fill="currentColor" />
            </svg>
        </button>
        <MenuActiveApplicationsContainer @bind-IsOpen="_activeAppsIsOpen" />
    </div>
    <div class="giz-header__user-menu-item">
        <button class="user-menu-item-button--box">
            <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.84961 23.4501L9.79961 19.7251L9.47461 19.7001C7.00794 19.4334 4.95361 18.3834 3.31161 16.5501C1.67028 14.7168 0.849609 12.5584 0.849609 10.0751C0.849609 7.39176 1.78728 5.12076 3.66261 3.2621C5.53728 1.4041 7.81628 0.475098 10.4996 0.475098C11.8329 0.475098 13.0829 0.729098 14.2496 1.2371C15.4163 1.74576 16.4369 2.43743 17.3116 3.3121C18.1869 4.18743 18.8789 5.20843 19.3876 6.3751C19.8956 7.54176 20.1496 8.79176 20.1496 10.1251C20.1496 13.1584 19.1329 15.8001 17.0996 18.0501C15.0663 20.3001 12.6496 22.1001 9.84961 23.4501ZM10.4996 15.8501C10.8829 15.8501 11.2039 15.7208 11.4626 15.4621C11.7206 15.2041 11.8496 14.8834 11.8496 14.5001C11.8496 14.1168 11.7206 13.7958 11.4626 13.5371C11.2039 13.2791 10.8829 13.1501 10.4996 13.1501C10.1163 13.1501 9.79561 13.2791 9.53761 13.5371C9.27894 13.7958 9.14961 14.1168 9.14961 14.5001C9.14961 14.8834 9.27894 15.2041 9.53761 15.4621C9.79561 15.7208 10.1163 15.8501 10.4996 15.8501ZM10.5246 12.4501C10.7746 12.4501 10.9996 12.3584 11.1996 12.1751C11.3996 11.9918 11.5579 11.7418 11.6746 11.4251C11.7413 11.2418 11.8413 11.0668 11.9746 10.9001C12.1079 10.7334 12.3079 10.5251 12.5746 10.2751C12.9079 9.94176 13.1789 9.6001 13.3876 9.2501C13.5956 8.9001 13.6996 8.49176 13.6996 8.0251C13.6996 7.0751 13.4036 6.35843 12.8116 5.8751C12.2203 5.39176 11.4663 5.1501 10.5496 5.1501C9.93294 5.1501 9.38294 5.3041 8.89961 5.6121C8.41628 5.92076 8.01628 6.30843 7.69961 6.7751C7.53294 7.00843 7.50794 7.27076 7.62461 7.5621C7.74128 7.8541 7.94961 8.05843 8.24961 8.1751C8.48294 8.25843 8.72461 8.2501 8.97461 8.1501C9.22461 8.0501 9.44961 7.8751 9.64961 7.6251C9.74961 7.49176 9.87061 7.38343 10.0126 7.3001C10.1539 7.21676 10.3163 7.1751 10.4996 7.1751C10.8496 7.1751 11.1123 7.26676 11.2876 7.4501C11.4623 7.63343 11.5496 7.84176 11.5496 8.0751C11.5496 8.29176 11.4623 8.50843 11.2876 8.7251C11.1123 8.94176 10.9496 9.1251 10.7996 9.2751C10.3663 9.65843 10.0496 9.99176 9.84961 10.2751C9.64961 10.5584 9.52461 10.9251 9.47461 11.3751C9.44128 11.6584 9.52894 11.9084 9.73761 12.1251C9.94561 12.3418 10.2079 12.4501 10.5246 12.4501Z" fill="currentColor" />
            </svg>
        </button>
    </div>
    <div class="giz-header__user-menu-item giz-notifications-dropdown @(_notificationsIsOpen ? "open" : "")">
        <Badge Label="@NotificationsService.ViewState.Notifications?.Count.ToString()" IsVisible="@(NotificationsService.ViewState.Notifications?.Count > 0)">
            <button class="user-menu-item-button--box" @onclick="() => ToggleNotifications()" @onclick:stopPropagation="true">
                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.14995 18.725C1.71662 18.725 1.34595 18.571 1.03795 18.263C0.729285 17.9543 0.574951 17.5833 0.574951 17.15C0.574951 16.7167 0.729285 16.346 1.03795 16.038C1.34595 15.7293 1.71662 15.575 2.14995 15.575H2.84995V9.5C2.84995 7.88333 3.31262 6.43733 4.23795 5.162C5.16262 3.88733 6.39162 3.05833 7.92495 2.675V2.125C7.92495 1.54167 8.12495 1.05 8.52495 0.649999C8.92495 0.249999 9.41662 0.0499992 9.99995 0.0499992C10.5833 0.0499992 11.075 0.249999 11.475 0.649999C11.875 1.05 12.075 1.54167 12.075 2.125V2.675C13.625 3.05833 14.8583 3.88733 15.775 5.162C16.6916 6.43733 17.15 7.88333 17.15 9.5V15.575H17.875C18.3083 15.575 18.6793 15.7293 18.988 16.038C19.296 16.346 19.45 16.7167 19.45 17.15C19.45 17.5833 19.296 17.9543 18.988 18.263C18.6793 18.571 18.3083 18.725 17.875 18.725H2.14995ZM10.025 21.85C9.39162 21.85 8.84995 21.6293 8.39995 21.188C7.94995 20.746 7.72495 20.2083 7.72495 19.575H12.3C12.3 20.2083 12.0793 20.746 11.638 21.188C11.196 21.6293 10.6583 21.85 10.025 21.85Z" fill="currentColor" />
                </svg>
            </button>
        </Badge>
        <MenuNotificationsContainer @bind-IsOpen="_notificationsIsOpen" />
    </div>
    <div class="giz-header__user-menu-item giz-user-dropdown @(_userLinksIsOpen ? "open" : "")">
        <button class="giz-user-menu-button" @onclick="() => ToggleUserLinks()" @onclick:stopPropagation="true">
            <Avatar Image="@UserService.ViewState.Picture" Variant="AvatarVariants.Circle" Size="AvatarSizes.Small" />

            <div>PC 05</div>

            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.04158 8.04201L1.04158 3.04201C0.624915 2.62534 0.534582 2.13201 0.770582 1.56201C1.00658 0.992675 1.43025 0.708008 2.04158 0.708008H11.9576C12.5689 0.708008 12.9926 0.992675 13.2286 1.56201C13.4646 2.13201 13.3742 2.62534 12.9576 3.04201L7.95758 8.04201C7.81892 8.18067 7.67325 8.28467 7.52058 8.35401C7.36792 8.42334 7.19425 8.45801 6.99958 8.45801C6.80492 8.45801 6.63125 8.42334 6.47858 8.35401C6.32592 8.28467 6.18025 8.18067 6.04158 8.04201Z" fill="#FAFAFA" />
            </svg>

        </button>
        <MenuUserLinks @bind-IsOpen="_userLinksIsOpen" />
    </div>
</div>
