@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase

<div class="giz-login-content__background">
    @if (_previousItem != null)
    {
        <div class="giz-login-background-wrapper previous">
            @if (_previousItem.IsVideo)
            {
                <Layout_LoginRotatorVideo MediaPath="@_previousItem.MediaPath" />
            }
            else
            {
                <img src="@_previousItem.MediaPath" alt="loading">
            }
        </div>
    }
    @if (_currentItem != null)
    {
        <div class="@AnimatedClassName">
            @if (_currentItem.IsVideo)
            {
                <Layout_LoginRotatorVideo MediaPath="@_currentItem.MediaPath" OnVideoEvent="@OnVideoEventHandle" />
            }
            else
            {
                <img src="@_currentItem.MediaPath" alt="loading">
            }
        </div>
    }
</div>