@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown header-->
    <div class="giz-dropdown-menu--header">
        <div class="giz-user-stats">
            <div class="giz-user-stats-item">
                <Icon SVGIcon="Icons.Coins_Client" Size="IconSizes.Medium" />
                <div class="giz-user-stats--text"><div class="giz-title">BALANCE</div><div>@User.Balance.ToString("C")</div></div>
            </div>
            <div class="giz-user-stats-item">
                <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.Medium" />
                <div class="giz-user-stats--text"><div class="giz-title">POINTS</div><div>@User.Points</div></div>
            </div>
        </div>
    </div>
    <!--/dropdown header-->
    <!--dropdown body-->
    <div class="giz-dropdown-menu--body">
        <div class="giz-dropdown-menu--carousel">
            <div>time source</div>
            <div>
                <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowLeft_Client" @onclick="@OnClickPreviousButtonHandler" />
                <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowRight_Client" @onclick="@OnClickNextButtonHandler" />
            </div>
        </div>
        <div class="giz-dropdown-menu--timing">
            <div class="giz-pack">@User.CurrentTimeProduct</div>
            <div class="giz-title">time remaining</div>
            <div class="giz-countdown">@User.Time</div>
        </div>
        <div class="giz-dropdown-menu--wrapper">
            <div class="giz-dropdown-menu--user-links">
                <Button Size="ButtonSizes.Large" IsFullWidth="true" HasShadow="true">Refill time</Button>
                <Button Size="ButtonSizes.Large" IsFullWidth="true" Color="ButtonColors.Info">my profile</Button>
                <Button Size="ButtonSizes.Large" IsFullWidth="true" Color="ButtonColors.Info">settings</Button>
            </div>
            <div class="giz-dropdown-menu--logout">
                <Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Logout_Client" IsFullWidth="true" Color="ButtonColors.Secondary">
                    log out
                </Button>
            </div>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->