@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.Components
@using Gizmo.Web.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<tr class="giz-active-app-card">
    <td class="giz-active-app-card__image">
        @if (Executable.ImageId.HasValue)
        {
            <GizImage ImageType="Gizmo.UI.ImageType.Executable" ImageId="@Executable.ImageId.Value" />
        }
        else
        {
            <img src="_content/Gizmo.Client.UI/img/Chrome-icon_1.png" alt='loading' />
        }
    </td>
    <td class="giz-active-app-card__info">
        <div class="giz-active-app-card__info__category">Gaming</div>
        <div class="giz-active-app-card__info__title">@Executable.Caption</div>
    </td>
    <td class="giz-active-app-card__actions">
        <ComboButton Progress="@Executable.StatePercentage" Color="@(Executable.State == 3 ? ButtonColors.Danger : ButtonColors.Accent)" Variant="@(Executable.State == 2 ? ButtonVariants.Progress : ButtonVariants.Fill)" Size="ButtonSizes.Large" IsFullWidth="true" OnClickMainButton="@OnClickMainButtonHandler" OpenDirection="PopupOpenDirections.Cursor"
                     Text="@(Executable.State == 0 ? localizationService.GetString("GIZ_APPS_LAUNCH") : 
                             Executable.State == 2 ? localizationService.GetString("GIZ_APPS_LOADING") :
                             Executable.State == 3 ? localizationService.GetString("GIZ_APPS_TERMINATE") : ""
                             )"
                    >
            <ChildContent>
                @switch (Executable.State)
                {
                    case 0:
                        <div>@localizationService.GetString("GIZ_APPS_LAUNCH")</div>
                        break;
                        
                    case 1:
                        <GizSpinner />
                        break;

                    case 2:
                        <div>@localizationService.GetString("GIZ_APPS_LOADING")</div>
                        break;

                    case 3:
                        <div>@localizationService.GetString("GIZ_APPS_TERMINATE")</div>
                        break;
                }
            </ChildContent>
            <DropDownItems>
                <ListItem>
                    <CheckBox Label="@localizationService.GetString("GIZ_APPS_AUTO_START")" Class="giz-app-autostart" />
                </ListItem>
                <ListItem SVGIcon="Icons.Restart_Client">
                    @localizationService.GetString("GIZ_APPS_REPAIR")
                </ListItem>
                <ListItem SVGIcon="Icons.FolderShared_Client">
                    <ChildContent>
                        @localizationService.GetString("GIZ_APPS_PERSONAL_FILES")
                    </ChildContent>
                    <NestedList>
                        <ListItem>
                            -123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                        <ListItem>
                            123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                        <ListItem>
                            123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                    </NestedList>
                </ListItem>
                <ListItem SVGIcon="Icons.Terminate_Client">
                    @localizationService.GetString("GIZ_APPS_TERMINATE")
                </ListItem>
            </DropDownItems>
        </ComboButton>
    </td>
</tr>
