@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-dropdown-menu">
    <div class="giz-user-links">
        
        <div class="giz-user-links-item" @onclick="OnClickTopUpButtonHandler">
            <div class="giz-user-links-item__icon">
                <Icon SVGIcon="Icons.QR" />
            </div>
            <div class="giz-user-links-item-title">@localizationService.GetString("GIZ_USER_MENU_TOP_UP")</div>
        </div>

        <a href="/profile" class="giz-user-links-item">
            <div class="giz-user-links-item__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 8C6.9 8 5.95833 7.60833 5.175 6.825C4.39167 6.04167 4 5.1 4 4C4 2.9 4.39167 1.95833 5.175 1.175C5.95833 0.391667 6.9 0 8 0C9.1 0 10.0417 0.391667 10.825 1.175C11.6083 1.95833 12 2.9 12 4C12 5.1 11.6083 6.04167 10.825 6.825C10.0417 7.60833 9.1 8 8 8ZM2 16C1.45 16 0.979333 15.8043 0.588 15.413C0.196 15.021 0 14.55 0 14V13.2C0 12.6333 0.146 12.1123 0.438 11.637C0.729334 11.1623 1.11667 10.8 1.6 10.55C2.63333 10.0333 3.68333 9.64567 4.75 9.387C5.81667 9.129 6.9 9 8 9C9.1 9 10.1833 9.129 11.25 9.387C12.3167 9.64567 13.3667 10.0333 14.4 10.55C14.8833 10.8 15.2707 11.1623 15.562 11.637C15.854 12.1123 16 12.6333 16 13.2V14C16 14.55 15.8043 15.021 15.413 15.413C15.021 15.8043 14.55 16 14 16H2Z"/>
                </svg>
            </div>
            <div class="giz-user-links-item-title">@localizationService.GetString("GIZ_USER_MENU_PROFILE")</div>
        </a>
               
        <a href="/settings" class="giz-user-links-item">
            <div class="giz-user-links-item__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.8751 20H8.12509C7.87509 20 7.65843 19.9167 7.47509 19.75C7.29176 19.5833 7.18343 19.375 7.15009 19.125L6.85009 16.8C6.63343 16.7167 6.42943 16.6167 6.23809 16.5C6.04609 16.3833 5.85843 16.2583 5.67509 16.125L3.50009 17.025C3.26676 17.1083 3.03343 17.1167 2.80009 17.05C2.56676 16.9833 2.38343 16.8417 2.25009 16.625L0.400093 13.4C0.26676 13.1833 0.225093 12.95 0.275093 12.7C0.325093 12.45 0.450093 12.25 0.650093 12.1L2.52509 10.675C2.50843 10.5583 2.50009 10.4457 2.50009 10.337C2.50009 10.229 2.50009 10.1167 2.50009 10C2.50009 9.88333 2.50009 9.77067 2.50009 9.662C2.50009 9.554 2.50843 9.44167 2.52509 9.325L0.650093 7.9C0.450093 7.75 0.325093 7.55 0.275093 7.3C0.225093 7.05 0.26676 6.81667 0.400093 6.6L2.25009 3.375C2.36676 3.14167 2.54576 2.99567 2.78709 2.937C3.02909 2.879 3.26676 2.89167 3.50009 2.975L5.67509 3.875C5.85843 3.74167 6.05009 3.61667 6.25009 3.5C6.45009 3.38333 6.65009 3.28333 6.85009 3.2L7.15009 0.875C7.18343 0.625 7.29176 0.416667 7.47509 0.25C7.65843 0.0833333 7.87509 0 8.12509 0H11.8751C12.1251 0 12.3418 0.0833333 12.5251 0.25C12.7084 0.416667 12.8168 0.625 12.8501 0.875L13.1501 3.2C13.3668 3.28333 13.5711 3.38333 13.7631 3.5C13.9544 3.61667 14.1418 3.74167 14.3251 3.875L16.5001 2.975C16.7334 2.89167 16.9668 2.88333 17.2001 2.95C17.4334 3.01667 17.6168 3.15833 17.7501 3.375L19.6001 6.6C19.7334 6.81667 19.7751 7.05 19.7251 7.3C19.6751 7.55 19.5501 7.75 19.3501 7.9L17.4751 9.325C17.4918 9.44167 17.5001 9.554 17.5001 9.662C17.5001 9.77067 17.5001 9.88333 17.5001 10C17.5001 10.1167 17.5001 10.229 17.5001 10.337C17.5001 10.4457 17.4834 10.5583 17.4501 10.675L19.3251 12.1C19.5251 12.25 19.6501 12.45 19.7001 12.7C19.7501 12.95 19.7084 13.1833 19.5751 13.4L17.7251 16.6C17.5918 16.8167 17.4044 16.9627 17.1631 17.038C16.9211 17.1127 16.6834 17.1083 16.4501 17.025L14.3251 16.125C14.1418 16.2583 13.9501 16.3833 13.7501 16.5C13.5501 16.6167 13.3501 16.7167 13.1501 16.8L12.8501 19.125C12.8168 19.375 12.7084 19.5833 12.5251 19.75C12.3418 19.9167 12.1251 20 11.8751 20ZM10.0501 13.5C11.0168 13.5 11.8418 13.1583 12.5251 12.475C13.2084 11.7917 13.5501 10.9667 13.5501 10C13.5501 9.03333 13.2084 8.20833 12.5251 7.525C11.8418 6.84167 11.0168 6.5 10.0501 6.5C9.06676 6.5 8.23743 6.84167 7.56209 7.525C6.88743 8.20833 6.55009 9.03333 6.55009 10C6.55009 10.9667 6.88743 11.7917 7.56209 12.475C8.23743 13.1583 9.06676 13.5 10.0501 13.5Z"/>
                </svg>
            </div>
            <div class="giz-user-links-item-title">@localizationService.GetString("GIZ_USER_MENU_SETTINGS")</div>
        </a>
                
        <div class="giz-user-links-item">
            <div class="giz-user-links-item__icon">
                <!-- help -->
                <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.95 16C10.3 16 10.596 15.879 10.838 15.637C11.0793 15.3957 11.2 15.1 11.2 14.75C11.2 14.4 11.0793 14.1043 10.838 13.863C10.596 13.621 10.3 13.5 9.95 13.5C9.6 13.5 9.304 13.621 9.062 13.863C8.82067 14.1043 8.7 14.4 8.7 14.75C8.7 15.1 8.82067 15.3957 9.062 15.637C9.304 15.879 9.6 16 9.95 16ZM10.1 5.7C10.5667 5.7 10.9417 5.829 11.225 6.087C11.5083 6.34567 11.65 6.68333 11.65 7.1C11.65 7.38333 11.5543 7.67067 11.363 7.962C11.171 8.254 10.9 8.55833 10.55 8.875C10.05 9.30833 9.68333 9.725 9.45 10.125C9.21667 10.525 9.1 10.925 9.1 11.325C9.1 11.5583 9.18767 11.754 9.363 11.912C9.53767 12.0707 9.74167 12.15 9.975 12.15C10.2083 12.15 10.4167 12.0667 10.6 11.9C10.7833 11.7333 10.9 11.525 10.95 11.275C11 10.9917 11.1127 10.7293 11.288 10.488C11.4627 10.246 11.75 9.93333 12.15 9.55C12.6667 9.06667 13.0293 8.625 13.238 8.225C13.446 7.825 13.55 7.38333 13.55 6.9C13.55 6.05 13.2293 5.354 12.588 4.812C11.946 4.27067 11.1167 4 10.1 4C9.4 4 8.77933 4.13333 8.238 4.4C7.696 4.66667 7.275 5.075 6.975 5.625C6.85833 5.84167 6.81667 6.054 6.85 6.262C6.88333 6.47067 7 6.64167 7.2 6.775C7.41667 6.90833 7.65433 6.95 7.913 6.9C8.171 6.85 8.38333 6.70833 8.55 6.475C8.73333 6.225 8.95433 6.03333 9.213 5.9C9.471 5.76667 9.76667 5.7 10.1 5.7ZM10 20C8.63333 20 7.34167 19.7373 6.125 19.212C4.90833 18.6873 3.846 17.975 2.938 17.075C2.02933 16.175 1.31267 15.1167 0.788 13.9C0.262667 12.6833 0 11.3833 0 10C0 8.61667 0.262667 7.31667 0.788 6.1C1.31267 4.88333 2.02933 3.825 2.938 2.925C3.846 2.025 4.90833 1.31233 6.125 0.787C7.34167 0.262333 8.63333 0 10 0C11.4 0 12.7083 0.262333 13.925 0.787C15.1417 1.31233 16.2 2.025 17.1 2.925C18 3.825 18.7083 4.88333 19.225 6.1C19.7417 7.31667 20 8.61667 20 10C20 11.3833 19.7417 12.6833 19.225 13.9C18.7083 15.1167 18 16.175 17.1 17.075C16.2 17.975 15.1417 18.6873 13.925 19.212C12.7083 19.7373 11.4 20 10 20Z"/>
                </svg>
            </div>
            <div class="giz-user-links-item-title">@localizationService.GetString("GIZ_USER_MENU_HELP")</div>
        </div>
                
        <div class="giz-user-links-item" @onclick="@(() => UserLockService.LockAsync())">
            <div class="giz-user-links-item__icon">
                <svg width="16" height="21" viewBox="0 0 16 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C9.38333 0 10.5627 0.487333 11.538 1.462C12.5127 2.43733 13 3.61667 13 5V7H14C14.55 7 15.021 7.19567 15.413 7.587C15.8043 7.979 16 8.45 16 9V19C16 19.55 15.8043 20.021 15.413 20.413C15.021 20.8043 14.55 21 14 21H2C1.45 21 0.979333 20.8043 0.588 20.413C0.196 20.021 0 19.55 0 19V9C0 8.45 0.196 7.979 0.588 7.587C0.979333 7.19567 1.45 7 2 7H3V5C3 3.61667 3.48767 2.43733 4.463 1.462C5.43767 0.487333 6.61667 0 8 0ZM8 2C7.16667 2 6.45833 2.29167 5.875 2.875C5.29167 3.45833 5 4.16667 5 5V7H11V5C11 4.16667 10.7083 3.45833 10.125 2.875C9.54167 2.29167 8.83333 2 8 2ZM8 12C7.45 12 6.97933 12.1957 6.588 12.587C6.196 12.979 6 13.45 6 14C6 14.55 6.196 15.021 6.588 15.413C6.97933 15.8043 7.45 16 8 16C8.55 16 9.021 15.8043 9.413 15.413C9.80433 15.021 10 14.55 10 14C10 13.45 9.80433 12.979 9.413 12.587C9.021 12.1957 8.55 12 8 12Z"/>
                </svg>
            </div>
            <div class="giz-user-links-item-title">@localizationService.GetString("GIZ_USER_MENU_LOCK_PC")</div>
        </div>
                
        <div class="giz-user-links-item" @onclick="@(() => UserService.LogοutAsync())">
            <div class="giz-user-links-item__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.325 13.275C12.1417 13.0583 12.05 12.8123 12.05 12.537C12.05 12.2623 12.1417 12.0333 12.325 11.85L14.175 10H7C6.71667 10 6.47933 9.904 6.288 9.712C6.096 9.52067 6 9.28333 6 9C6 8.71667 6.096 8.479 6.288 8.287C6.47933 8.09567 6.71667 8 7 8H14.175L12.325 6.15C12.125 5.95 12.025 5.71267 12.025 5.438C12.025 5.16267 12.125 4.925 12.325 4.725C12.5083 4.525 12.7377 4.425 13.013 4.425C13.2877 4.425 13.5167 4.51667 13.7 4.7L17.3 8.3C17.4 8.4 17.471 8.50833 17.513 8.625C17.5543 8.74167 17.575 8.86667 17.575 9C17.575 9.13333 17.5543 9.25833 17.513 9.375C17.471 9.49167 17.4 9.6 17.3 9.7L13.7 13.3C13.4833 13.5167 13.246 13.6123 12.988 13.587C12.7293 13.5623 12.5083 13.4583 12.325 13.275ZM2 18C1.45 18 0.979 17.8043 0.587 17.413C0.195667 17.021 0 16.55 0 16V2C0 1.45 0.195667 0.979 0.587 0.587C0.979 0.195667 1.45 0 2 0H8C8.28333 0 8.521 0.0956666 8.713 0.287C8.90433 0.479 9 0.716667 9 1C9 1.28333 8.90433 1.52067 8.713 1.712C8.521 1.904 8.28333 2 8 2H2V16H8C8.28333 16 8.521 16.096 8.713 16.288C8.90433 16.4793 9 16.7167 9 17C9 17.2833 8.90433 17.5207 8.713 17.712C8.521 17.904 8.28333 18 8 18H2Z"/>
                </svg>
            </div>
            <div class="giz-user-links-item-title">@localizationService.GetString("GIZ_USER_MENU_LOGOUT")</div>
        </div>

    </div>
</div>
              
<TopUpDialog @bind-IsOpen="TopUpIsOpen" />