@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<tr class="giz-active-app-card">
    <td class="giz-active-app-card__image">
        <img src="@Executable.Image" alt="loading" />
    </td>
    <td class="giz-active-app-card__info">
        <div class="giz-active-app-card__info__category">Gaming</div>
        <div class="giz-active-app-card__info__title">@Executable.Caption</div>
    </td>
    <td class="giz-active-app-card__actions">
        <ComboButton Progress="@Executable.StatePercentage" Color="@(Executable.State == 3 ? ButtonColors.Danger : ButtonColors.Accent)" Variant="@(Executable.State == 2 ? ButtonVariants.Progress : ButtonVariants.Fill)" Size="ButtonSizes.Large" IsFullWidth="true" OnClickMainButton="@OnClickMainButtonHandler" OpenDirection="PopupOpenDirections.Cursor">
            <ChildContent>
                @switch (Executable.State)
                {
                    case 0:
                        <div>Play</div>
                        break;
                            
                    case 1:
                        <GizSpinner />
                        break;

                    case 2:
                        <div>Loading</div>
                        break;

                    case 3:
                        <div>Terminate</div>
                        break;
                }
            </ChildContent>
            <DropDownItems>
                <ListItem>
                    Autostart
                </ListItem>
                <ListItem SVGIcon="Icons.Repair_Client">
                    Repair
                </ListItem>
                <ListItem SVGIcon="Icons.Folder_Client">
                    <ChildContent>
                        Personal Files
                    </ChildContent>
                    <NestedList>
                        <ListItem>
                            -123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                        <ListItem>
                            123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                        <ListItem>
                            123
                        </ListItem>
                        <ListItem>
                            456
                        </ListItem>
                    </NestedList>
                </ListItem>
                <ListItem SVGIcon="Icons.Close_Client">
                    Terminate
                </ListItem>
            </DropDownItems>
        </ComboButton>
    </td>
</tr>