@namespace Gizmo.Client.UI
@inherits CustomDOMComponentBase
@using System.Globalization
@using Microsoft.AspNetCore.Components.Forms

<div class="giz-dropdown-menu @(UserMenuViewState.UserOnlineDepositIsVisible ? "open" : "")"
     id="@Id"
     @ref="@Ref">
    <div class="giz-dropdown-menu__content giz-user-online-deposit-menu">
        <UserOnlineDeposits OnClickPayFromPC="@OnClickPayFromPCHandler" OnClickClear="@OnClickClearHandler" />
    </div>
</div>