@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@layout _Layout_Login
@using System.Threading
@using Microsoft.AspNetCore.Components.Forms

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            @if (HostService.HostConfigurationViewState.CanSignUp)
            {
                <div class="giz-login-new-user">@LocalizationService.GetString("GIZ_LOGIN_NOT_A_MEMBER") <a @onclick="UserLoginService.OpenRegistrationAsync">@LocalizationService.GetString("GIZ_LOGIN_SIGN_UP_NOW")</a></div>
            }
        </div>
        <div class="giz-login-alerts">
            @if (ViewState.HasLoginError)
            {
                <Toast CanClose="true" OnCloseButtonClick="OnCloseButtonClickHandler" AlertType="AlertTypes.Danger" Text="@ViewState.LoginError" />
            }
            else
            {
                @if (HostService.ReservationViewState.IsPending)@*TODO: A*@
                {
                    <Alert AlertType="AlertTypes.Warning" Title="@LocalizationService.GetString("GIZ_LOGIN_RESERVATION_WARNING_TITLE", HostService.ReservationViewState.StartTime.ToShortTimeString())" Text="@LocalizationService.GetString("GIZ_LOGIN_RESERVATION_WARNING_MESSAGE")" />
                }
            }
        </div>
    </CardHeader>
    <CardBody>
            <EditForm EditContext="@UserLoginService.EditContext">
            <div class="giz-login-title">@LocalizationService.GetString("GIZ_LOGIN_SIGN_IN_TITLE")</div>
            <div>
                <ButtonGroup Class="giz-login-method" IsMandatory="true" SelectedItemsChanged="@SelectLoginType" IsDisabled="@ViewState.IsLogginIn">
                    <Button Name="Username" IsSelected="@(ViewState.LoginType == View.UserLoginType.UsernameOrEmail)">@LocalizationService.GetString("GIZ_GEN_USERNAME")</Button>
                    <Button Name="Phone" IsSelected="@(ViewState.LoginType == View.UserLoginType.MobilePhone)">@LocalizationService.GetString("GIZ_GEN_PHONE_NUMBER")</Button>
                </ButtonGroup>
            </div>
            <div class="giz-form-input">
                @if (ViewState.LoginType == View.UserLoginType.UsernameOrEmail)
                {
                    <TextInput UpdateOnInput="true"
                               Value="@ViewState.LoginName"
                               ValueChanged="@((string value) => UserLoginService.SetLoginName(value))"
                               ValueExpression="@(() => ViewState.LoginName)"
                               ValidateFunction="@UserLoginService.UsernameCharacterIsValid"
                               IsDisabled="@ViewState.IsLogginIn"
                               Size="InputSizes.Medium"
                               IsFullWidth="true"
                               Label="@LocalizationService.GetString("GIZ_GEN_USERNAME")" />
                }
                else
                {
                    <MaskedPhoneInput Mask="###-###-####"
                                      AllowMoreDigits="true"
                                      Value="@ViewState.LoginName"
                                      ValueChanged="@((string value) => UserLoginService.SetLoginName(value))"
                                      ValueExpression="@(() => ViewState.LoginName)"
                                      IsDisabled="@ViewState.IsLogginIn"
                                      Size="InputSizes.Medium"
                                      IsFullWidth="true"
                                      Label="@LocalizationService.GetString("GIZ_GEN_PHONE_NUMBER")" />
                }
            </div>
            @if (UserPasswordRecoveryMethodServiceViewState.AvailabledRecoveryMethod != UserRecoveryMethod.None)
            {
                <div class="giz-login-forgot-password">
                    <a href="@ClientRoutes.PasswordRecoveryRoute">@LocalizationService.GetString("GIZ_LOGIN_FORGOT_YOUR_PASSWORD")</a>
                </div>
            }
            <div class="giz-form-input">
                <PasswordInput ShowRevealButton="true"
                               UpdateOnInput="true" Value="@ViewState.Password"
                               ValueChanged="@((string value) => UserLoginService.SetPassword(value))"
                               ValueExpression="@(() => ViewState.Password)"
                               IsPasswordVisible="@ViewState.IsPasswordVisible"
                               IsPasswordVisibleChanged="@((bool value) => UserLoginService.SetPasswordVisible(value))"
                               IsDisabled="@ViewState.IsLogginIn"
                               Size="InputSizes.Medium"
                               IsFullWidth="true"
                               Label="@LocalizationService.GetString("GIZ_GEN_PASSWORD")" />
            </div>
            <div>
                <Button Color="ButtonColors.Accent" LeftSVGIcon="@(!ViewState.IsLogginIn ? Icons.Login_Client : null)" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserLoginService.LoginAsync">
                    @if (ViewState.IsLogginIn)
                    {
                        <Spinner />
                    }
                    else
                    {
                        <div>@LocalizationService.GetString("GIZ_GEN_CONTINUE")</div>
                    }
                </Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        @if (HostService.HostConfigurationViewState.CanSignInWithQR)
        {
            <div class="giz-alternative-login">
                <div class="giz-alternative-login__separator"><span>@LocalizationService.GetString("GIZ_LOGIN_OR")</span></div>
                <div class="giz-alternative-login__qr" @onclick="@(() => HostService.SetHostLockStateAsync(true))">
                    <div class="giz-alternative-login__qr-description">
                        <div class="giz-alternative-login__qr-description__title">@LocalizationService.GetString("GIZ_LOGIN_QR_TITLE")</div>
                        <div class="giz-alternative-login__qr-description__subtitle">@LocalizationService.GetString("GIZ_LOGIN_QR_MESSAGE")</div>
                    </div>
                    @*TODO: A*@
                    <!-- QR -->
                    <svg width="154" height="154" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="154" height="154" rx="8" fill="#FAFAFA" />
                        <g clip-path="url(#clip0_3888_83966)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27592 9.41007C8.17346 10.6282 8.00154 13.0119 8.01156 26.9492C8.0185 35.8197 8.27831 43.4598 8.58978 43.9263C10.0808 46.1589 12.9032 46.5475 27.6438 46.5475C42.6681 46.5475 42.7745 46.5359 44.6548 44.6548C46.5359 42.7745 46.5475 42.6681 46.5475 27.6438C46.5475 12.9032 46.1589 10.0808 43.9263 8.58978C43.4598 8.27831 35.7596 8.0185 26.815 8.01156C12.0298 8.00077 10.4362 8.12798 9.27592 9.41007ZM63.5084 10.7469C63.5084 13.382 63.6109 13.4845 66.014 13.2525C68.2173 13.0405 68.5489 12.709 68.7609 10.5056C68.9929 8.10254 68.8904 8 66.2553 8C63.6209 8 63.5084 8.11256 63.5084 10.7469ZM91.2626 13.3966V18.7933H85.4804H79.6983V21.4916C79.6983 24.0612 79.5696 24.1899 77 24.1899C74.4304 24.1899 74.3017 24.0612 74.3017 21.4916C74.3017 18.922 74.1729 18.7933 71.6034 18.7933C69.0338 18.7933 68.905 18.922 68.905 21.4916C68.905 24.0612 69.0338 24.1899 71.6034 24.1899H74.3017V29.9721V35.7542H68.905H63.5084V41.1508V46.5475H66.2067C68.7763 46.5475 68.905 46.6762 68.905 49.2458C68.905 51.8154 69.0338 51.9441 71.6034 51.9441C74.1729 51.9441 74.3017 52.0729 74.3017 54.6425C74.3017 57.212 74.1729 57.3408 71.6034 57.3408C68.969 57.3408 68.905 57.414 68.905 60.4246C68.905 63.4351 68.841 63.5084 66.2067 63.5084C63.6371 63.5084 63.5084 63.6371 63.5084 66.2067V68.905H55.0279H46.5475V66.2067C46.5475 63.6371 46.4187 63.5084 43.8492 63.5084C41.2796 63.5084 41.1508 63.6371 41.1508 66.2067C41.1508 68.8472 41.0838 68.905 38.0208 68.905H34.89L35.1297 66.014C35.3556 63.2802 35.526 63.1098 38.2598 62.8839C40.9936 62.6573 41.1508 62.5 41.1508 59.9929C41.1508 57.4757 41.2881 57.3408 43.8492 57.3408C46.4187 57.3408 46.5475 57.4695 46.5475 60.0391C46.5475 62.6087 46.6762 62.7374 49.2458 62.7374C51.8154 62.7374 51.9441 62.6087 51.9441 60.0391C51.9441 57.4695 52.0729 57.3408 54.6425 57.3408C57.212 57.3408 57.3408 57.4695 57.3408 60.0391C57.3408 62.6087 57.4695 62.7374 60.0391 62.7374C62.6087 62.7374 62.7374 62.6087 62.7374 60.0391C62.7374 57.4695 62.6087 57.3408 60.0391 57.3408H57.3408V49.2458V41.1508H54.6425H51.9441V46.5475V51.9441H40.7654H29.5866V57.7263V63.5084H26.8883C24.3187 63.5084 24.1899 63.6371 24.1899 66.2067C24.1899 68.7763 24.0612 68.905 21.4916 68.905C18.922 68.905 18.7933 68.7763 18.7933 66.2067C18.7933 63.6371 18.6645 63.5084 16.095 63.5084C13.5254 63.5084 13.3966 63.6371 13.3966 66.2067C13.3966 68.7763 13.2679 68.905 10.6983 68.905C8.12875 68.905 8 69.0338 8 71.6034C8 74.1729 8.12875 74.3017 10.6983 74.3017C13.2679 74.3017 13.3966 74.4304 13.3966 77V79.6983H32.6704H51.9441V77V74.3017H57.7263H63.5084V88.1788V102.056H66.2067C68.7763 102.056 68.905 102.185 68.905 104.754C68.905 107.324 68.7763 107.453 66.2067 107.453C63.6371 107.453 63.5084 107.581 63.5084 110.151V112.849H68.905H74.3017V115.547V118.246H79.6983H85.095V115.547V112.849H90.8771H96.6592V115.933V119.017H90.8285H84.9971L85.2391 121.522C85.4596 123.81 85.7318 124.049 88.3715 124.267L91.2626 124.507V132.555V140.603H93.9609C96.5305 140.603 96.6592 140.732 96.6592 143.302V146H102.056H107.453V143.302C107.453 140.732 107.324 140.603 104.754 140.603C102.185 140.603 102.056 140.475 102.056 137.905V135.207H107.453H112.849V137.905C112.849 140.539 112.922 140.603 115.933 140.603C118.944 140.603 119.017 140.667 119.017 143.302C119.017 145.871 119.146 146 121.715 146C124.285 146 124.413 145.871 124.413 143.302V140.603H129.81H135.207V143.302V146H140.603H146V137.905V129.81H143.302H140.603V135.207V140.603H137.905C135.335 140.603 135.207 140.475 135.207 137.905C135.207 135.335 135.078 135.207 132.508 135.207H129.81V129.81V124.413H132.508C135.078 124.413 135.207 124.285 135.207 121.715C135.207 119.146 135.078 119.017 132.508 119.017C129.939 119.017 129.81 119.146 129.81 121.715C129.81 124.285 129.681 124.413 127.112 124.413C124.477 124.413 124.413 124.34 124.413 121.33C124.413 118.319 124.477 118.246 127.112 118.246H129.81V112.849V107.453H127.112H124.413V102.056V96.6592H121.33C118.319 96.6592 118.246 96.5952 118.246 93.9609C118.246 91.3913 118.117 91.2626 115.547 91.2626C112.913 91.2626 112.849 91.1893 112.849 88.1788V85.095H107.453H102.056V82.3966V79.6983H110.151H118.246V77C118.246 74.4304 118.117 74.3017 115.547 74.3017H112.849V63.1229V51.9441H107.453H102.056V46.5475V41.1508H99.3575H96.6592V35.3687V29.5866H99.3575C101.927 29.5866 102.056 29.4578 102.056 26.8883C102.056 24.3187 101.927 24.1899 99.3575 24.1899C96.788 24.1899 96.6592 24.0612 96.6592 21.4916C96.6592 18.922 96.788 18.7933 99.3575 18.7933H102.056V13.3966V8H96.6592H91.2626V13.3966ZM109.008 10.0854C107.436 12.0829 107.377 12.8377 107.603 27.8866C107.907 48.1888 106.246 46.5475 126.477 46.5475C141.096 46.5475 143.921 46.1566 145.41 43.9263C145.722 43.4598 145.981 35.7596 145.988 26.815C145.999 12.0298 145.872 10.4362 144.59 9.27592C143.372 8.17346 140.968 8 126.914 8H110.648L109.008 10.0854ZM39.5527 15.4281C40.982 17.2445 41.1508 18.5104 41.1508 27.4125C41.1508 36.953 41.0722 37.4449 39.2582 39.2582C37.4449 41.0722 36.953 41.1508 27.4125 41.1508C18.5104 41.1508 17.2445 40.982 15.4281 39.5527C13.4051 37.9614 13.3966 37.9098 13.3966 27.0856C13.3966 12.6758 12.6827 13.3966 26.9515 13.3966C37.9206 13.3966 37.9599 13.4028 39.5527 15.4281ZM57.3408 16.095C57.3408 18.6645 57.212 18.7933 54.6425 18.7933C52.0729 18.7933 51.9441 18.922 51.9441 21.4916C51.9441 24.0612 52.0729 24.1899 54.6425 24.1899H57.3408V29.5866V34.9832H60.0391H62.7374V29.5866V24.1899H60.0391C57.4695 24.1899 57.3408 24.0612 57.3408 21.4916C57.3408 18.922 57.4695 18.7933 60.0391 18.7933C62.6087 18.7933 62.7374 18.6645 62.7374 16.095C62.7374 13.5254 62.6087 13.3966 60.0391 13.3966C57.4695 13.3966 57.3408 13.5254 57.3408 16.095ZM139.193 14.6726C140.434 15.7951 140.603 17.2707 140.603 26.9515C140.603 37.9206 140.597 37.9599 138.572 39.5527C136.758 40.9797 135.488 41.1508 126.708 41.1508C113.036 41.1508 113.313 41.4176 112.986 27.9052C112.754 18.3315 112.853 17.4542 114.39 15.4998L116.045 13.3966H126.914C135.946 13.3966 138.022 13.6125 139.193 14.6726ZM18.7933 26.8883V34.9832H26.8883H34.9832V26.8883V18.7933H26.8883H18.7933V26.8883ZM119.017 26.8883V34.9832H127.112H135.207V26.8883V18.7933H127.112H119.017V26.8883ZM85.095 35.3687V46.5475H87.7933C90.3629 46.5475 90.4916 46.4187 90.4916 43.8492C90.4916 41.2148 90.5649 41.1508 93.5754 41.1508H96.6592V46.5475V51.9441H99.3575H102.056V57.7263V63.5084H99.3575H96.6592V71.6034V79.6983H90.8771H85.095V77C85.095 74.4304 84.9662 74.3017 82.3966 74.3017H79.6983V82.3966V90.4916H82.3966C84.9662 90.4916 85.095 90.3629 85.095 87.7933V85.095H93.5754H102.056V87.7933C102.056 90.3629 102.185 90.4916 104.754 90.4916C107.389 90.4916 107.453 90.5649 107.453 93.5754C107.453 96.586 107.389 96.6592 104.754 96.6592C102.185 96.6592 102.056 96.5305 102.056 93.9609C102.056 91.3913 101.927 91.2626 99.3575 91.2626H96.6592V99.3575V107.453H93.5754C90.5649 107.453 90.4916 107.389 90.4916 104.754V102.056H85.095H79.6983V99.3575C79.6983 96.788 79.5696 96.6592 77 96.6592C74.4304 96.6592 74.3017 96.788 74.3017 99.3575C74.3017 101.927 74.1729 102.056 71.6034 102.056C69.0338 102.056 68.905 101.927 68.905 99.3575C68.905 96.788 69.0338 96.6592 71.6034 96.6592C74.1729 96.6592 74.3017 96.5305 74.3017 93.9609C74.3017 91.3913 74.1729 91.2626 71.6034 91.2626C68.969 91.2626 68.905 91.1893 68.905 88.1788C68.905 85.1682 68.969 85.095 71.6034 85.095H74.3017V79.6983V74.3017H71.6034C69.0338 74.3017 68.905 74.1729 68.905 71.6034C68.905 69.0338 69.0338 68.905 71.6034 68.905C74.1729 68.905 74.3017 69.0338 74.3017 71.6034C74.3017 74.1729 74.4304 74.3017 77 74.3017C79.5696 74.3017 79.6983 74.1729 79.6983 71.6034C79.6983 69.0338 79.8271 68.905 82.3966 68.905C85.031 68.905 85.095 68.8318 85.095 65.8212V62.7374H90.9257H96.7571L96.5151 60.2318C96.2946 57.9444 96.0224 57.7054 93.3827 57.4873C90.6489 57.2606 90.4916 57.1033 90.4916 54.5962C90.4916 52.0791 90.3544 51.9441 87.7933 51.9441C85.2237 51.9441 85.095 51.8154 85.095 49.2458C85.095 46.6762 84.9662 46.5475 82.3966 46.5475C79.8271 46.5475 79.6983 46.6762 79.6983 49.2458C79.6983 51.8154 79.5696 51.9441 77 51.9441C74.4304 51.9441 74.3017 51.8154 74.3017 49.2458C74.3017 46.6762 74.1729 46.5475 71.6034 46.5475C69.0338 46.5475 68.905 46.4187 68.905 43.8492C68.905 41.2796 69.0338 41.1508 71.6034 41.1508C74.1729 41.1508 74.3017 41.2796 74.3017 43.8492C74.3017 46.4187 74.4304 46.5475 77 46.5475H79.6983V35.3687V24.1899H82.3966H85.095V35.3687ZM8 54.6425V57.3408H13.3966H18.7933V60.0391C18.7933 62.6087 18.922 62.7374 21.4916 62.7374H24.1899V57.3408V51.9441H16.095H8V54.6425ZM129.81 54.6425C129.81 57.212 129.939 57.3408 132.508 57.3408C135.078 57.3408 135.207 57.4695 135.207 60.0391C135.207 62.6087 135.335 62.7374 137.905 62.7374C140.475 62.7374 140.603 62.6087 140.603 60.0391C140.603 57.4695 140.475 57.3408 137.905 57.3408C135.335 57.3408 135.207 57.212 135.207 54.6425C135.207 52.0729 135.078 51.9441 132.508 51.9441C129.939 51.9441 129.81 52.0729 129.81 54.6425ZM119.017 59.9905C119.017 62.6249 119.129 62.7374 121.764 62.7374C124.399 62.7374 124.501 62.6349 124.269 60.2318C124.057 58.0285 123.726 57.697 121.522 57.4849C119.119 57.2529 119.017 57.3554 119.017 59.9905ZM124.413 66.2067C124.413 68.7763 124.542 68.905 127.112 68.905C129.681 68.905 129.81 68.7763 129.81 66.2067C129.81 63.6371 129.681 63.5084 127.112 63.5084C124.542 63.5084 124.413 63.6371 124.413 66.2067ZM18.7933 71.6034C18.7933 74.1729 18.6645 74.3017 16.095 74.3017C13.5254 74.3017 13.3966 74.1729 13.3966 71.6034C13.3966 69.0338 13.5254 68.905 16.095 68.905C18.6645 68.905 18.7933 69.0338 18.7933 71.6034ZM29.5866 71.6034C29.5866 74.1729 29.4578 74.3017 26.8883 74.3017C24.3187 74.3017 24.1899 74.1729 24.1899 71.6034C24.1899 69.0338 24.3187 68.905 26.8883 68.905C29.4578 68.905 29.5866 69.0338 29.5866 71.6034ZM46.5475 71.6034C46.5475 74.1729 46.4187 74.3017 43.8492 74.3017C41.2796 74.3017 41.1508 74.1729 41.1508 71.6034C41.1508 69.0338 41.2796 68.905 43.8492 68.905C46.4187 68.905 46.5475 69.0338 46.5475 71.6034ZM135.207 71.6034C135.207 74.1729 135.078 74.3017 132.508 74.3017C129.939 74.3017 129.81 74.4304 129.81 77C129.81 79.5696 129.939 79.6983 132.508 79.6983H135.207V85.095V90.4916H140.603H146V87.7933C146 85.2237 145.871 85.095 143.302 85.095C140.732 85.095 140.603 84.9662 140.603 82.3966C140.603 79.8271 140.732 79.6983 143.302 79.6983H146V74.3017V68.905H140.603H135.207V71.6034ZM119.017 82.3966C119.017 84.9662 119.146 85.095 121.715 85.095C124.285 85.095 124.413 85.2237 124.413 87.7933C124.413 90.3629 124.542 90.4916 127.112 90.4916C129.681 90.4916 129.81 90.3629 129.81 87.7933C129.81 85.2237 129.681 85.095 127.112 85.095C124.542 85.095 124.413 84.9662 124.413 82.3966C124.413 79.8271 124.285 79.6983 121.715 79.6983C119.146 79.6983 119.017 79.8271 119.017 82.3966ZM8 87.7447C8 90.3791 8.11256 90.4916 10.7469 90.4916C13.382 90.4916 13.4845 90.3891 13.2525 87.986C13.0405 85.7827 12.709 85.4511 10.5056 85.2391C8.10254 85.0071 8 85.1096 8 87.7447ZM18.7933 88.1788C18.7933 91.1893 18.7293 91.2626 16.095 91.2626C13.5254 91.2626 13.3966 91.3913 13.3966 93.9609C13.3966 96.5305 13.2679 96.6592 10.6983 96.6592C8.12875 96.6592 8 96.788 8 99.3575C8 101.927 8.12875 102.056 10.6983 102.056C13.2679 102.056 13.3966 101.927 13.3966 99.3575V96.6592H18.7933H24.1899V99.3575V102.056H29.5866H34.9832V99.3575C34.9832 96.788 34.8545 96.6592 32.2849 96.6592C29.7153 96.6592 29.5866 96.5305 29.5866 93.9609C29.5866 91.3913 29.4578 91.2626 26.8883 91.2626C24.2539 91.2626 24.1899 91.1893 24.1899 88.1788C24.1899 85.1682 24.126 85.095 21.4916 85.095C18.8573 85.095 18.7933 85.1682 18.7933 88.1788ZM41.1508 87.7933V90.4916H46.5475H51.9441V93.5754V96.6592H46.5475H41.1508V99.3575V102.056H46.5475H51.9441V113.235V124.413H54.6425H57.3408V115.933V107.453H60.0391C62.6087 107.453 62.7374 107.324 62.7374 104.754V102.056H57.3408H51.9441V99.3575C51.9441 96.788 52.0729 96.6592 54.6425 96.6592H57.3408V90.8771V85.095H49.2458H41.1508V87.7933ZM129.81 99.3575C129.81 101.927 129.939 102.056 132.508 102.056H135.207V110.151V118.246H140.603H146V112.849V107.453H143.302C140.732 107.453 140.603 107.324 140.603 104.754C140.603 102.185 140.732 102.056 143.302 102.056C145.871 102.056 146 101.927 146 99.3575C146 96.788 145.871 96.6592 143.302 96.6592C140.732 96.6592 140.603 96.788 140.603 99.3575C140.603 101.927 140.475 102.056 137.905 102.056C135.335 102.056 135.207 101.927 135.207 99.3575C135.207 96.788 135.078 96.6592 132.508 96.6592C129.939 96.6592 129.81 96.788 129.81 99.3575ZM118.85 110.344L118.631 118.631L110.344 118.85L102.056 119.069V110.563V102.056H110.563H119.069L118.85 110.344ZM10.6983 108.374C9.85028 108.855 8.90124 109.625 8.58978 110.085C8.27831 110.546 8.0185 118.24 8.01156 127.185C8.00077 141.97 8.12798 143.564 9.41007 144.724C10.6282 145.827 13.0119 145.998 26.9492 145.988C35.8197 145.981 43.4598 145.722 43.9263 145.41C46.1589 143.919 46.5475 141.097 46.5475 126.356C46.5475 106.016 47.9884 107.445 27.5012 107.476C17.5868 107.491 11.6998 107.806 10.6983 108.374ZM85.095 110.151C85.095 112.72 84.9662 112.849 82.3966 112.849C79.8271 112.849 79.6983 112.72 79.6983 110.151C79.6983 107.581 79.8271 107.453 82.3966 107.453C84.9662 107.453 85.095 107.581 85.095 110.151ZM107.453 110.151C107.453 112.72 107.581 112.849 110.151 112.849C112.72 112.849 112.849 112.72 112.849 110.151C112.849 107.581 112.72 107.453 110.151 107.453C107.581 107.453 107.453 107.581 107.453 110.151ZM39.3908 114.609C40.5418 115.76 40.8062 117.643 41.0144 126.19C41.2457 135.667 41.1454 136.547 39.6097 138.5L37.9553 140.603H26.8759C12.7691 140.603 13.3966 141.255 13.3966 126.611V116.045L15.4998 114.39C17.4526 112.855 18.333 112.754 27.8096 112.986C36.3571 113.194 38.2397 113.458 39.3908 114.609ZM18.7933 127.112V135.207H26.8883H34.9832V127.112V119.017H26.8883H18.7933V127.112ZM63.5084 121.715C63.5084 124.285 63.6371 124.413 66.2067 124.413C68.7763 124.413 68.905 124.542 68.905 127.112C68.905 129.681 68.7763 129.81 66.2067 129.81C63.6371 129.81 63.5084 129.939 63.5084 132.508C63.5084 135.078 63.6371 135.207 66.2067 135.207C68.7763 135.207 68.905 135.335 68.905 137.905C68.905 140.475 68.7763 140.603 66.2067 140.603C63.6371 140.603 63.5084 140.732 63.5084 143.302C63.5084 145.871 63.6371 146 66.2067 146C68.7763 146 68.905 145.871 68.905 143.302C68.905 140.732 69.0338 140.603 71.6034 140.603C74.1729 140.603 74.3017 140.732 74.3017 143.302C74.3017 145.871 74.4304 146 77 146C79.5696 146 79.6983 145.871 79.6983 143.302C79.6983 140.732 79.5696 140.603 77 140.603C74.4304 140.603 74.3017 140.475 74.3017 137.905C74.3017 135.335 74.1729 135.207 71.6034 135.207C69.0338 135.207 68.905 135.078 68.905 132.508C68.905 129.939 69.0338 129.81 71.6034 129.81H74.3017V124.413V119.017H68.905H63.5084V121.715ZM119.017 127.112C119.017 129.681 119.146 129.81 121.715 129.81C124.285 129.81 124.413 129.939 124.413 132.508C124.413 135.143 124.34 135.207 121.33 135.207C118.319 135.207 118.246 135.143 118.246 132.508V129.81H110.151H102.056V127.112V124.413H110.536H119.017V127.112ZM51.9441 137.905V146H54.6425C57.212 146 57.3408 145.871 57.3408 143.302C57.3408 140.732 57.4695 140.603 60.0391 140.603C62.6087 140.603 62.7374 140.475 62.7374 137.905C62.7374 135.335 62.6087 135.207 60.0391 135.207C57.4695 135.207 57.3408 135.078 57.3408 132.508C57.3408 129.939 57.212 129.81 54.6425 129.81H51.9441V137.905ZM79.6983 132.508C79.6983 135.078 79.8271 135.207 82.3966 135.207C84.9662 135.207 85.095 135.078 85.095 132.508C85.095 129.939 84.9662 129.81 82.3966 129.81C79.8271 129.81 79.6983 129.939 79.6983 132.508Z" fill="#2B2D33" />
                        </g>
                        <defs>
                            <clipPath id="clip0_3888_83966">
                                <rect x="8" y="8" width="138" height="138" rx="8" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        }
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
