@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@layout _Layout_Login
@using System.Threading;
@using Microsoft.AspNetCore.Components.Forms

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            <div class="giz-back-button" @onclick="@(() => NavigationService.NavigateTo(ClientRoutes.LoginRoute))">
                <Icon SVGIcon="Icons.ArrowLeft_Client" Size="IconSizes.ExtraSmall" />
            </div>
            @if (HostService.HostConfigurationViewState.CanSignUp)
            {
                <div class="giz-login-new-user">@LocalizationService.GetString("GIZ_LOGIN_NOT_A_MEMBER") <a @onclick="UserLoginService.OpenRegistrationAsync">@LocalizationService.GetString("GIZ_LOGIN_SIGN_UP_NOW")</a></div>
            }
        </div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserPasswordRecoveryService.EditContext">
            <div class="giz-login-title">@LocalizationService.GetString("GIZ_PASSWORD_RECOVERY_FORGOT_PASSWORD")</div>
            <div>
                <ButtonGroup Class="giz-recovery-method" IsMandatory="true" SelectedItemsChanged="@SelectRecoveryMethod">
                    <Button Name="Phone" IsSelected="@(ViewState.SelectedRecoveryMethod == View.UserPasswordRecoveryMethod.MobilePhone)">@LocalizationService.GetString("GIZ_GEN_PHONE_NUMBER")</Button>
                    <Button Name="Email" IsSelected="@(ViewState.SelectedRecoveryMethod == View.UserPasswordRecoveryMethod.Email)">@LocalizationService.GetString("GIZ_GEN_EMAIL")</Button>
                </ButtonGroup>
            </div>
            <div class="giz-login-subtitle">
                @if (ViewState.SelectedRecoveryMethod == View.UserPasswordRecoveryMethod.Email)
                {
                    @LocalizationService.GetString("GIZ_PASSWORD_RECOVERY_ENTER_EMAIL")
                }
                else
                {
                    @LocalizationService.GetString("GIZ_PASSWORD_RECOVERY_ENTER_PHONE_NUMBER")
                }
            </div>
            <div class="giz-form-input">
                @if (ViewState.SelectedRecoveryMethod == View.UserPasswordRecoveryMethod.Email)
                {
                    <TextInput Value="@ViewState.Email"
                               ValueChanged="@((string value) => UserPasswordRecoveryService.SetEmail(value))"
                               ValueExpression="@(() => ViewState.Email)"
                               Size="InputSizes.Medium"
                               IsFullWidth="true"
                               Label="@LocalizationService.GetString("GIZ_GEN_EMAIL_ADDRESS")"/>
                }
                else
                {
                    <MaskedPhoneInput Mask="###-###-###"
                                      AllowMore="true"
                                      Value="@ViewState.MobilePhone"
                                      ValueChanged="@((string value) => UserPasswordRecoveryService.SetMobilePhone(value))"
                                      ValueExpression="@(() => ViewState.MobilePhone)"
                                      Size="InputSizes.Medium"
                                      IsFullWidth="true"
                                      Label="@LocalizationService.GetString("GIZ_GEN_PHONE_NUMBER")" />
                }
            </div>
            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserPasswordRecoveryService.SubmitAsync">
                    <ChildContent>
                        @if (ViewState.IsLoading)
                        {
                                <GizSpinner />
                        }
                        else
                        {
                            <div>@LocalizationService.GetString("GIZ_GEN_CONTINUE")</div>
                        }
                    </ChildContent>
                </Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
