@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            <div class="giz-back-button" @onclick="@(() => NavigationService.NavigateTo(ClientRoutes.LoginRoute))">
                <Icon SVGIcon="Icons.ArrowLeft_Client" Size="IconSizes.ExtraSmall" />
            </div>
            @if (HostService.HostConfigurationViewState.CanSignUp)
            {
                <div class="giz-login-new-user">@localizationService.GetString("GIZ_LOGIN_NOT_A_MEMBER") <a @onclick="UserLoginService.OpenRegistrationAsync">@localizationService.GetString("GIZ_LOGIN_SIGN_UP_NOW")</a></div>
            }
        </div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserPasswordRecoveryService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_PASSWORD_RECOVERY_FORGOT_PASSWORD")</div>
            <div>
                <ButtonGroup Class="giz-recovery-method" IsMandatory="true" SelectedItemsChanged="@SelectRecoveryMethod">
                    <Button Name="Phone" IsSelected="@(UserPasswordRecoveryService.ViewState.Method == View.UserPasswordRecoveryMethod.MobilePhone)">@localizationService.GetString("GIZ_GEN_PHONE_NUMBER")</Button>
                    <Button Name="Email" IsSelected="@(UserPasswordRecoveryService.ViewState.Method == View.UserPasswordRecoveryMethod.Email)">@localizationService.GetString("GIZ_GEN_EMAIL")</Button>
                </ButtonGroup>
            </div>
            <div class="giz-login-subtitle">
                @if (UserPasswordRecoveryService.ViewState.Method == View.UserPasswordRecoveryMethod.Email)
                {
                    @localizationService.GetString("GIZ_PASSWORD_RECOVERY_ENTER_EMAIL")
                }
                else
                {
                    @localizationService.GetString("GIZ_PASSWORD_RECOVERY_ENTER_PHONE_NUMBER")
                }
            </div>
            <div class="giz-form-input">
                @if (UserPasswordRecoveryService.ViewState.Method == View.UserPasswordRecoveryMethod.Email)
                {
                    <TextInput @bind-Value="UserPasswordRecoveryService.ViewState.Email" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_EMAIL_ADDRESS")"/>
                }
                else
                {
                    <MaskedTextInput Mask="###-###-###" @bind-Value="UserPasswordRecoveryService.ViewState.MobilePhone" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_PHONE_NUMBER")" />
                }
            </div>
            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserPasswordRecoveryService.SubmitAsync">
                    <ChildContent>
                        @if (UserPasswordRecoveryService.ViewState.IsLoading)
                        {
                                <GizSpinner />
                        }
                        else
                        {
                            <div>@localizationService.GetString("GIZ_GEN_CONTINUE")</div>
                        }
                    </ChildContent>
                </Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
