@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            <div class="giz-back-button" @onclick="@(() => NavigationService.NavigateTo(ClientRoutes.PasswordRecoveryRoute))">
                <Icon SVGIcon="Icons.ArrowLeft_Client" Size="IconSizes.ExtraSmall" />
            </div>
            @if (HostService.HostConfigurationViewState.CanSignUp)
            {
                <div class="giz-login-new-user">@localizationService.GetString("GIZ_LOGIN_NOT_A_MEMBER") <a @onclick="UserLoginService.OpenRegistrationAsync">@localizationService.GetString("GIZ_LOGIN_SIGN_UP_NOW")</a></div>
            }
        </div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserPasswordRecoveryConfirmationService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_PASSWORD_RECOVERY_FORGOT_PASSWORD")</div>
            <div class="giz-login-subtitle">@localizationService.GetString("GIZ_PASSWORD_RECOVERY_PLEASE_ENTER_RECOVERY_CODE", "TODO: A...")</div>
            <div class="giz-form-input">
                <TextInput UpdateOnInput="true"
                           Placeholder="123 456"
                           Value="@UserPasswordRecoveryConfirmationService.ViewState.ConfirmationCode"
                           ValueChanged="@((string value) => UserPasswordRecoveryConfirmationService.SetConfirmationCode(value))"
                           Size="InputSizes.Medium"
                           IsFullWidth="true"
                           Label="@localizationService.GetString("GIZ_PASSWORD_RECOVERY_ENTER_YOUR_CODE")" />
            </div>
            <div>
                <Button Text="Confirm"
                        IsDisabled="@(!(UserPasswordRecoveryConfirmationService.ViewState.IsValid == true))"
                        Color="ButtonColors.Accent"
                        Size="ButtonSizes.ExtraLarge" IsFullWidth="true"
                        @onclick="@UserPasswordRecoveryConfirmationService.SubmitAsync" />
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
