@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-new-user">@localizationService.GetString("GIZ_LOGIN_NOT_A_MEMBER") <a href="/registration">@localizationService.GetString("GIZ_LOGIN_SIGN_UP_NOW")</a></div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserPasswordRecoverySetNewPasswordService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_PASSWORD_RECOVERY_FORGOT_PASSWORD")</div>
            <div class="giz-login-subtitle">@localizationService.GetString("GIZ_PASSWORD_RECOVERY_SET_PASSWORD_MESSAGE")</div>
            <div class="giz-login-input">
                <TextInput @bind-Value="UserPasswordRecoverySetNewPasswordService.ViewState.NewPassword" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_ENTER_NEW_PASSWORD")"/>
            </div>
            <div class="giz-login-input">
                <TextInput @bind-Value="UserPasswordRecoverySetNewPasswordService.ViewState.RepeatPassword" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_REPEAT_NEW_PASSWORD")"/>
            </div>
            <div class="giz-login-input">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserPasswordRecoverySetNewPasswordService.SubmitAsync">@localizationService.GetString("GIZ_PASSWORD_RECOVERY_RESET_PASSWORD")</Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
