@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-new-user">@localizationService.GetString("GIZ_NOT_A_MEMBER") <a href="/registration">@localizationService.GetString("GIZ_SIGN_UP_NOW")</a></div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserPasswordRecoveryConfirmationService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_FORGOT_PASSWORD")</div>
            <div class="giz-login-subtitle">@localizationService.GetString("GIZ_PLEASE_ENTER_RECOVERY_CODE", "TODO: A...")</div>
            <div class="giz-login-input">
                <TextInput @bind-Value="UserPasswordRecoveryConfirmationService.ViewState.ConfirmationCode" Size="InputSizes.Normal" IsFullWidth="true" Label="@localizationService.GetString("GIZ_ENTER_YOUR_CODE")"/>
            </div>
            <div class="giz-login-input">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserPasswordRecoveryConfirmationService.SubmitAsync">@localizationService.GetString("GIZ_CONFIRM")</Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <KeyboardLanguage />
    </CardFooter>
</LoginCard>
