@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            <div class="giz-login-new-user">@localizationService.GetString("GIZ_LOGIN_ALREADY_A_MEMBER") <a href="@ClientRoutes.LoginRoute">@localizationService.GetString("GIZ_REGISTRATION_SIGN_ΙΝ")</a></div>
        </div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserRegistrationBasicFieldsService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_REGISTRATION_SIGN_UP_TITLE")</div>
            <div class="giz-form-input">
                <TextInput @bind-Value="UserRegistrationBasicFieldsService.ViewState.Username" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_USERNAME")" />
            </div>
            <div class="giz-form-input giz-form-input-columns">
                <div class="giz-password-tooltip-root">
                    <PasswordInput UpdateOnInput="true" @bind-Value="UserRegistrationBasicFieldsService.ViewState.NewPassword" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_PASSWORD")" />
                    <div class="giz-password-tooltip">
                        <CircularProgressBar Size="CircularProgressBarSizes.ExtraSmall" Color="yellow" Value="50" Class="giz-password-tooltip__icon" />
                        <div class="giz-password-tooltip__body">
                            <div class="giz-password-tooltip__body__title">
                                Secure Password
                            </div>
                            <div class="giz-password-tooltip__body__messages">
                                <div class="giz-password-tooltip-message">
                                    8-24 characters
                                </div>
                                <div class="giz-password-tooltip-message">
                                    At least 1 lowercace letter
                                </div>
                                <div class="giz-password-tooltip-message">
                                    At least 1 uppercase letter
                                </div>
                                <div class="giz-password-tooltip-message">
                                    At least 1 number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <TextInput @bind-Value="UserRegistrationBasicFieldsService.ViewState.RepeatPassword" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_CONFIRM_PASSWORD")" />
            </div>
            <div class="giz-form-input giz-form-input-columns">
                <TextInput TValue="string" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_FIRST_NAME")" />
                <TextInput TValue="string" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_LAST_NAME")" />
            </div>
            <div class="giz-form-input giz-form-input-columns">
                <MaskedDateInput TValue="string" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_BIRTH_DATE")" />
                <Select TValue="Sex" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_USER_GENDER")" OpenDirection="PopupOpenDirections.Cursor" PopupClass="giz-scrollbar--v">
                    <SelectItem Value="@Sex.Unspecified" Text="Unspecified" />
                    <SelectItem Value="@Sex.Male" Text="Male" />
                    <SelectItem Value="@Sex.Female" Text="Female" />
                </Select>
            </div>
            <div class="giz-form-input">
                <TextInput TValue="string" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_GEN_EMAIL_ADDRESS")" />
            </div>
            <div class="giz-form-input">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserRegistrationBasicFieldsService.SubmitAsync">@localizationService.GetString("GIZ_GEN_CONTINUE")</Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
