@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-new-user">@localizationService.GetString("GIZ_LOGIN_ALREADY_A_MEMBER") <a href="/">@localizationService.GetString("GIZ_REGISTRATION_SIGN_ΙΝ")</a></div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserRegistrationConfirmationService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_REGISTRATION_SIGN_UP_TITLE")</div>
            <div class="giz-form-input">
                <TextInput @bind-Value="UserRegistrationConfirmationService.ViewState.ConfirmationCode" Size="InputSizes.Medium" IsFullWidth="true" Label="@localizationService.GetString("GIZ_PASSWORD_RECOVERY_ENTER_YOUR_CODE")" />
            </div>
            <div class="giz-form-input">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserRegistrationConfirmationService.SubmitAsync">@localizationService.GetString("GIZ_GEN_CONTINUE")</Button>
            </div>
            <div class="giz-form-input">
                <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" IsDisabled="@(!UserRegistrationConfirmationMethodService.ViewState.CanResend)" @onclick="@UserRegistrationConfirmationService.SubmitAsync" Class="giz-resend-button">
                    <div>
                        <div>
                            @localizationService.GetString("GIZ_GEN_RESEND")
                        </div>
                        <div class="giz-resend-button__time">@string.Format("{0:mm\\:ss}", UserRegistrationConfirmationMethodService.ViewState.ResendTimeLeft)</div>
                    </div>
                </Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
