@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Microsoft.AspNetCore.Components.Forms

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            <div class="giz-back-button" @onclick="@(() => NavigationService.NavigateTo(ClientRoutes.RegistrationBasicFieldsRoute))">
                <Icon SVGIcon="Icons.ArrowLeft_Client" Size="IconSizes.ExtraSmall" />
            </div>
            <div class="giz-login-new-user">@LocalizationService.GetString("GIZ_LOGIN_ALREADY_A_MEMBER") <a href="@ClientRoutes.LoginRoute">@LocalizationService.GetString("GIZ_REGISTRATION_SIGN_ΙΝ")</a></div>
        </div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserRegistrationAdditionalFieldsService.EditContext">
            <div class="giz-login-title">@LocalizationService.GetString("GIZ_REGISTRATION_SIGN_UP_TITLE")</div>
            @if (UserRegistrationAdditionalFieldsService.ViewState.DefaultUserGroupRequiredInfo.Country)
            {
                @if (UserRegistrationConfirmationMethodService.ViewState.ConfirmationMethod != View.UserRegistrationMethod.MobilePhone)@*TODO:*@
                {
                    <div class="giz-registration-form-input">
                        <IconSelect Placeholder="Search"
                                    HandleSVGIcon="Icons.Select_Client"
                                    TValue="IconSelectCountry"
                                    ItemSource="@Countries"
                                    @bind-SelectedItem="@SelectedCountry"
                                    Size="InputSizes.Small"
                                    IsFullWidth="true"
                                    Label="@LocalizationService.GetString("GIZ_USER_COUNTRY_REGION")"
                                    OpenDirection="PopupOpenDirections.Bottom"
                                    Class="giz-input-language-menu"
                                    PopupClass="giz-scrollbar--v" />
                    </div>
                }
            }
            @if (UserRegistrationAdditionalFieldsService.ViewState.DefaultUserGroupRequiredInfo.Address)
            {
                <div class="giz-registration-form-input">
                    <TextInput Value="@UserRegistrationAdditionalFieldsService.ViewState.Address"
                               ValueChanged="@((string value) => UserRegistrationAdditionalFieldsService.SetAddress(value))"
                               ValueExpression="@(() => UserRegistrationAdditionalFieldsService.ViewState.Address)"
                               Size="InputSizes.Small"
                               IsFullWidth="true"
                               Label="@LocalizationService.GetString("GIZ_USER_ADDRESS")" />
                </div>
            }
            @if (UserRegistrationAdditionalFieldsService.ViewState.DefaultUserGroupRequiredInfo.PostCode)
            {
                <div class="giz-registration-form-input">
                    <TextInput Value="@UserRegistrationAdditionalFieldsService.ViewState.PostCode"
                               ValueChanged="@((string value) => UserRegistrationAdditionalFieldsService.SetPostCode(value))"
                               ValueExpression="@(() => UserRegistrationAdditionalFieldsService.ViewState.PostCode)"
                               Size="InputSizes.Small"
                               IsFullWidth="true"
                               Label="@LocalizationService.GetString("GIZ_USER_POST_CODE")" />
                </div>
            }
            @if (UserRegistrationAdditionalFieldsService.ViewState.DefaultUserGroupRequiredInfo.Mobile)
            {
                @if (UserRegistrationConfirmationMethodService.ViewState.ConfirmationMethod != View.UserRegistrationMethod.MobilePhone)
                {
                    <div class="giz-registration-form-input">
                        <MaskedTextInput Mask="###-###-###"
                                         Value="@UserRegistrationAdditionalFieldsService.ViewState.MobilePhone"
                                         ValueChanged="@((string value) => UserRegistrationAdditionalFieldsService.SetMobilePhone(value))"
                                         ValueExpression="@(() => UserRegistrationAdditionalFieldsService.ViewState.MobilePhone)"
                                         Size="InputSizes.Small"
                                         IsFullWidth="true"
                                         Label="@LocalizationService.GetString("GIZ_GEN_MOBILE_PHONE")" />
                    </div>
                }
            }
            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" @onclick="@UserRegistrationAdditionalFieldsService.SubmitAsync">@LocalizationService.GetString("GIZ_REGISTRATION_SIGN_UP_BUTTON")</Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>