@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@layout _Layout_Login
@using System.Threading;
@using Microsoft.AspNetCore.Components.Forms

<LoginCard>
    <CardHeader>
        <div class="giz-login-links">
            <div class="giz-login-new-user">@LocalizationService.GetString("GIZ_LOGIN_ALREADY_A_MEMBER") <a href="@ClientRoutes.LoginRoute">@LocalizationService.GetString("GIZ_REGISTRATION_SIGN_ΙΝ")</a></div>
        </div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserRegistrationConfirmationMethodService.EditContext">
            <div class="giz-login-title">@LocalizationService.GetString("GIZ_REGISTRATION_SIGN_UP_TITLE")</div>
            @if (UserRegistrationViewState.ConfirmationMethod == View.UserRegistrationMethod.Email)
            {
                <div class="giz-login-subtitle--sign-up">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim</div>
                <div class="giz-form-input">
                    <TextInput Value="@ViewState.Email"
                               ValueChanged="@((string value) => UserRegistrationConfirmationMethodService.SetEmail(value))"
                               ValueExpression="@(() => ViewState.Email)"
                               Size="InputSizes.Medium"
                               IsFullWidth="true"
                               Label="@LocalizationService.GetString("GIZ_GEN_EMAIL_ADDRESS")"/>
                </div>
            }
            @if (UserRegistrationViewState.ConfirmationMethod == View.UserRegistrationMethod.MobilePhone)
            {
                <div class="giz-login-subtitle--sign-up">@LocalizationService.GetString("GIZ_REGISTRATION_MOBILE_CONFIRMATION_MESSAGE")</div>
                <div class="giz-registration-form-input">
                    <IconSelect Placeholder="@LocalizationService.GetString("GIN_GEN_SEARCH")"
                                HandleSVGIcon="Icons.Select_Client"
                                TValue="IconSelectCountry"
                                ItemSource="@Countries"
                                SelectedItem="@GetSelectedCountry()"
                                SelectedItemChanged="@SetSelectedCountry"
                                Size="InputSizes.Medium"
                                IsFullWidth="true"
                                Label="@LocalizationService.GetString("GIZ_USER_COUNTRY")"
                                OpenDirection="PopupOpenDirections.Bottom"
                                Class="giz-input-language-menu"
                                PopupClass="giz-scrollbar--v" />
                </div>
                <div class="giz-form-input">
                    <MaskedTextInput Mask="###-###-###"
                                     Value="@ViewState.MobilePhone"
                                     ValueChanged="@((string value) => UserRegistrationConfirmationMethodService.SetMobilePhone(value))"
                                     ValueExpression="@(() => ViewState.MobilePhone)"
                                     Size="InputSizes.Medium"
                                     IsFullWidth="true"
                                     Label="@LocalizationService.GetString("GIZ_GEN_PHONE_NUMBER")" />
                </div>
            }
            <div>
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserRegistrationConfirmationMethodService.SubmitAsync">
                    <ChildContent>
                        @if (ViewState.IsLoading)
                        {
                            <GizSpinner />
                        }
                        else
                        {
                            <div>@LocalizationService.GetString("GIZ_VERIFICATION_SEND_CODE")</div>
                        }
                    </ChildContent>
                </Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <InputLanguageMenu />
    </CardFooter>
</LoginCard>
