@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<LoginCard>
    <CardHeader>
        <div class="giz-login-new-user">@localizationService.GetString("GIZ_ALREADY_A_MEMBER") <a href="/">@localizationService.GetString("GIZ_SIGN_IN")</a></div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserRegistrationAdditionalFieldsService.EditContext">
            <div class="giz-login-title">@localizationService.GetString("GIZ_SIGN_UP")</div>
            <div class="giz-login-input">
                <TextInput TValue="string" Size="InputSizes.Normal" IsFullWidth="true" Label="@localizationService.GetString("GIZ_COUNTRY_REGION")" />
            </div>
            <div class="giz-login-input">
                <TextInput TValue="string" Size="InputSizes.Normal" IsFullWidth="true" Label="@localizationService.GetString("GIZ_ADDRESS")" />
            </div>
            <div class="giz-login-input">
                <TextInput TValue="string" Size="InputSizes.Normal" IsFullWidth="true" Label="@localizationService.GetString("GIZ_POST_CODE")" />
            </div>
            <div class="giz-login-input">
                <TextInput @bind-Value="UserRegistrationAdditionalFieldsService.ViewState.HomePhone" TValue="string" Size="InputSizes.Normal" IsFullWidth="true" Label="@localizationService.GetString("GIZ_HOME_PHONE")" />
            </div>
            <div class="giz-login-input">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserRegistrationAdditionalFieldsService.SubmitAsync">@localizationService.GetString("GIZ_SIGN_UP")</Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <KeyboardLanguage />
    </CardFooter>
</LoginCard>