@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-order">
    <div class="giz-order__items">
        <div class="giz-order__items__header">My order</div>
        <div class="giz-order__items__body giz-scrollbar--v">
            @if (Order != null && Order.OrderLines.Count > 0)
            {
                <div class="giz-order__items-wrapper">
                    @foreach (var orderLine in Order.OrderLines)
                    {
                        <GizOrderItem OrderLine="@orderLine" OnRemoveProduct="@RemoveProduct" />
                    }
                </div>
            }
            else
            {
                <div class="giz-no-order-wrapper">
                    <div class="giz-no-order-wrapper__title">No products</div>
                    <div class="giz-no-order-wrapper__text">Add products to get started</div>
                </div>
            }
        </div>
    </div>
        
    <div class="giz-order__notes">
        <div class="giz-order__notes__header">Order comments</div>
        <div class="giz-order__notes__body">
            <TextInput TValue="string" IsMultiLine="true" IsFullWidth="true" Placeholder="Add your note.." Class="giz-order-notes" />
        </div>
    </div>

    <div class="giz-order__totals">
        <div class="giz-order-summary">
            <div class="giz-order-summary-text">Total</div>
            <div class="giz-order-summary-number">@(Order?.Total.ToString("C") ?? (0).ToString("C"))</div>
            <div class="giz-order-summary-text">points</div>
            <div class="giz-order-summary-number">@(Order?.PointsTotal ?? 0)</div>
            <div class="giz-order-summary-text">awards</div>
            <div class="giz-order-summary-number">@(Order?.PointsAwardTotal ?? 0)</div>
        </div>
        <div>
            @*<Button Size="ButtonSizes.Large" IsFullWidth="true" HasShadow="true" IsDisabled="@(Order == null || Order.OrderLines.Count == 0)" Command="@PlaceOrderCommand">place order</Button>*@
            <Button Size="ButtonSizes.Large" IsFullWidth="true" HasShadow="true" IsDisabled="@(Order == null || Order.OrderLines.Count == 0)">place order</Button>
        </div>
    </div>
</div>