@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-order-item">
    <div class="giz-order-item__description">
        @OrderLine.ProductName
    </div>
    <div class="giz-order-item__details">
        <div class="giz-order-item__details__price">
            @OrderLine.Total.ToString("C")
        </div>
        <div class="giz-order-item__details__points">
            @OrderLine.PointsTotal.ToString("N0")
            <PointsIcon />
        </div>
        <div class="giz-shop-quantity-picker">
            <button class="giz-decrease-btn" @onclick="@(() => RemoveQuantity())">-</button>
            <span>@OrderLine.Quantity</span>
            <button class="giz-increase-btn" @onclick="@(() => AddQuantity())">+</button>
        </div>
    </div>
</div>
