@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-order">
    <div class="giz-order__items">
        <div class="giz-order__items__header">My order</div>
        <div class="giz-order__items__body giz-scrollbar--v">
            @if (UserCartService.ViewState.Products.Count() > 0)
            {
                <div class="giz-order__items-wrapper">
                    @foreach (var orderLine in UserCartService.ViewState.Products)
                    {
                        <GizOrderItem OrderLine="@orderLine" />
                    }
                </div>
            }
            else
            {
                <div class="giz-no-order-wrapper">
                    <div class="giz-no-order-wrapper__title">No products</div>
                    <div class="giz-no-order-wrapper__text">Add products to get started</div>
                </div>
            }
        </div>
    </div>
        
    <div class="giz-order__notes">
        <div class="giz-order__notes__header">Order comments</div>
        <div class="giz-order__notes__body">
            <TextInput TValue="string" IsTransparent="true" IsMultiLine="true" IsFullWidth="true" Placeholder="Add your note.." Class="giz-order-notes" />
        </div>
    </div>

    <div class="giz-order__totals">
        <div class="giz-order-summary">
            <div class="giz-order-summary-text-bold">Subtotal</div>
            <div class="giz-order-summary-number-bold">@UserCartService.ViewState.Total.ToString("C")</div>
            @*<div class="giz-order-summary-text">points</div>
            <div class="giz-order-summary-number">@(Order?.PointsTotal ?? 0)</div>*@
            <div class="giz-order-summary-text">Earned points</div>
            <div class="giz-order-summary-number">
                @UserCartService.ViewState.AwardPoints
                <PointsIcon />
            </div>
        </div>
        <div>
            @*<Button Size="ButtonSizes.Large" IsFullWidth="true" IsDisabled="@(Order == null || Order.OrderLines.Count == 0)" Command="@PlaceOrderCommand">place order</Button>*@
            <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" IsDisabled="@(UserCartService.ViewState.Products.Count() == 0)">place order</Button>
        </div>
    </div>
</div>