@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using System.Globalization

<div class="giz-order-item">
    <div class="giz-order-item__description">
        @_product?.Name
    </div>
    <div class="giz-order-item__details">
        @if (_product?.PurchaseOptions.HasFlag(PurchaseOptionType.Or) == true)
        {
            <RadioButton GroupName="@GetPurchaseOptionsGroup()" IsChecked="@(ProductItemViewState.PayType == OrderLinePayType.Cash)" IsCheckedChanged="@((isChecked) => SetPayType(isChecked, OrderLinePayType.Cash))" Class="giz-order-item__details__price-radio" />
            <RadioButton GroupName="@GetPurchaseOptionsGroup()" IsChecked="@(ProductItemViewState.PayType == OrderLinePayType.Points)" IsCheckedChanged="@((isChecked) => SetPayType(isChecked, OrderLinePayType.Points))" Class="giz-order-item__details__points-radio" />
        }
        else
        {
            <div class="giz-order-item__details__and">&amp;</div>
        }
        <div class="giz-order-item__details__price">
            @ProductItemViewState.TotalPrice.ToString("C", CultureInfo.CurrentCulture)
        </div>
        <div class="giz-order-item__details__points">
            @ProductItemViewState.TotalPointsPrice?.ToString("N0")
            <PointsIcon />
        </div>
        <QuantityPicker Size="ButtonSizes.Small" Quantity="@ProductItemViewState.Quantity" OnAddQuantityButtonClick="OnAddQuantityButtonClickHandlerAsync" OnRemoveQuantityButtonClick="OnRemoveQuantityButtonClickHandler" />
    </div>
</div>
