@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<!--wrapper 1-->
<div class="wrapper_1">
    <section class="giz-categories pa-6">
        <!--Apps and games Categories-->
        <List CanClick="true" CanSelect="true" Class="giz-menu-list giz-apps-menu-list">
            <ListHeader>
                @(_selectedApplicationGroup?.Name ?? "Categories")
            </ListHeader>
            <ChildContent>
                @foreach (var applicationGroup in ApplicationGroups)
                {
                    <ListItem Command="@SelectApplicationGroupCommand" CommandParameter="@applicationGroup.Id">
                        <div class="d-flex">
                            <div class="mr-auto">
                                @applicationGroup.Name
                            </div>
                            @if (Applications != null)
                            {
                                <div class="giz-search-number">
                                    @Applications.Where(a => a.ApplicationGroupId == applicationGroup.Id).Count()
                                </div>
                            }
                        </div>
                    </ListItem>
                }
            </ChildContent>
        </List>
        <!--/Apps and games Categories-->
        <!--filter cards-->
        <div class="giz-filter">
            <div class="giz-filter--heading">
                <div class="giz-filter-text">
                    Filters
                </div>
                <div class="giz-filter-text">
                    <Button Variant="ButtonVariants.Text">Clear</Button>
                </div>
            </div>

            @foreach (var applicationFilters in ApplicationFilters)
            {                
                <ApplicationFilterCard ApplicationFilter="@applicationFilters" />
            }
        </div>
        <!--/filter cards-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--apps and games-->
    <section id="giz-apps" class="px-8 py-6">
        <div class=" giz-app-carousel">
            <!--heading-->
            <div class="giz-app-heading">
                Games & applications
            </div>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                @foreach (var app in Applications.Where(a => !_selectedApplicationGroupId.HasValue || a.ApplicationGroupId == _selectedApplicationGroupId))
                {
                    <ApplicationCard Application="@app" OnOpenDetails="@OpenDetails"></ApplicationCard>
                }
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/apps and games-->
</div>
<!--/wrapper 2-->

<ApplicationDetailsDialog @bind-IsOpen="AppDetailsIsOpen" />