@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<!--wrapper 1-->
<div class="wrapper_1">
    <section class="giz-categories pa-6">
        <!--Apps and games Categories-->
        <List CanClick="true" CanSelect="true" Class="giz-menu-list giz-apps-menu-list">
            @foreach (var applicationGroup in ApplicationGroups)
            {
                <ListItem Command="@SelectProductGroupCommand" CommandParameter="@applicationGroup.Id">
                    <div class="d-flex">
                        <div class="mr-auto">
                            @applicationGroup.Name
                        </div>
                        @if (Applications != null)
                        {
                            <div class="giz-search-number">
                                @Applications.Where(a => a.ApplicationGroupId == applicationGroup.Id).Count()
                            </div>
                        }
                    </div>
                </ListItem>
            }
        </List>
        <!--/Apps and games Categories-->
        <!--filter cards-->
        <div class="giz-filter">
            <div class="giz-filter--heading">
                <div class="giz-filter-text">
                    Filters
                </div>
                <div class="giz-filter-text">
                    Clear
                </div>
            </div>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
        </div>
        <!--/filter cards-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--apps and games-->
    <section id="giz-apps" class="px-8 py-6">
        <div class=" giz-app-carousel">
            <!--heading-->
            <div class="giz-app-heading">
                Games & applications
            </div>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                @foreach (var app in Applications.Where(a => !_selectedApplicationGroup.HasValue || a.ApplicationGroupId == _selectedApplicationGroup))
                {
                    <GizAppCard Application="@app" OnOpenDetails="@OpenDetails"></GizAppCard>
                }
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/apps and games-->
</div>
<!--/wrapper 2-->

<AppDetailsDialog @bind-IsOpen="AppDetailsIsOpen" />