@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<!--wrapper 1-->
<div class="wrapper_1">
    <!--leaderboard site menu-->
    <section class="giz-leaderboard pa-6">
        <div class="giz-user">
            <!--avtar-->
            <div class="giz-user--avtar">
                <Avatar Image="@User.Picture" Size="AvatarSizes.Large" Variant="AvatarVariants.Circle" alt="loading" />

                <div class="giz-about-user">
                    <div class="giz-about-user--title">my stats</div>
                    <div class="giz-about-user--name">@User.Username</div>
                </div>
            </div>
            <!--/avtar-->
            <!--user points-->
            <div class="giz-user-stats mb-7">
                <div class="giz-user-stats-item">
                    <Icon SVGIcon="Icons.Globe_Client" Size="IconSizes.Medium" />
                    <div class="giz-user-stats--text"><div class="giz-title">global</div><div class="giz-numbers">381,745</div></div>
                </div>
                <div class="giz-user-stats-item">
                    <div class="giz-svg">
                        <Icon SVGIcon="Icons.Star2_Client" Size="IconSizes.Medium" />
                    </div>
                    <div class="giz-user-stats--text"><div class="giz-title">regional</div><div class="giz-numbers">93,899</div></div>
                </div>
                <div class="giz-user-stats-item">
                    <div class="giz-svg">
                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.Medium" />
                    </div>
                    <div class="giz-user-stats--text"><div class="giz-title">center</div><div class="giz-numbers">12</div></div>
                </div>
            </div>
            <!--/user points-->
        </div>
        <!--Apps and games Categories-->

        <List CanClick="true" CanSelect="true" Class="giz-menu-list giz-apps-menu-list">
            <ListHeader>
                Browse leaderboards
            </ListHeader>
            <ChildContent>
                @foreach (var application in Applications)
                {
                    <ListItem BackgroundImage="@application.BackgroundImage" Command="@SelectApplicationCommand" CommandParameter="@application.Id">
                        <div class="d-flex">
                            <div class="mr-auto">
                                @application.Name
                            </div>
                        </div>
                    </ListItem>
                }
            </ChildContent>
        </List>
        <!--/Apps and games Categories-->
    </section>
    <!--leaderboard site menu-->
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--apps and games-->
    <section id="giz-leaderboard-ranking">
        <!--heading-->
        <div class="giz-ranking-heading">
            Fortnite Leaderboards
        </div>
        <!--/heading-->
        <!--ranking mode-->
        <div class="giz-ranking-info">
            <ChipGroup>
                <Chip IsSelected="@(_selectedTabIndex == 0)" @onclick="@(() => SelectTab(0))">all time</Chip>
                <Chip IsSelected="@(_selectedTabIndex == 1)" @onclick="@(() => SelectTab(1))">solo</Chip>
                <Chip IsSelected="@(_selectedTabIndex == 2)" @onclick="@(() => SelectTab(2))">squads</Chip>
                <Chip IsSelected="@(_selectedTabIndex == 3)" @onclick="@(() => SelectTab(3))">duo</Chip>
            </ChipGroup>
            <!--/ranking mode-->
            <!--ranking wrapper-->
            <div class="giz-rankig-wrapper">
                <Select IsFullWidth="true" IsTransparent="true" @bind-Value="SelectedFilterOption">
                    @foreach (var item in FilterOptions)
                    {
                        <SelectItem Value="@item" Text="@item" />
                    }
                </Select>
                <ButtonGroup IsMandatory="true">
                    <Button IsSelected="@(_selectedRangeIndex == 0)" @onclick="@(() => SelectRange(0))">today</Button>
                    <Button IsSelected="@(_selectedRangeIndex == 1)" @onclick="@(() => SelectRange(1))">this week</Button>
                    <Button IsSelected="@(_selectedRangeIndex == 2)" @onclick="@(() => SelectRange(2))">this month</Button>
                </ButtonGroup>
                <!--button-->
                <div class="giz-filter-btn">
                    <Button Color="ButtonColors.Info">clear filter</Button>
                </div>
                <!--/button-->
            </div>
            <!--/ranking wrapper-->
        </div>
        <!--ranking info-->

        <DataGrid ItemSource="@GameStatistics"
                  Context="games"
                  Class="giz-table-history">
            <ChildContent>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.Rank))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        rank
                    </HeaderTemplate>
                    <CellTemplate>
                        @game.Rank
                        @if (game.Arrow > 0)
                        {
                            <svg width="8" height="4" viewBox="0 0 8 4" class="giz-icon-arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.46093 4H0.53906C0.0597662 4 -0.180257 3.48908 0.158649 3.19028L3.61958 0.138917C3.82967 -0.0463058 4.17032 -0.0463058 4.38041 0.138917L7.84134 3.19028C8.18027 3.48908 7.94022 4 7.46093 4Z" fill="#26D156" />
                            </svg>
                        }
                        @if (game.Arrow < 0)
                        {
                            <svg width="8" height="4" viewBox="0 0 8 4" class="giz-icon-arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.539072 6.52255e-07L7.46094 4.71261e-08C7.94023 5.22493e-09 8.18026 0.510917 7.84135 0.809716L4.38042 3.86108C4.17033 4.04631 3.82968 4.04631 3.61959 3.86108L0.158661 0.809717C-0.180272 0.510917 0.0597779 6.94156e-07 0.539072 6.52255e-07Z" fill="#D2212B" />
                            </svg>
                        }
                    </CellTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.Player))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        player
                    </HeaderTemplate>
                    <CellTemplate>
                        <!--flag img-->
                        <img src="https://i.postimg.cc/ @game.Flag" class="giz-flag-icon" alt="loading" />
                        <!--/flag img-->
                        @game.Player
                    </CellTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.Tier))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        tier
                    </HeaderTemplate>
                    <CellTemplate>
                        @game.Tier
                    </CellTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.LP))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        lp
                    </HeaderTemplate>
                    <CellTemplate>
                        @game.LP
                    </CellTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.Games))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        games
                    </HeaderTemplate>
                    <CellTemplate>
                        @game.Games
                    </CellTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.KDA))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        kd/a
                    </HeaderTemplate>
                    <CellTemplate>
                        @game.KDA
                    </CellTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@(nameof(GameStatisticsViewModel.Victories))" TItemType="GameStatisticsViewModel" Context="game">
                    <HeaderTemplate>
                        win ratio
                    </HeaderTemplate>
                    <CellTemplate>
                        <PercentageStackBar ShowValues="true" Values="@(new List<decimal>() { @game.Victories, @game.Defeats })" Colors="@(new List<string>() { "#289bdd", "#bc3740" })" />
                        61%
                    </CellTemplate>
                </DataGridColumn>
            </ChildContent>
        </DataGrid>

        <!--/table wrapper-->
        <div class="giz-loading-btn">
            <Button Size="ButtonSizes.Large" Color="ButtonColors.Info" Class="load-games-button">load more</Button>
        </div>
    </section>
    <!--/apps and games-->
</div>
<!--/wrapper 2-->
