@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<!--wrapper 1-->
<div class="wrapper_1">
    <!--News section-->
    <section id="giz-news" class="pa-6">
        <NewsFeedCarousel />
    </section>
    <!--/News section-->
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!-- New App Section-->
    <section id="giz-apps" class="px-8 py-6">
        <!--row-->
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizNavigation Title="New Apps" />
            <!--/heading-->
            <div class="giz-wrapper">
                @foreach (var app in NewApplications)
                {
                    <ApplicationCard Application="@app" ShowDateAdded="true" OnOpenDetails="@OpenDetails"></ApplicationCard>
                }
            </div>
        </div>
    </section>
    <!--/New App Section-->
    <!--Top rated apps-->
    <section id="giz-apps" class="mt-10 px-8">
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizNavigation Title="New Apps" />
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                @foreach (var app in Applications)
                {
                    <ApplicationCard Application="@app" OnOpenDetails="@OpenDetails" OnOpenExecutableSelector="@OpenExecutableSelector"></ApplicationCard>
                }
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/Top rated apps-->
</div>
<!--/wrapper 2-->

<ApplicationDetailsDialog @bind-IsOpen="AppDetailsIsOpen" />
<ExecutableSelectorDialog @bind-IsOpen="ExecutableSelectorIsOpen" />

@code {

    private bool IsOpen { get; set; } = true;

    private void HideOrderModal()
    {
        IsOpen = !IsOpen;
    }

}

