@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<!--wrapper 1-->
<div class="wrapper_1">
    <section class="giz-shop-categories pa-6">
        <!--Apps and games Categories-->
        <div class="giz-header-title">Categories</div>
        <List CanClick="true" CanSelect="true" Class="giz-menu-list">
            @foreach (var productCategory in ProductCategories)
            {
                <ListItem>
                    <div class="d-flex">
                        <div class="mr-auto">
                            @productCategory.Name
                        </div>
                        <div class="giz-search-number">
                            @productCategory.Products
                        </div>
                    </div>
                </ListItem>
            }
        </List>
        <!--/Apps and games Categories-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--giz main-->
    <div class="giz-main">
        <!--wrapper 3-->
        <div class="wrapper_3  border-end">
            <!--apps and games-->
            <section id="giz-apps" class="px-8 py-6">
                <!--heading-->
                <div class="giz-shop-items">
                    <div class="giz-shop-items--heading">
                        Beverages
                    </div>
                    <div class="giz-shop-items--sort">
                        <svg width="20" height="8" viewBox="0 0 20 8" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-4">
                            <path d="M0.666016 0.5H19.3327V2.83333H0.666016V0.5ZM0.666016 5.16667H12.3327V7.5H0.666016V5.16667Z" />
                        </svg>
                        <span>Short by</span> Name
                        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2">
                            <path d="M1 1L4 4L7 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        @*<Select IsTransparent="true" HasOutline="false" @bind-Value="SelectedSortOption">
                                @foreach (var item in SortOptions)
                                {
                                    <SelectItem Value="@item" Text="@item" />
                                }
                            </Select>*@
                    </div>
                </div>
                <!--/heading-->
                <div class="giz-wrapper">
                    <!--carousel cards-->
                    @foreach (var product in Products)
                    {
                        <GizShopCard Product="@product" OnAddProduct="@AddProduct" />
                    }
                    <!--/carousel cards-->
                </div>
            </section>
        </div>
        <!--/wrapper 3-->
        <!--wrapper 4-->
        <div class="wrapper_4">
            <!--order section-->
            <section class="giz-order pa-5">
                <!--order menu-->
                <div class="giz-order-menu">
                    <!--order header-->
                    <div class="giz-order-menu--header">
                        <div class="giz-header-title">detail</div>
                        <div class="giz-header-heading">My order</div>
                    </div>
                    <!--/order header-->
                    <!--order body-->
                    <div class="giz-order-menu--body">
                        <!--no order text-->
                        <div class="giz-no-order-wrapper">
                            <div class="giz-no-order-wrapper--title">No products</div>
                            <div class="giz-no-order-wrapper--text">Add products to get started</div>
                        </div>
                        <!--/no order text-->
                        <!--order detail-->
                        <div class="giz-order-wrapper">
                            @if (Order != null)
                            {
                                @foreach (var orderLine in Order.OrderLines)
                                {
                                    <GizOrderItem OrderLine="@orderLine" OnRemoveProduct="@RemoveProduct" />
                                }
                            }
                        </div>
                        <!--order detail-->
                    </div>
                    <!--/order body-->
                    <!--order footer section-->
                    <div class="giz-order-menu--footer">
                        <div class="giz-order-message">
                            <form>
                                <textarea placeholder="Add your note..">  
                            </textarea>
                            </form>
                        </div>
                        <!--order summary-->
                        <div class="giz-order-summary">
                            <div class="giz-order-summary--text">Total</div>
                            <div class="giz-order-summary--number">@Order.Total.ToString("C")</div>
                            <div class="giz-order-summary--text">points</div>
                            <div class="giz-order-summary--number">@Order.PointsTotal</div>
                            <div class="giz-order-summary--text">awards</div>
                            <div class="giz-order-summary--number">@Order.PointsAwardTotal</div>
                        </div>
                        <!--/order summary-->
                        <!--order btn-->
                        <div class="giz-place-order-btn">
                            <button class="giz-btn-dark-graylish giz-dim-white-text d-none">place order</button>
                            <Button Size="ButtonSizes.Large" IsFullWidth="true" HasShadow="true">place order</Button>
                        </div>
                        <!--order btn-->
                    </div>
                    <!--order footer section-->
                </div>
                <!--/order-->
            </section>
            <!--/order section-->
        </div>
        <!--wrapper 4-->
    </div>
    <!--/giz main-->
</div>
<!--/wrapper 2-->
