@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.ViewModels

<div class="giz-product-details-wrapper">
    <div class="giz-product-details">
        <div class="giz-product-details__product giz-scrollbar--v">
            <NavLink href="@ClientRoutes.ShopRoute" class="giz-product-details__product__navigation">
                <div class="giz-product-details__product__navigation__icon">
                    <Icon SVGIcon="Icons.ArrowLeftLong_Client" />
                </div>
                <div class="giz-product-details__product__navigation__label">
                    @LocalizationService.GetString("GIZ_GEN_BACK_TO", LocalizationService.GetString("MODULE_PAGE_SHOP_TITLE"))
                </div>
            </NavLink>
            <div class="giz-product-details__product__info">
                <div class="giz-product-details__product__info__image">
                    @if (ProductDetailsPageService.ViewState.Product?.DefaultImageId.HasValue == true)
                    {
                        <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@ProductDetailsPageService.ViewState.Product.DefaultImageId.Value" />
                    }
                    else
                    {
                        <img src="_content/Gizmo.Client.UI/img/no-product-image.png" alt='loading' />
                    }
                </div>
                <div class="giz-product-details__product__info__basic">
                    <div class="giz-product-details__product__info__basic__category">
                        @if (ProductDetailsPageService.ViewState.Product != null)
                        {
                            @(UserProductGroupViewStateLookupService.GetStateAsync(ProductDetailsPageService.ViewState.Product.ProductGroupId).GetAwaiter().GetResult().Name)
                        }
                    </div>
                    <div class="giz-product-details__product__info__basic__title">
                        @ProductDetailsPageService.ViewState.Product?.Name
                    </div>
                    <div class="giz-product-details__product__info__basic__description">
                        @ProductDetailsPageService.ViewState.Product?.Description
                    </div>
                    <div class="giz-product-details__product__info__basic__action">
                        <div class="giz-product-details__product__info__basic__action__price">
                            @ProductDetailsPageService.ViewState.Product?.UnitPrice.ToString("C2")
                        </div>
                        <ProductQuantityPicker ProductId="@ProductId" PikerSize="ButtonSizes.Large" />
                        @*<Button LeftSVGIcon="Icons.ShoppingCart_Client" Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" @onclick="OnAddQuantityButtonClickHandlerAsync" Text="@LocalizationService.GetString("GIZ_SHOP_ADD_TO_CART")" />*@
                    </div>
                </div>
            </div>
            @if (@ProductDetailsPageService.ViewState.Product?.ProductType == ProductType.ProductBundle)
            {
                <div class="giz-product-details__product__bundled-products">
                    @foreach (var product in ProductDetailsPageService.ViewState.Product.BundledProducts)
                    {
                        <div class="giz-product-details__product__bundled-products-product">
                            @if (ProductDetailsPageService.ViewState.Product?.DefaultImageId.HasValue == true)
                            {
                                <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@ProductDetailsPageService.ViewState.Product.DefaultImageId.Value" />
                            }
                            else
                            {
                                <img src="_content/Gizmo.Client.UI/img/no-product-image.png" alt='loading' />
                            }
                        </div>
                    }
                </div>
            }
            <div class="giz-product-details__product__related">
                <div class="giz-product-details__product__related__header">
                    @LocalizationService.GetString("GIZ_SHOP_RELATED_PRODUCTS")
                </div>

                <div class="giz-product-details__product__related__body">
                    @if (ProductDetailsPageService.ViewState.RelatedProducts != null)
                    {
                        @foreach (var product in ProductDetailsPageService.ViewState.RelatedProducts)
                        {
                            <ProductCard Product="@product" />
                        }
                    }
                </div>
            </div>
        </div>
        <div class="giz-product-details__order">
            <GizOrder />
        </div>
    </div>
</div>
