@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.ViewModels

<div class="giz-shop-wrapper">
    <div class="giz-shop">
        <div class="giz-shop__products">
            <div class="giz-shop__products__header">
                <div class="giz-shop__products__header__tab">
                    <ClientTab>
                        <ClientTabItem Class="@(!ViewState.SelectedUserProductGroupId.HasValue ? "active" : "")">
                            <div @onclick=@(() => ShopService.UpdateUserGroupedProductsAsync(null))>
                                @LocalizationService.GetString("GIZ_GEN_ALL")
                            </div>
                        </ClientTabItem>
                        @if (ViewState.UserProductGroups != null)
                        {
                            @foreach (var productGroup in ViewState.UserProductGroups)
                            {
                                <ClientTabItem Class="@(productGroup.ProductGroupId == ViewState.SelectedUserProductGroupId ? "active" : "")">
                                    <div @onclick=@(() => ShopService.UpdateUserGroupedProductsAsync(productGroup.ProductGroupId))>
                                        @productGroup.Name
                                    </div>
                                </ClientTabItem>
                            }
                        }
                    </ClientTab>
                </div>
            </div>
            <div class="giz-shop__products__body giz-ads-container giz-scrollbar--v">
                <div class="giz-shop__products__body__ads">
                    <ExpansionPanel IsCollapsed="@AdvertisementsViewState.IsCollapsed" IsCollapsedChanged="@((value) => AdvertisementsViewStateService.SetCollapsed(value))">
                        <Header>
                            @LocalizationService.GetString("GIZ_GEN_ADS")
                        </Header>
                        <ChildContent>
                            <AdsCarousel Interval="5000" />
                        </ChildContent>
                    </ExpansionPanel>
                </div>
                @foreach (var productGroup in ViewState.UserGroupedProducts)
                {
                    <div class="giz-section">
                        <ProductsIndexSectionHeader @key="productGroup.Key" ProductGroupId="@productGroup.Key" />
                        <div class="giz-section__body">
                            <ProductVirtualizedCards Items="productGroup" ColumnsCount="ViewState.CardsColumsCount"/>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="giz-shop__order">
            <GizOrder />
        </div>
    </div>
</div>
