@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels
@using Gizmo.UI.Services

@inject ILocalizationService localizationService 

<div class="giz-product-details-wrapper">
    <div class="giz-product-details">
        <div class="giz-product-details__product">
            <NavLink href="@ClientRoutes.ShopRoute" class="giz-product-details__product__navigation">
                <div class="giz-product-details__product__navigation__icon">
                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.4938 7.99988L9.34743 2.42872L7.96861 0.97998L0.310587 8.26846C-0.103212 8.66229 -0.103578 9.32214 0.309783 9.71643L7.96781 17.0211L9.34824 15.5739L3.50459 9.99988L19.9999 10.0009L20.0001 8.00094L11.7469 8.00041L3.4938 7.99988Z" fill="#FAFAFA"/>
                    </svg>
                </div>
                <div class="giz-product-details__product__navigation__label">
                    Back to Shop
                </div>
            </NavLink>
            <div class="giz-product-details__product__info">
                <div class="giz-product-details__product__info__image">
                    @if (ProductDetailsPageService.ViewState.Product?.ImageId.HasValue == true)
                    {
                        <GizImage ImageType="Gizmo.UI.ImageType.ProductDefault" ImageId="@ProductDetailsPageService.ViewState.Product.ImageId.Value" />
                    }
                    else
                    {
                        <img src="_content/Gizmo.Client.UI/img/Cola.png" alt='loading' />
                    }
                </div>
                <div class="giz-product-details__product__info__basic">
                    <div class="giz-product-details__product__info__basic__category">
                        Beverages
                    </div>
                    <div class="giz-product-details__product__info__basic__title">
                        @ProductDetailsPageService.ViewState.Product?.Name
                    </div>
                    <div class="giz-product-details__product__info__basic__description">
                        @ProductDetailsPageService.ViewState.Product?.Description
                    </div>
                    <div class="giz-product-details__product__info__basic__action">
                        <div class="giz-product-details__product__info__basic__action__price">
                            @ProductDetailsPageService.ViewState.Product?.UnitPrice.ToString("C2")
                        </div>
                        <Button LeftSVGIcon="Icons.ShoppingCart_Client" Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" @onclick="@(() => AddProduct(ProductId))" Text="@localizationService.GetString("GIZ_SHOP_ADD_TO_CART")" />
                    </div>
                </div>
            </div>
            @if (@ProductDetailsPageService.ViewState.Product?.ProductType == ProductType.ProductBundle)
            {
                <div class="giz-product-details__product__bundled-products">
                    @foreach (var product in ProductDetailsPageService.ViewState.Product.BundledProducts)
                    {
                        <div class="giz-product-details__product__bundled-products-product">
                            <img src="_content/Gizmo.Client.UI/img/@ProductDetailsPageService.ViewState.Product?.ImageId" alt="loading" />
                        </div>
                    }
                </div>
            }
            <div class="giz-product-details__product__related">
                <div class="giz-product-details__product__related__header">
                    Related products
                </div>
                
                <div class="giz-product-details__product__related__body">
                    @if (ProductDetailsPageService.ViewState.RelatedProducts != null)
                    {
                        @foreach (var product in ProductDetailsPageService.ViewState.RelatedProducts)
                        {
                            <ProductCard Product="@product" IsHoverable="true" />
                        }
                    }
                </div>
            </div>
        </div>
        <div class="giz-product-details__order">
            <GizOrder />
        </div>
    </div>
</div>
